[2019-03-10 16:48] serviceproviderpk commented on #91
6) move all menu under "Development" which are related to Development or related to software development.

[2019-03-10 17:04] serviceproviderpk commented on #91
7) if i click on post details
and click on any button it is giving error.
it shd open page to add/edit item.
![image](https://user-images.githubusercontent.com/19146254/54088457-13e28d00-4380-11e9-9c99-77bac93d85eb.png)

[2019-03-10 17:05] serviceproviderpk commented on #91
8) remove this section from all pages.
![image](https://user-images.githubusercontent.com/19146254/54088517-89e6f400-4380-11e9-91e7-562cb5e2cb05.png)

[2019-03-10 17:29] serviceproviderpk commented on #91
9) tables which are not in use remove from database forexample
Users

[2019-03-10 17:45] serviceproviderpk commented on #91
10) in project there 2 controller with same name "ManagePosts"
old controller i have renamed with "ManagePostsX"

now its upto you. you can use old or new...

[2019-03-11 11:45] Abuzarmehdi954 commented on #91
2: add button "Submit Your Picture"

"RFR"
3: if click on Articles, getting error

        "RFR"
4 :buttons are mixing eachother
use simple text or some small ions with text plz

      "RFR"
5: in admin section, show all users.
admin sh'd be able to edit any user
admin can change any user to admin etc.

        "RFR"
6: move all menu under "Development" which are related to Development or related

[2019-03-14 09:49] danishaali9 commented on #90
Tasks which are done
1.
b),c)
2,3,4,5,7

[2019-03-14 13:13] danishaali9 commented on #90
Pending Issues
1 a)
5 b), 5 c), 6

[2019-03-14 13:15] danishaali9 commented on #90
8. customer services ->  a button showing customer list

9. in invocie manager -> text box description

[2019-04-07 14:27] serviceproviderpk opened #92 "KFS Meals"
1) we need to show count in shopping cart
![image](https://user-images.githubusercontent.com/19146254/55685003-feef1e80-596a-11e9-8ac4-547912be7096.png)

now there are two shopping cart one for meals and other for other menu.

as we have items in session list on the basis of items we can change count link of the Cart page.

[2019-04-07 14:35] serviceproviderpk commented on #92
2) Please also test all flow in mobile UI, layout looking fine
no overlapp
![image](https://user-images.githubusercontent.com/19146254/55685180-943ee280-596c-11e9-97e6-6ea05e3f43bf.png)

test all flow in mobile plz

[2019-04-10 00:51] serviceproviderpk commented on #80
1) When User login to the software/portal please save login details

[2019-04-10 00:52] serviceproviderpk commented on #80
2) Change Page title,keywords, description of its Home page only right now it is showing for school managment software

[2019-04-10 00:53] serviceproviderpk commented on #80
3) if i click on Send button it is giving error.
it must save in table. if not table in db you can create, make sure copy script of the table
in admin section show list of subscribers

[2019-04-10 00:55] serviceproviderpk commented on #80
4) set social icons
![image](https://user-images.githubusercontent.com/19146254/55844084-10941a00-5b55-11e9-9820-b077618a8c2c.png)
in foooter and top
![image](https://user-images.githubusercontent.com/19146254/55844097-24d81700-5b55-11e9-8f15-3fc292bba235.png)

in top in social icons use some space  links are looking conjusted.

[2019-04-10 00:56] serviceproviderpk commented on #80
5)
![image](https://user-images.githubusercontent.com/19146254/55844118-45a06c80-5b55-11e9-8f7a-123e67c648f1.png)
add website link , if is changed from Database table then change it in database
adil will guide you.

[2019-04-10 00:57] serviceproviderpk commented on #80
6)
![image](https://user-images.githubusercontent.com/19146254/55844162-6d8fd000-5b55-11e9-9b82-e8fef631a361.png)
use compnay name "Asian Institute of Pharmacy & Health Sciences (AIPHS)"

[2019-04-10 00:59] serviceproviderpk commented on #80
7) increase logo size
![image](https://user-images.githubusercontent.com/19146254/55844233-bd6e9700-5b55-11e9-984d-480d33baf56f.png)
atleast it is readable and give some good look.as much as its look good.

[2019-04-10 01:03] serviceproviderpk commented on #80
8) use same green as green color is used in logo
![image](https://user-images.githubusercontent.com/19146254/55844344-4980be80-5b56-11e9-8400-68d0bd4bff38.png)

[2019-04-10 01:04] serviceproviderpk commented on #80
9) if user click on logo (top logo and footer logo) redirect to  Home page "/"

[2019-04-10 01:05] serviceproviderpk commented on #80
10) on login page show logo of aipsh http://aiphs.pk/Account/Login
you can change color sceme of login page if required.

[2019-04-10 01:07] serviceproviderpk commented on #80
11) Explore database of  whole project and test system after login
so that i can assign some task related to admin.

[2019-04-10 01:12] #66 closed, assigned to nobody

[2019-04-10 01:14] #61 closed, assigned to nobody

[2019-04-10 01:14] #53 closed, assigned to nobody

[2019-04-10 01:15] #86 closed, assigned to nobody

[2019-04-10 01:15] #77 closed, assigned to Abuzarmehdi954

[2019-04-10 01:15] #82 closed, assigned to nobody

[2019-04-10 01:16] #81 closed, assigned to adilshehbaz

[2019-04-10 01:19] serviceproviderpk opened #93 "Saudi Phone"
1) Please check news detail page
it is showing zig at bottom
http://saudi-phone.com/news/salvaged-samsung-galaxy-note-7-parts-may-be-about-to-go-on-sale-in-new-phones-597134

[2019-04-10 01:19] serviceproviderpk commented on #93
2) Check news list page it is not showing latest news on top.

[2019-04-10 01:21] serviceproviderpk commented on #93
3) if news title is big use Truncate function from BusinessManager.
abuzr can guide you.
![image](https://user-images.githubusercontent.com/19146254/55844850-ce6cd780-5b58-11e9-893d-6e38525065a3.png)

[2019-04-10 01:23] serviceproviderpk commented on #93
4) website not showing favicon
![image](https://user-images.githubusercontent.com/19146254/55844891-f0fef080-5b58-11e9-9468-fff056a8bc8a.png)

[2019-04-10 01:25] serviceproviderpk commented on #93
5) for product details, we need a logic
we will split product title in two arrays of character

on this list of those character we will get news details
and will display those news below the product price list.

we will create a partial to that partial view will send a  "Product Name" as string that will return list of news title,description, created date and news category.

i will explain it to y

[2019-04-10 01:27] serviceproviderpk commented on #93
as above task done.

please use admin section list down if you face any issue. while using this website.

[2019-04-10 06:26] adilshehbaz commented on #80
Search on Attendance

[2019-04-10 06:26] adilshehbaz commented on #80
Staff Sallery

[2019-04-10 06:27] adilshehbaz commented on #80
On Fee Receipt Total Annual Amount, Paid, Balance hide in print

[2019-04-10 06:27] adilshehbaz commented on #80
Fee Record Amount Issue

[2019-04-10 06:27] adilshehbaz commented on #80
Fee Collect Report

[2019-04-10 06:28] adilshehbaz commented on #80
Stock Management

[2019-04-10 06:28] adilshehbaz commented on #80
Books Registration Separate

[2019-04-11 11:26] Abuzarmehdi954 commented on #80
RFR

[2019-04-15 04:39] #30 closed, assigned to nawabanjum

[2019-04-15 04:39] #26 closed, assigned to serviceproviderpk, adilshehbaz

[2019-04-16 05:30] #90 closed, assigned to nobody

[2019-04-16 05:31] serviceproviderpk opened #94 "sp.pk"
1) Manage document types
2) Manage documents
3) Customer Feedback and CustomerPaymentsFollowup

[2019-04-20 01:35] #92 closed, assigned to nobody

[2019-04-20 01:36] serviceproviderpk opened #95 "foodweb feedback"
Changes for Weekly Meal Plan
0) Allow user to view meals plan without being ask to register or login (when user will try to add to cart then we will all ask him to register/login
choosed item will be added into cart instead of re-asking)

1) Any Meal Item under Meals Plan cannot be allowed to be added to cart if the user doesnt have a meal plan package purchased. So we need check for an account re

[2019-04-20 01:39] serviceproviderpk commented on #95
8)
![image](https://user-images.githubusercontent.com/19146254/56449720-003f2480-6337-11e9-9aef-823ba3af64af.png)

[2019-04-20 01:45] serviceproviderpk commented on #95
9) in user dashobard add new link
My Meals
so list of the meal that he bought so far. API URL is

https://ws.360kmall.com:8000/wstest/GetCloseByServices.svc/json/getusermealsplan?userid={userid}

userid you wil get from session as user is logged in.

[2019-04-22 06:36] serviceproviderpk opened #96 "Danish task"
1) for books+novel how category on right side.
2) set social icon from web.config
3) add new link "News" show list of news  and news detail page in next page
4)  add new link "Interviews" create table of interviews if not in db
do its CRUd

we will also have interviewsCategory

[2019-04-22 16:25] serviceproviderpk commented on #95
10) please test all flow in IE

[2019-04-25 00:51] serviceproviderpk commented on #95
11) if i click on calender icon it must display calender, right now it only display when i click on textbox
![image](https://user-images.githubusercontent.com/19146254/56702550-145f9900-671e-11e9-84f7-e8e80c572dd8.png)

today is 25 .  i must be not able to select start date coming saturday that is 27.

[2019-04-25 00:56] serviceproviderpk commented on #95
12) By default adon qunity must be 0 instead of 1
![image](https://user-images.githubusercontent.com/19146254/56702590-54268080-671e-11e9-8907-c2f3c12404ec.png)

make sure adons will be optional

[2019-04-25 01:01] serviceproviderpk commented on #95
13) please also use sub headings for this section
![image](https://user-images.githubusercontent.com/19146254/56702843-8e445200-671f-11e9-81e4-bdd84114de96.png)

as we have done Meal Plan detail page.

[2019-04-25 06:08] serviceproviderpk opened #97 "newera"
1) remove phone number from contact us page

[2019-04-25 06:09] serviceproviderpk commented on #97
2)http://nv.neweramagazine.com/Browse_StaticPages/About_Us

give some it proper heading and proper text
its looking zig zag

[2019-04-25 06:10] serviceproviderpk commented on #97
3)
using same logo in header and footer.
you can downlaod from this link http://nv.neweramagazine.com/Common/logo.png

[2019-04-25 06:11] serviceproviderpk commented on #97
4) getting error on English novel.
http://nv.neweramagazine.com/best-novels/english-novels-5

make sure categor can edit only not deleted.

[2019-04-25 06:11] serviceproviderpk commented on #97
5)
![image](https://user-images.githubusercontent.com/19146254/56713328-eba1c880-674a-11e9-8ed1-e55d0cafeb68.png)
use proper spacing

[2019-04-25 06:12] serviceproviderpk commented on #97
6) re-edit post that you created for testing purpose with some valid text

[2019-04-25 06:13] serviceproviderpk commented on #97
7) re-test admin section
all  page are working fine.

[2019-04-25 06:14] serviceproviderpk commented on #97
as free from above issue
check saudi phone task on this https://github.com/serviceproviderpk/sp.pk/issues/93

[2019-05-12 18:48] #97 closed, assigned to nobody

[2019-05-12 18:49] #96 closed, assigned to nobody

[2019-05-12 18:49] #95 closed, assigned to usmanfarooq05

[2019-05-12 18:50] serviceproviderpk commented on #93
- admin section add new link "Manage News"
show list of news and also add new button "Add news"
check if this working is already in the dashobard.

[2019-05-13 00:26] #78 closed, assigned to serviceproviderpk

[2019-05-13 00:26] #91 closed, assigned to nobody

[2019-05-13 07:47] danishaali9 commented on #93
- product and feature

[2019-05-15 06:09] serviceproviderpk opened #98 "ips"
1- affiliation=> new page edit able from admin
2- option to add/edite/delete in static page
we will add new menu pages

3- use header logo in all places

4- change certifications to "Distance learning
![image](https://user-images.githubusercontent.com/19146254/57753309-4359a100-7705-11e9-8365-ec2847250055.png)

5- from homepage remove
![image](https://user-images.githubusercontent.com/19146254/577

[2019-05-15 06:09] serviceproviderpk commented on #98
6- remove this section
![image](https://user-images.githubusercontent.com/19146254/57752253-f0321f00-7701-11e9-8ea6-c31af17adeaf.png)

[2019-05-15 06:10] serviceproviderpk commented on #98
7- move able news
![image](https://user-images.githubusercontent.com/19146254/57752286-0d66ed80-7702-11e9-9b30-1f2ebebbc5b8.png)

[2019-05-15 06:13] serviceproviderpk commented on #98
8- increase size
![image](https://user-images.githubusercontent.com/19146254/57752337-42734000-7702-11e9-8955-fbd377e33b04.png)

[2019-05-15 06:13] serviceproviderpk commented on #98
9-
![image](https://user-images.githubusercontent.com/19146254/57752382-6fbfee00-7702-11e9-94c0-61cd1891ab11.png)
decrease hight in all pages
and remove apply now button

[2019-05-15 06:15] serviceproviderpk commented on #98
10-
![image](https://user-images.githubusercontent.com/19146254/57752427-92520700-7702-11e9-9986-ab36b372a9f4.png)
11- move it up
![image](https://user-images.githubusercontent.com/19146254/57752453-b01f6c00-7702-11e9-92b6-6f32e13330d4.png)

remove enquiry section from here

[2019-05-15 06:16] serviceproviderpk commented on #98
12- logout button must working and clear session

[2019-05-15 06:18] serviceproviderpk commented on #98
13-
![image](https://user-images.githubusercontent.com/19146254/57752549-055b7d80-7703-11e9-93a3-5d82b9218994.png)
must have only following inforamtion in admin section

Ttitle,
duration
Eligibilty
required documents
photo
Coursefee
Other

[2019-05-15 06:19] serviceproviderpk commented on #98
14- add/edit/delete option in all sections of admin
15- getting erorr when click on "FAQ " page

[2019-05-15 06:21] serviceproviderpk commented on #98
15-reduce text boxex size
show contact detail on top
![image](https://user-images.githubusercontent.com/19146254/57752744-916da500-7703-11e9-8ca7-db9da530e745.png)

[2019-05-15 06:23] serviceproviderpk commented on #98
16- increase font size
![image](https://user-images.githubusercontent.com/19146254/57752823-cf6ac900-7703-11e9-9ee6-6b835bd0e9d4.png)

change to  20 px

[2019-05-15 06:24] serviceproviderpk commented on #98
17-
![image](https://user-images.githubusercontent.com/19146254/57752878-fde8a400-7703-11e9-8a71-9007fc27e18b.png)
show news marquee between slider and this section

[2019-05-15 06:25] serviceproviderpk commented on #98
18- change color to red of logo color
![image](https://user-images.githubusercontent.com/19146254/57752944-28d2f800-7704-11e9-9132-14560aaf7932.png)

[2019-05-15 06:26] serviceproviderpk commented on #98
19- change logo
![image](https://user-images.githubusercontent.com/19146254/57752973-41dba900-7704-11e9-82fa-192e5b3e2f98.png)

remove register button

[2019-05-15 06:27] serviceproviderpk commented on #98
20- http://ipslahore.pk/ManageEnquiry
delete option

[2019-05-15 06:28] serviceproviderpk commented on #98
21-faqs

[2019-05-15 06:29] serviceproviderpk commented on #98
22-Daily Task
Timesheet

[2019-05-15 06:29] serviceproviderpk commented on #98
23- system user

[2019-05-15 06:32] serviceproviderpk commented on #98
24-other pages

[2019-05-16 06:18] serviceproviderpk opened #99 "Quick feedback"
1- In emplyee grid show email

[2019-05-16 06:20] serviceproviderpk commented on #99
2- You are logged in  Branch|Staff|whatevertype
![image](https://user-images.githubusercontent.com/19146254/57830872-e45f5f00-77cc-11e9-8e37-ecb82ca54c44.png)
rename to Account Details
when user click on it. show new in new tab

[2019-05-16 06:20] serviceproviderpk commented on #99
3- Branch Name:

[2019-05-17 06:19] TahirHussai commented on #99
1.fixed
2.fixed

[2019-05-20 07:12] SajjadAhmad111 commented on #98
feedback by sir asif

inquiry - no edit button

courses - - add delete button -

upper than distance learning
new scrolling

news image

feedback by sir asif

user - add edit delete

users are of two types	normal	admin
normal user will ony have access to timesheet(staff report)
table-admin
timesheet - new crud to be made
admin will have overall all screens of admin access

add applynow in green bo

[2019-05-23 06:31] #98 closed, assigned to nobody

[2019-05-23 06:33] serviceproviderpk opened #100 "IPS Feedback"
1- For staff reporting just like apply now option but will be separtely manage.

Date
Staff name
Designation
Center

Receipt
Expense
Cash in hand
Bank deposit

Remarks

Please micrsoft word should be compatible with this web sit

[2019-05-23 06:34] serviceproviderpk commented on #100
2- session filter apply only Edit+add+delete action

[2019-05-23 06:36] serviceproviderpk commented on #100
[20:11, 5/22/2019] Dawood Aiphs: In dashboard

3. Categories list plz add delete option

4. Sir where is the option for Faqs for feeding
5- Staff reporting portal not added
admin will see all reports other user can see their reports only

[2019-05-23 06:39] serviceproviderpk commented on #100
5- fag will be set from faq table

[2019-05-23 07:07] serviceproviderpk commented on #100
6- admin list add+edit+

[2019-05-23 07:08] serviceproviderpk commented on #100
7-Staff Report for other uses

for admin all menu

[2019-05-23 07:08] serviceproviderpk commented on #100
1- Fixed

[2019-05-25 05:37] #79 closed, assigned to adilshehbaz

[2019-05-25 05:37] #80 closed, assigned to adilshehbaz

[2019-05-25 05:38] serviceproviderpk opened #101 "f2f"
Get latest and use databse "Fun2FreshDBV6_16.bak"

1- remove delete option from admin section
2- in all action add/edit/delete use session filter
3- as admin is login can view all data all data of the portal -- usertypeid=11 is admin
4- normal user can view add/edit his added features only
5- check emails tempalted text and format when user register and forgot password -- check spelling and format

[2019-05-25 05:42] serviceproviderpk commented on #101
7- in admin section check CRUD of each section working fine.

[2019-05-25 05:43] serviceproviderpk commented on #101
when above task done check in code+db and whatsapp me.

[2019-05-25 05:59] serviceproviderpk commented on #101
8-
![image](https://user-images.githubusercontent.com/19146254/58365327-17e06e80-7edc-11e9-8391-3aecee69183f.png)
use html.raw
for formatting of html

[2019-05-25 06:01] #84 closed, assigned to nobody

[2019-05-25 06:02] #71 closed, assigned to nobody

[2019-05-27 06:29] #93 closed, assigned to nobody

[2019-05-27 06:31] serviceproviderpk opened #102 "Saudi phone"
1- in product table add new fields "RelatedInformation" datatype nvarcharmax
also add this field in add/edit product page

[2019-05-27 06:34] serviceproviderpk commented on #102
2- add new link  "Advertise your with us!"
when user will click show new page
with following boxes

Your Name,
Your Email,
Your Phone,
Details

when user will fill above thing send email on sp.pk email id
and also save information in database
admin section show list of above

[2019-05-27 06:36] serviceproviderpk commented on #102
3- in admin section create section of Static Pages
do its Crud in admin section.

Create a static page with name "Who we are?"

when user will click on it, we will show data on that page from static table of database.

[2019-06-06 01:09] #102 closed, assigned to SajjadAhmad111

[2019-06-06 01:10] #76 closed, assigned to nobody

[2019-06-06 01:10] #101 closed, assigned to nobody

[2019-06-06 01:10] #99 closed, assigned to serviceproviderpk

[2019-06-06 01:11] #11 closed, assigned to nobody

[2019-06-06 01:12] #32 closed, assigned to nawabanjum, serviceproviderpk

[2019-06-06 01:12] #33 closed, assigned to nawabanjum, serviceproviderpk, adilshehbaz

[2019-06-06 01:12] #55 closed, assigned to nobody

[2019-06-06 01:12] #94 closed, assigned to nobody

[2019-06-06 01:12] #85 closed, assigned to nobody

[2019-06-06 01:12] #75 closed, assigned to nobody

[2019-06-06 01:13] #74 closed, assigned to nobody

[2019-06-06 01:13] #68 closed, assigned to nawabanjum, serviceproviderpk

[2019-06-06 01:13] #56 closed, assigned to nobody

[2019-06-06 01:13] #54 closed, assigned to nawabanjum, serviceproviderpk, adilshehbaz

[2019-06-06 01:13] #52 closed, assigned to nawabanjum

[2019-06-06 01:13] #36 closed, assigned to nobody

[2019-06-06 01:13] #34 closed, assigned to serviceproviderpk

[2019-06-06 01:14] serviceproviderpk commented on #69
@nawabanjum

are you getting this message???

[2019-06-29 18:09] serviceproviderpk opened #103 "Saudi phone"
1) in admin section create a page, that will show list of Features products.
in that list add  button "Un Featured"

[2019-07-11 07:25] serviceproviderpk commented on #103
2- Create a new home page with name "HomeV2"

create a new home for website that will have 3 section

left bar,
right bar,
center sections

all section will title and description.

[2019-07-17 01:10] serviceproviderpk opened #104 "NA Feedback"
1- On Add/Edit Student if user select/change any program from drop down
following control sh'd be clear.
Section
Fee Package
Discount
Discount Amount

2-  Fee packages are not dispalying as fractions
![image](https://user-images.githubusercontent.com/19146254/61572378-f48a0800-aab5-11e9-9039-5f52bcd218fc.png)

![image](https://user-images.githubusercontent.com/19146254/61572386-010e6080-aab6-11e9-

[2019-07-17 01:11] serviceproviderpk commented on #104
6) remove label
![image](https://user-images.githubusercontent.com/19146254/61339974-b7293e80-a859-11e9-8a5e-29f471f2a414.png)

[2019-07-17 01:16] serviceproviderpk commented on #104
4- Add Inquiry not working , its not adding inquiry

no validation working on Enquiry and not saving in database.
https://www.loom.com/share/d64c342d811f455eafca962d1610423f?focus_title=1&muted=1

5) Show latest transcript on top in grid

[2019-07-17 01:19] serviceproviderpk commented on #104
8) add new column "Download" when user click on , attachement will be downloaded.
reduce width of action column
![image](https://user-images.githubusercontent.com/19146254/61340194-b6dd7300-a85a-11e9-8909-d0971f6a67e6.png)

9) on edit enquiry duration is not displaying correct value
![image](https://user-images.githubusercontent.com/19146254/61340223-d83e5f00-a85a-11e9-917c-8a410d52b711.png)

[2019-07-17 01:21] serviceproviderpk commented on #104
10) on edit Enquiry i see bread crumb title is "Add"
![image](https://user-images.githubusercontent.com/19146254/61340296-22bfdb80-a85b-11e9-8dce-95e52fd92245.png)

[2019-07-17 01:29] serviceproviderpk commented on #104
11) on trasciprt student id and student name is missing

![image](https://user-images.githubusercontent.com/19146254/61340554-459ebf80-a85c-11e9-963f-48f45c14e566.png)

[2019-07-17 01:31] serviceproviderpk commented on #104
12) show student id and student name and email as well.

[2019-07-17 01:36] serviceproviderpk commented on #104
13) on Transcirpt add
![image](https://user-images.githubusercontent.com/19146254/61340767-2a807f80-a85d-11e9-96b6-6a3b1001c886.png)

a) heading is missing
b) show search able dropdown
must search on "Student id,name and email as well" on search result dipslay data as
"studentid + full name  + email"  show  top 50 instead of n records.

this dropdown pattern will be use in all over the projects. i

[2019-07-17 01:37] serviceproviderpk commented on #104
14) on transcript list "Double click " on grid is not displaying edit mode
![image](https://user-images.githubusercontent.com/19146254/61340820-661b4980-a85d-11e9-917d-81fbe9bab934.png)

[2019-07-17 01:39] serviceproviderpk commented on #104
15) Adil please make sure both icons are in center of the row verticlly
![image](https://user-images.githubusercontent.com/19146254/61340859-9531bb00-a85d-11e9-9c9b-65a18e0ced94.png)

[2019-07-17 01:41] serviceproviderpk commented on #104
16) i am unaable to test  "Add Student" because there is no fee package define.

Please make sure, we have must have proper data in prograam+fee packages and session to test app properly.

[2019-07-17 14:16] TahirHussai commented on #104
1- Rename page title in all places from "School Management Software" to "Calgary Academy"
2- on enquiyr page and student page, first character of lablel will be capital others will be small.
4- i can see only two options in programs and both are same. make sure, Program Name must be unique in specific session
5- in Program list where we have mension Duration also mention Hours Please
6.remove labe

[2019-07-18 07:41] TahirHussai commented on #104
15)
![image](https://user-images.githubusercontent.com/46710856/61438560-36516c00-a959-11e9-995a-30d82269e4b7.png)

add also cancel button

on cancel clear feed pacakges etc

[2019-07-18 07:43] TahirHussai commented on #104
16) add "Hours" where we are displaying "Duraiton"

[2019-07-18 07:44] TahirHussai commented on #104
17) http://localhost:22048/Student/index/#

in grid display created date, studentid, name,email

[2019-07-18 07:46] TahirHussai commented on #104
18) use currency in all places where we are displaying "Amount or FEE

[2019-07-18 07:48] TahirHussai commented on #104
19) on calss edit/create show proper bredcurmb.

[2019-07-18 07:50] TahirHussai commented on #104
20- on section screen add icon of "Program" instead of text

[2019-07-18 14:44] TahirHussai commented on #104
13.on Transcirpt add (a) and (b)
16.add "Hours" where we are displaying "Duraiton"
17.http://localhost:22048/Student/index/#  in grid display created date, studentid, name,email
18. use currency in all places where we are displaying "Amount or FEE
19.on calss edit/create show proper bredcurmb.
20.on section screen add icon of "Program" instead of text

[2019-07-19 01:16] serviceproviderpk commented on #104
Feedback July 17 2019

[2019-07-19 01:21] serviceproviderpk commented on #104
admin detail will be

email : admin@niwe.ca
passowrd: admin321

Branch default login will be as below

Branch Login : ca@niwe.ca
Passowrd:	admin321

1) Set defautt date of Programm end  3 month later.
2)  use validatin on document title.
![image](https://user-images.githubusercontent.com/19146254/61502411-474bbd00-a9ed-11e9-8d72-d25cb8aaf14f.png)

OR

if user dont specify set file name as title

[2019-07-19 01:23] serviceproviderpk commented on #104
3) always use not null check PLEASE while you do some action.

. if there is no question data must be save .
![image](https://user-images.githubusercontent.com/19146254/61502501-a6a9cd00-a9ed-11e9-8fc5-8ece86768381.png)

[2019-07-19 01:23] serviceproviderpk commented on #104
4- in all js function. if there is error un-block UI and show message in alert.

Sytem error + show error message

[2019-07-19 01:26] serviceproviderpk commented on #104
5- in enquiry Grid show follwing fields as well with sequesne

Inquiry ID,Date,Status, Name,Email,Phone,Mobile,Postal code, city

[2019-07-19 01:32] serviceproviderpk commented on #104
6) use standard spaces from top and bottom of all pages. it must be consistent plese

![image](https://user-images.githubusercontent.com/19146254/61502798-c5f52a00-a9ee-11e9-8df8-30515d1101b3.png)

[2019-07-19 01:34] serviceproviderpk commented on #104
7) on add student, I selecteced one program and saved, again i choose an other program.
feed package not displayed, and also dont see the   "Add" button.

[2019-07-19 01:36] serviceproviderpk commented on #104
8) on edit student  screen, i tried to register new Program.
fee section not displayed.

![image](https://user-images.githubusercontent.com/19146254/61503005-8f6bdf00-a9ef-11e9-9b2b-799bf08fab10.png)

Please test it properly with diffrent flows.

[2019-07-19 01:41] serviceproviderpk commented on #104
9) from stuent grid, i click on edit button. "Only changed" Date of Birth. and click on next and save button.
getting error on fee.
![image](https://user-images.githubusercontent.com/19146254/61503166-289af580-a9f0-11e9-984c-8b27f2f3f9e2.png)

[2019-07-19 01:43] serviceproviderpk commented on #104
6) on Student Leave Form i logged in as admin

Bind student drop down as i said more than 5 times

Student id+" - "+  Full name +"-  " + Email

IN ALL PLACES WHERE WE ARE BINDING STUDENT DROP DOWN!!!!!!!!!!!!

[2019-07-19 05:57] adilshehbaz commented on #104
**Feedback July 17 2019
Fixed points are

1,2,3,5,6,7,8,9,10**

[2019-07-20 00:36] serviceproviderpk commented on #104
11- @TahirHussai
 remove back ground color
![image](https://user-images.githubusercontent.com/19146254/61571823-fd77db00-aaaf-11e9-8a2c-c80ee1ad6f96.png)
in database only show two employee type, remove other dummy
a) Senior Employee
b) Junior Employee
c) refresh button in all screen must be in center.
e) email already exist lable errorr shd be hiddedn by default. (discuss with me, i will guide you

[2019-07-20 00:40] serviceproviderpk commented on #104
12) there are bundle of chart of account can we display only few account maximum 5
![image](https://user-images.githubusercontent.com/19146254/61571891-93ac0100-aab0-11e9-9be3-c9f310867d02.png)

13) when an employee is created we will send him email

Dear  Ali,

Your account is created  on Calgary Academy. below are your login details.

Email: email@mail.com
Password: yourpassword

Regards,
Calgar

[2019-07-20 00:46] serviceproviderpk commented on #104
13) remove phone number pattern
![image](https://user-images.githubusercontent.com/19146254/61571990-70ce1c80-aab1-11e9-82c0-ff23e4751ff0.png)
14) default date of birth must be  01/01/2000

[2019-07-20 00:51] serviceproviderpk commented on #104
15) on edit employee if there is no photo show defult photo
![image](https://user-images.githubusercontent.com/19146254/61572057-049fe880-aab2-11e9-95b7-5eb5421edc99.png)

[2019-07-20 00:56] serviceproviderpk commented on #104
16) change color accoreding to theme
![image](https://user-images.githubusercontent.com/19146254/61572143-d373e800-aab2-11e9-97c4-0d6a6c23caa6.png)

also remove scrolling

[2019-07-20 00:57] serviceproviderpk commented on #104
17)  Transcirpt must be displayed from user rights.
![image](https://user-images.githubusercontent.com/19146254/61572188-2cdc1700-aab3-11e9-9db4-a2d4b1ec616e.png)

[2019-07-20 00:58] serviceproviderpk commented on #104
18) i created a group give him 2 permission

- manage students
- manage inquiry

as i logged manage students menu was not visible for him.

and trascripts menu was visible although i never give permissin to this.

[2019-07-20 01:07] serviceproviderpk commented on #104
19) on add inquiry no validation working.
![image](https://user-images.githubusercontent.com/19146254/61572233-cb687800-aab3-11e9-933a-bbca5eecddee.png)

try email sending in try catch plz

[2019-07-20 01:13] serviceproviderpk commented on #104
21-  on add student/Inquiry
send email to the Student

[Dear Ali,

Your account is created with following details

Email: email@email.com
Password : yorpassowrd

Regards,
Calgary Academy](url)

---------------------

Dear Ali,

Thanks for visit us.

Regards,
Calgary Academy

[2019-07-20 01:46] serviceproviderpk commented on #104
22- check drop  of student on "Manage Enrolment Contract"

Student id+" - "+ Full name +"- " + Email

[2019-07-20 01:55] serviceproviderpk commented on #104
23- "ALBERTA ENROLLMENT CONTRACT"
show all field  on add/edit screen and print view must 100% same.

we will have  separate contract for each program.

we can  save Program Id in contract.
 or we can diffrrent text boxes to add data in progam sections.

as below document

[2019 ALBERTA ENROLLMENT CONTRACT.pdf](https://github.com/serviceproviderpk/sp.pk/files/3413154/2019.ALBERTA.ENROLLMENT.CONTRAC

[2019-07-20 02:00] serviceproviderpk commented on #104
[NIWE REGISTRATION_LOAN CHECKLIST MAR_19.docx](https://github.com/serviceproviderpk/sp.pk/files/3413157/NIWE.REGISTRATION_LOAN.CHECKLIST.MAR_19.docx)
24- Loan registration form is missing

[2019-07-21 07:58] serviceproviderpk commented on #104
25) Remove Web Portal menu for layout page.

[2019-07-21 17:30] serviceproviderpk opened #105 "NA Feedback 4 Tahir"
0)
in sudent application

display  "StudentID " - " + Name + " - " - Email
1) in menu add menu
"Manage Documents" that will display following document

a) Student Handbook
b) NIWE REGISTRATION_LOAN CHECKLIST MAR_19

on add/edit maintain history of the document. (in new table that is "DocumentHisotry"
c) add  "Download" button in grid of document and document history

[2019-07-21 17:34] serviceproviderpk commented on #105
2)
 Student can apply for leave (enter reason), hide status
 Staff can view/approve leave (can change status) and can enter remakrs.

Student can view leave status. get email as leave is approved/rejected.
--------------
Dear Admin,

Ali has applied for  Leave status.

Reason:

Thanks,
Student Name,

----------

Dear student name,
Your leave is leave status.
Remarks:

Regards,
Calgary  Academy,

[2019-07-21 17:47] serviceproviderpk commented on #105
Incident(Id,,CreatedByUserId,StudentId,CreatedDateTime,IncidentDAte,,incidentTime,address,phone,DepartmentLocation,WhatHappend,
Injurydetails,WitenessName,WitenessEmail,WitenessPhone,First Aid Given,Ambulance, Call91 called?
OtherwintensName,OtherWitneesEmail,OtherWitnessPhone)
IncidentDocument(IncidentDocumentId,IncientId,,Title,FileURL,createdDate,CreatedByUserid,)
Incident report
1.	will send a

[2019-07-21 19:20] serviceproviderpk commented on #105
dobule check my all feedabck.

[2019-07-22 16:21] TahirHussai commented on #105
0.in sudent application

display "StudentID " - " + Name + " - " - Email
1.in menu add menu
"Manage Documents" that will display following document
2.Student can apply for leave (enter reason), hide status
Staff can view/approve leave (can change status) and can enter remakrs.
Student can view leave status. get email as leave is approved/rejected.

################################RFR##############

[2019-07-23 00:44] serviceproviderpk opened #106 "Feedback July23"
Can you please remove  remote attributed related code or lines from all over the project.
email address is behaving strangely.
i enter email it is auto set empty.

0) I  created/edited an inquiry i see status is empty

![image](https://user-images.githubusercontent.com/19146254/61675889-6ca13980-ad13-11e9-92a9-62a442e15a48.png)

1) Program
a) write "Hours" in front of Duration
![image](https://use

[2019-07-23 01:20] serviceproviderpk commented on #106
2) On add student . we can not force any student to join atleast 1 program.
![image](https://user-images.githubusercontent.com/19146254/61675496-01a33300-ad12-11e9-9782-26d293433c80.png)

Please correct spelling of programs.

[2019-07-23 01:28] serviceproviderpk commented on #106
3) i have added program
 after discount total some is 500.99
as below
![image](https://user-images.githubusercontent.com/19146254/61675676-b4739100-ad12-11e9-9413-e69f2be0215b.png)

![image](https://user-images.githubusercontent.com/19146254/61675694-cb19e800-ad12-11e9-946e-0e480204a67f.png)

if i re-edit it is displaying 501

![image](https://user-images.githubusercontent.com/19146254/61675734-f8

[2019-07-23 01:32] serviceproviderpk commented on #106
4) Inquiry email tempalte is not same as i written in github. before few weeks

![image](https://user-images.githubusercontent.com/19146254/61675950-a83c0380-ad13-11e9-8143-06c32e073d07.png)
5) remove student card option from all places and from reports as well.
6) default image still missing
![image](https://user-images.githubusercontent.com/19146254/61676502-ae32e400-ad15-11e9-8b35-9afe836c5cfc.

[2019-07-23 01:38] serviceproviderpk commented on #106
https://github.com/serviceproviderpk/smspk/issues/139
https://github.com/serviceproviderpk/sp.pk/issues/104
https://github.com/serviceproviderpk/sp.pk/issues/106

re-verify my feedback  AND SPRINT 1
re-verify my feedback  AND SPRINT 1
re-verify my feedback  AND SPRINT 1

[2019-07-23 01:39] serviceproviderpk commented on #106
if my all feedback done  start work on fee collection.

 Payment Method: E-Transfer, Niwe Referral, Cheque, and Debit
 Payment Type:  Full cash payment, Loan Installments

1. Full cash payment - Some students pay upfront for the entire course
2. Loan Installments - Alberta Student Aid will provide loan to student and payment  would be issued in installments as well

In rare cases installment is gi

[2019-07-23 02:05] serviceproviderpk commented on #106
Please test each and every section by adding proper data.
when you check in code and db, Make sure, in each section atleast 1 record is added with proper data and proper alignment.

[2019-07-23 05:23] adilshehbaz commented on #106
Download PDF Option in student registration , enrolment, firstcontact form,

[2019-07-23 07:52] nawabanjum opened #107 "NA Student Fee"
I think no need to add the others table as we already have lot of table related to fee structure.Please use those table in every case either Installment or Without installment.

[2019-07-24 00:18] serviceproviderpk opened #108 "Feedback July 242019"
1) Please make sure all images (student,staff,branches,Pdf, reprts files) are saving in
under folder "uploadedstuff"

forexample
"uploadedstuff/branches"
"uploadedstuff/Students"
"uploadedstuff/Employee"

and so on...

[2019-07-24 00:42] serviceproviderpk commented on #108
2) remove description  from grid (Fix)
![image](https://user-images.githubusercontent.com/19146254/61756419-3c21d400-add5-11e9-830d-2b7f92cf9994.png)

b) in Druation heading  add Hours (Fix)
c) on add/edit add words "Hours" in front of  duration. (yar again im repeating this point, its not fair.... yaar) (Fix)
![image](https://user-images.githubusercontent.com/19146254/61756479-99b62080-add5-11e9-

[2019-07-24 00:51] serviceproviderpk commented on #108
@adilshehbaz  re-test above all task and message me. on whatsapp.

[2019-07-24 00:52] serviceproviderpk commented on #106
@@adilshehbaz  re-test above all task and message me. on whatsapp.

[2019-07-25 05:27] #69 closed, assigned to nawabanjum, serviceproviderpk

[2019-07-25 05:27] #103 closed, assigned to SajjadAhmad111

[2019-07-25 05:28] #22 closed, assigned to serviceproviderpk

[2019-07-25 05:28] #100 closed, assigned to SajjadAhmad111

[2019-07-25 05:28] #67 closed, assigned to nobody

[2019-07-25 05:30] serviceproviderpk commented on #107
Thanks

[2019-07-25 05:30] #107 closed, assigned to nobody

[2019-07-25 06:01] serviceproviderpk opened #109 "remove meta tags"
1) from login/forget password in short all pages remove text of meta tags
![image](https://user-images.githubusercontent.com/19146254/61849671-7bcae780-aecb-11e9-91fd-3358fa02adb7.png)

[2019-07-25 06:04] serviceproviderpk opened #110 "Feedback Urgnet"
in trello client as provided new logo please use that logo on log page and forget password page as welll
![NIWE_Academy_Cosmetology_ _Massage](https://user-images.githubusercontent.com/19146254/61849797-e419c900-aecb-11e9-8040-71ec23abe122.png)

[2019-07-25 06:18] serviceproviderpk commented on #110
2) in Add Programm
i added fee as  .50 , .40

![image](https://user-images.githubusercontent.com/19146254/61850476-dcf3ba80-aecd-11e9-9c8a-6e293fa13f53.png)

on edit it was displayed as .5 and .4

[2019-07-25 06:29] serviceproviderpk commented on #110
3- from Program grid and Feepacakged grid remove delete button Please!!!!

[2019-07-25 06:41] serviceproviderpk commented on #110
4) Email subject  of Student registartion must be

"NIWE - Student Registration"

and on Inquiry email subject

"NIWE - Student Inquiry"

[2019-07-25 06:49] serviceproviderpk commented on #110
5) if create an Inquiry "Status " is emppty
in grid

if re-edit this status is ok

![image](https://user-images.githubusercontent.com/19146254/61852085-06aee080-aed2-11e9-929c-ce6d6353119b.png)

[2019-07-25 06:49] serviceproviderpk commented on #110
6) on Inqiury Grid, if i click on download button
i see  QA/index page

[2019-07-25 06:52] serviceproviderpk commented on #109
2) remove validattion from both
![image](https://user-images.githubusercontent.com/19146254/61852319-a66c6e80-aed2-11e9-9e30-701e15e4bcb1.png)

[2019-07-25 07:18] serviceproviderpk commented on #110
7- Display proper data
![image](https://user-images.githubusercontent.com/19146254/61853756-18928280-aed6-11e9-82d4-484ecadd9b28.png)

![image](https://user-images.githubusercontent.com/19146254/61853831-4081e600-aed6-11e9-9afa-967d3faea065.png)

[2019-07-25 07:24] serviceproviderpk commented on #110
8-
![image](https://user-images.githubusercontent.com/19146254/61854284-301e3b00-aed7-11e9-869b-425f238cafea.png)

[2019-07-25 07:44] serviceproviderpk commented on #110
9) in all project replace "RS" with "$"

[2019-07-25 12:57] adilshehbaz commented on #110
Validation not shoing message on global documents

[2019-07-25 13:06] adilshehbaz commented on #110
No validation on Transcript

[2019-07-25 13:17] adilshehbaz commented on #110
Enrollment contract form pdf remains

[2019-07-25 18:16] serviceproviderpk opened #111 "Feedback after pdf"
1) name sequence First midddl name and last name
2)  in pdf files append  prefix like
	"Student-sdfsadf.pdf"
	"Contract-pdsdfsa.pdf"

[2019-07-25 18:23] serviceproviderpk commented on #111
3- in all dropdown where we are display student in dropdown
Student(first name + middle name + last name " - " +StudentID  + " - "+ "Email")

[2019-07-25 18:26] serviceproviderpk commented on #111
4-  in Manage Student Applications
add created date
![image](https://user-images.githubusercontent.com/19146254/61898829-a2bd0400-af33-11e9-8dc4-7de09ed13e83.png)

[2019-07-25 18:46] serviceproviderpk opened #112 "add delete button in this screen"
/SystemSettings/ManageSystemRight/Index

[2019-07-25 18:51] serviceproviderpk commented on #111
5) one edit student passowrd is always updated

[2019-07-25 18:57] serviceproviderpk commented on #111
6) on appliction leave show remarks to student

if admin enter remarks, then reason is set empty
student can edit

[2019-07-26 05:58] serviceproviderpk commented on #112
@TahirHussai

[2019-07-26 06:09] serviceproviderpk opened #113 "Feedback July 26"
1)  from manage students remove "

"Passout" and Apply Common operation
![image](https://user-images.githubusercontent.com/19146254/61929649-ee53ca00-af94-11e9-9015-c1ba9d375de0.png)

b) change color according to the theme
![image](https://user-images.githubusercontent.com/19146254/61929575-ca908400-af94-11e9-8a7a-b6dc66693f35.png)

[2019-07-26 06:14] serviceproviderpk commented on #113
2)
![image](https://user-images.githubusercontent.com/19146254/61929997-f7916680-af95-11e9-9fbb-ac25f860860f.png)

write hint like (Student Name / Student Id / Email)

[2019-07-26 06:15] serviceproviderpk commented on #113
3) i was logged in as admin. i have created leave for student , after that i logged in for that student.
in dashboar of student that leave is no visible.

if student apply for leave is visible in student dashobard its vislble.
if admin create apply leave for student is not visible in student dashobard.

[2019-07-26 06:16] serviceproviderpk commented on #113
4) in grid of admin and student show full name
like  First name middle name last name
![image](https://user-images.githubusercontent.com/19146254/61930327-cd8c7400-af96-11e9-982f-95bafb4525a2.png)

[2019-07-26 06:21] serviceproviderpk commented on #113
5) Enrollment contract showing empty data

Please add proper data of Branch and logo so that pdf  look much better
in pdf data is not filled

![image](https://user-images.githubusercontent.com/19146254/61930516-6b803e80-af97-11e9-81ea-9dd325846664.png)

[2019-07-26 06:23] serviceproviderpk commented on #113
6) from student profile remove this section

![image](https://user-images.githubusercontent.com/19146254/61930591-a08c9100-af97-11e9-964b-c56bc1730208.png)

[2019-07-26 06:24] serviceproviderpk commented on #113
7-  i am unable to "Create transcript"
page was not subbmited due to validtion block
![image](https://user-images.githubusercontent.com/19146254/61930672-e47f9600-af97-11e9-97ad-63e769563f40.png)

[2019-07-26 06:26] serviceproviderpk commented on #113
8- in Quick access add following link for now

"Student Inquiry"
Student Registration
Transcript

![image](https://user-images.githubusercontent.com/19146254/61930723-1b55ac00-af98-11e9-87a8-1827c8c8c228.png)

[2019-07-26 06:31] serviceproviderpk commented on #113
9) on edit profile picture was not updating.
http://localhost:22048/Account/EditUserProfile/

11-  Create Student Inquiry

show first name middle name and last name please

on download pdf  , data is downlaod other user instead of newly created user

![image](https://user-images.githubusercontent.com/19146254/61931346-cca91180-af99-11e9-84aa-2ce49ddfeed9.png)

[2019-07-26 06:32] serviceproviderpk commented on #113
10- in next DB check in please flush all data

make sure Question must not be deleted.

then i will take latest and upload on server.

[2019-07-27 00:30] serviceproviderpk opened #114 "Feedback July 272019"
1) I am logged in as branch
with following details

admin@niwe.ca
admin321

a) Branch logo is not displayed
![image](https://user-images.githubusercontent.com/19146254/61987375-82726f80-b02f-11e9-9125-d0239a9c7e26.png)

b) I created an inqury and click on download button
logo is hardcoded and data for pdf is empty

![image](https://user-images.githubusercontent.com/19146254/61987863-6f619e80-b033-

[2019-07-27 00:36] serviceproviderpk commented on #114
2. On Add Program
a)  Default Start Date must 1st of next month
and end date  next month+1 month.
b) I tried to create a Prograam with character 100

screen was blocked forever.

if there is error in un-block UI and display alert box of errorr with details.

`Please do it  in all js files`

![image](https://user-images.githubusercontent.com/19146254/61987554-0547fa00-b031-11e9-9690-f6a15f6a7601.pn

[2019-07-27 01:06] serviceproviderpk commented on #114
3) Fee charges must be displayed in 3 row like

![image](https://user-images.githubusercontent.com/19146254/61987941-85bc2a00-b034-11e9-964c-831a2dbd3ffa.png)

Total : 100
Discount: 20
Grand Total: 80

it will give some good look, right now its looking like CRUD:)

[2019-07-27 01:17] serviceproviderpk commented on #114
5) Compare  look and feel of Transcript with  actual please
![image](https://user-images.githubusercontent.com/19146254/61988079-19422a80-b036-11e9-963f-a587abce81f8.png)

6) i was logged in student , iam unable to see "Handbook" how you are displaying it??
on dashoard???
need discussion

[2019-07-27 01:19] serviceproviderpk commented on #114
6) if student login and edit his photo

it must be updated on both places

![image](https://user-images.githubusercontent.com/19146254/61988093-7b029480-b036-11e9-9b8f-1bb183f4647e.png)

[2019-07-27 01:22] serviceproviderpk commented on #114
7) on leave form full email is not visible
![image](https://user-images.githubusercontent.com/19146254/61988127-bc933f80-b036-11e9-98ae-647b8d1808b5.png)

show remarks to student as label
![image](https://user-images.githubusercontent.com/19146254/61988150-e2b8df80-b036-11e9-9490-3c019eb528e5.png)

[2019-07-27 01:27] serviceproviderpk commented on #114
8) on contract
show  duration (Hours)
and use currency symbol
![image](https://user-images.githubusercontent.com/19146254/61988185-52c76580-b037-11e9-904a-59cf30f8ac10.png)

and in footer show data that is provided by client all text of pdf

![image](https://user-images.githubusercontent.com/19146254/61988194-8609f480-b037-11e9-8f82-52aaf1299b19.png)
upto
![image](https://user-images.githubusercon

[2019-07-27 01:29] serviceproviderpk commented on #114
8) on edit "Contract" program is not selected.

![image](https://user-images.githubusercontent.com/19146254/61988243-e26d1400-b037-11e9-87a3-c0d3581857f3.png)

[2019-07-27 08:04] serviceproviderpk commented on #114
9) on add/edit Employee  uploading photo is not working,
Please make sure path of image is  in  "UploadedStuff"

[2019-07-27 08:12] serviceproviderpk commented on #114
10) Remove  Daybook we will add it later on if required.
#################################Link Removed###############

[2019-07-27 09:32] serviceproviderpk commented on #114
11) Change color sheme of  Report list page
**RFR**
![image](https://user-images.githubusercontent.com/19146254/61992410-727e7e00-b077-11e9-8276-312084171cf7.png)

[2019-07-27 11:05] serviceproviderpk commented on #114
12) manage student+ inquiry
change path to "UploadesStuff"

#############Fixed#########3

[2019-07-27 12:29] SajjadAhmad111 opened #115 "sajjad Issues"
1)In Staff Registration image in not uploading
2)In Employee Create there is no field relate to country and Zip Code but in list Country and ZipCode field is present
3)InEmploye Create there is option of City but in the list There is town instead of city
4)There is field of Commitment in Employ Create but in list it is not available
5)In field of Mobile No only No Should be Show But if I give Any

[2019-07-27 13:35] SajjadAhmad111 opened #116 "Download file has issue"
![Capture](https://user-images.githubusercontent.com/50301383/61995095-13cbfb00-b09d-11e9-834a-2f0720d254f5.PNG)
Manage student -> Manage document->file download have issues

################################RFR################

[2019-07-27 13:49] serviceproviderpk commented on #114
13) in menu only display menu on which we worked
############################RFR##############

[2019-07-27 14:03] serviceproviderpk commented on #114
14)In Employee Create there is no field relate to country and Zip Code but in list Country and ZipCode field is present

Please add in ad/edit screen
 remove Zipcode,Country,FatherCnic,FatherName from Grid

[2019-07-27 14:03] #115 closed, assigned to nobody

[2019-07-27 14:03] #116 closed, assigned to serviceproviderpk

[2019-07-27 14:04] serviceproviderpk commented on #114
15) if we terminate or struck of , student is not displayed in relevant tab.

**RFR**

[2019-07-28 11:30] serviceproviderpk opened #117 "Feedback July 28"
1) i was logged in as branch and clicked on edit profile
i tried to change image. it was updated but not changed on right side.
![image](https://user-images.githubusercontent.com/19146254/62005999-6ae0d700-b154-11e9-81a5-4927737949b7.png)

2) Manage documents set serial number by defualt 0

![image](https://user-images.githubusercontent.com/19146254/62006049-05411a80-b155-11e9-954c-889b3ee57216.pn

[2019-07-28 12:00] serviceproviderpk commented on #117
3)
a) remove program and section column from grid
![image](https://user-images.githubusercontent.com/19146254/62006323-a087bf00-b158-11e9-9e2b-1ec8857e3eae.png)

b) Show student id and  student full name in   "Teriminated, Struck off and history Grid"

[2019-07-28 12:06] serviceproviderpk commented on #117
4) increase width of dropdown 25% more, so that all text is readyable.

![image](https://user-images.githubusercontent.com/19146254/62006386-81d5f800-b159-11e9-884f-1e185287a0d9.png)

[2019-07-28 12:09] serviceproviderpk commented on #117
5) improve contaract pdf same as client given

![image](https://user-images.githubusercontent.com/19146254/62006480-63bcc780-b15a-11e9-9b28-6f8c9acf8bc3.png)

except under each and everything must be 100% good.

[2019-07-28 13:38] serviceproviderpk commented on #117
6) in Forget passowrd email

add space between first name and last name and make this email simple as student registeration

![image](https://user-images.githubusercontent.com/19146254/62007436-d5027780-b166-11e9-9ae3-81dde096bad4.png)
![image](https://user-images.githubusercontent.com/19146254/62007452-ffeccb80-b166-11e9-9cdc-d371fc1d9595.png)

[2019-07-28 13:41] serviceproviderpk commented on #117
7) From student Dashobard remove "Attedance" menu because its not in working form now.

[2019-07-28 13:45] serviceproviderpk commented on #117
8) I tried to create  a student with duplicate email. when i enter email.  text boxes goes empty with out any message.

[2019-07-28 13:50] serviceproviderpk commented on #117
9)  i tried to create "Enrollment Contract" PDF is empty

![image](https://user-images.githubusercontent.com/19146254/62007574-7d650b80-b168-11e9-9140-279b7b5bf945.png)
[Contract-85551c42-73bf-4504-be7d-955ba79bdafd.pdf](https://github.com/serviceproviderpk/sp.pk/files/3439233/Contract-85551c42-73bf-4504-be7d-955ba79bdafd.pdf)

[2019-07-29 06:42] SajjadAhmad111 opened #118 "Error in Terminated Student"
![Capture1](https://user-images.githubusercontent.com/50301383/62026818-7f28e080-b1f5-11e9-8f38-ef07c5ffcf0a.PNG)

From active student when i move to Terminated student  data is moving to terminated list but this is not showing the data of  Program, section and Registration date

[2019-07-29 08:13] SajjadAhmad111 opened #119 "Error in Manage Program"
1)I have collect a fee total 1500 then i give discount 90 the fee shoud be show 1410 but the fee is 1440 .
![Capture2](https://user-images.githubusercontent.com/50301383/62032268-b3ef6480-b202-11e9-9ce6-59dd9294f49c.PNG)

[2019-07-29 08:15] SajjadAhmad111 opened #120 "Auto Search in manage student"
1)In active student Auto Search is not working
********************** Auto Search is removed from Student Grid *********************************

[2019-07-29 18:49] serviceproviderpk opened #121 "Feedback July29"
1) ON manage students "Student search" not working properly i see null value in textbox right side of student name.
remove auto complete, we will implement wild search on text box.
2) use block UI on this screen
http://niwe.schoolmanagementsoftware.pk/SystemSettings/BrowseUserGroup/BrowseUserGroupIndex

3) in below page use Delete option so that we can delete any rights when we neeed it.

http://n

[2019-07-29 18:54] serviceproviderpk commented on #121
2) remove green color
![image](https://user-images.githubusercontent.com/19146254/62074388-188add80-b25c-11e9-9db8-1bd347e1464d.png)

i clicked on download file getting error

[2019-07-29 19:07] serviceproviderpk commented on #121
3) spacing on  pdf document not same as in provided pdf

[2019-07-29 19:16] serviceproviderpk commented on #121
4) Enrolment Contract shd be dipslayed of ONLY selected brnach. it is showing data of other brnach

![image](https://user-images.githubusercontent.com/19146254/62075732-4f162780-b25f-11e9-855b-7d33dca0b18b.png)

[2019-07-29 19:19] serviceproviderpk commented on #121
5) For branch loging show "Manage Group rights" screen so that branch can  add/edit rights to any staff or can create new group.

[2019-07-29 19:27] serviceproviderpk commented on #121
6) If  we  upload document for employe contract , show link to download that document.
![image](https://user-images.githubusercontent.com/19146254/62076298-c26c6900-b260-11e9-97c9-cc43e686b686.png)

[2019-07-29 19:28] serviceproviderpk commented on #121
7) Document types, and documents must be displayed of selected branch
![image](https://user-images.githubusercontent.com/19146254/62076399-fe073300-b260-11e9-9be9-ff121d052de3.png)

[2019-07-29 19:29] serviceproviderpk commented on #121
8) Transcript must be displayed of selected branch

[2019-07-29 19:32] serviceproviderpk commented on #121
6) use white broder for image control so that all types of images must be visible
![image](https://user-images.githubusercontent.com/19146254/62095316-7b4e9a00-b299-11e9-8be8-f36dae5a5ded.png)

7) rename print to "Download" as i requested already in my previous feedabck
6.Fix,7.Fix
*************************Button is remaned from print to Download**************************

[2019-07-30 00:27] serviceproviderpk commented on #121
excel file to import data, but its not importing data, Please modify it according to our new database table of student.
[Students.xlsx](https://github.com/serviceproviderpk/sp.pk/files/3444671/Students.xlsx)

[2019-07-30 02:28] serviceproviderpk commented on #121
3) spacing on  pdf document not same as in provided pdf

[2019-07-30 06:11] SajjadAhmad111 opened #122 "Security isssue"
1)I open the Niwe Project in Chromebrowser when i login in it then I Copy the URL link and paste it in Firefox its showing the desired result with out login again i think it is a security issue it should be necessary to login again.

[2019-07-30 07:23] SajjadAhmad111 opened #123 "Manage Student Auto Search"

[2019-07-30 07:24] SajjadAhmad111 commented on #123
Auto Search is not working still

[2019-07-30 09:39] SajjadAhmad111 opened #124 "Manage Student is not Showing list of student"
2)Whan I Create a student Its not Show in  the Student list.
3)When i restore stodent from Stuckoff and terminated it also not show.
These two Points working Properly in FireFox but not working in Chrome

[2019-07-30 09:44] SajjadAhmad111 opened #125 "In Manage Student Email repitation"
4) In Manage Student when we add Email which is already exit then we should receive a message that email is already exit.

[2019-07-30 10:15] #124 closed, assigned to nobody

[2019-07-30 19:20] serviceproviderpk opened #126 "Feedback 31"
1)  on document type grid i see 2 document  but on add documents grid i see 3 document type
![image](https://user-images.githubusercontent.com/19146254/62158483-f90db680-b328-11e9-9050-ea6e589e5eb1.png)
similarly for documents

similary for document history

#################################Fixed###################

[2019-07-30 19:24] serviceproviderpk commented on #126
2) when student is logged in i see first name and last name is merged

**For new students its fine.**
![image](https://user-images.githubusercontent.com/19146254/62158732-99fc7180-b329-11e9-8829-55a4ba73d07b.png)
##############################Fixed######################

[2019-07-30 19:28] serviceproviderpk commented on #126
3) Currency symbol must be use on left side of price, do it for all sections.

[2019-07-30 19:33] serviceproviderpk commented on #126
4) if student is logged in and edit his profile photo.
on save click. top right side photo must be updated

![image](https://user-images.githubusercontent.com/19146254/62159304-c9f84480-b32a-11e9-8711-b731940a32a3.png)
#####################################Fixed##############################

[2019-07-30 19:39] serviceproviderpk commented on #126
5) I logged in as branch, tried to create new group.
but there are no available rights.

![image](https://user-images.githubusercontent.com/19146254/62159659-ae416e00-b32b-11e9-8eb0-fc82e7225619.png)
#############################Not Fixed###################################

[2019-07-30 19:45] serviceproviderpk commented on #126
6) From Manage students remove search box section
![image](https://user-images.githubusercontent.com/19146254/62159985-64a55300-b32c-11e9-8865-aef807480179.png)
####################################Fixed###################

[2019-07-30 19:54] serviceproviderpk commented on #126
7) remove these menu from left menu
![image](https://user-images.githubusercontent.com/19146254/62160584-c0241080-b32d-11e9-869e-81fb889bd356.png)
####################################Fixed##########################

[2019-07-31 09:08] TahirHussai opened #127 "Feedback 31July2019"
1) Add Search Button in the student Inquiry Grid
![searchButtton](https://user-images.githubusercontent.com/46710856/62199293-a79f0f00-b39c-11e9-8d11-fa804ddff73c.PNG)

[2019-07-31 09:14] TahirHussai commented on #127
2) On Student Add when save student and popup display when user click on it the Form Display with empty data
![FirstContractForm](https://user-images.githubusercontent.com/46710856/62199741-7e32b300-b39d-11e9-8669-2ab6e1a7d214.PNG)

[2019-07-31 09:18] TahirHussai commented on #127
3) Create Contract Form Increase Size of Student Dropdowns
![IncreaseSizeOFStudentDrop](https://user-images.githubusercontent.com/46710856/62200052-116be880-b39e-11e9-9174-8e1ba42c9d8a.PNG)

[2019-07-31 09:21] TahirHussai commented on #127
4) When AnyOne Create new branch StudentQuestion table will be update according to the new branch

[2019-08-03 10:41] SajjadAhmad111 opened #128 "we add the inquiry Program have not selected in the drop down and drop down is showing blank."
![Capture1](https://user-images.githubusercontent.com/50301383/62410838-ff3fb380-b604-11e9-8d77-b6a69953b037.PNG)

[2019-08-03 12:32] #128 closed, assigned to serviceproviderpk

[2019-08-03 13:43] serviceproviderpk opened #129 "Feedback Aug 3"
1) Import to excel working properlyl

1) Please verify all spellings in entire project, they dont mind spelling mistakes.
2) change admin username to "info@niwe.ca"
3) please use proper generic exception page in case of 404 or similar errors. (see i produced exception)
i changed password, then hit dashboard url and this produced where as it should give proper exception not error.
4) cannot we have

[2019-08-03 13:50] serviceproviderpk commented on #129
1) Employee register email already exist. msg must disapper while changing new email

[2019-08-03 15:28] SajjadAhmad111 opened #130 "Branch grid"
Remove Fax No From Branch Grid

[2019-08-04 10:44] serviceproviderpk opened #131 "QA Feedback"
1)  Login history must be displayed of logged in branch ONLY
latest data on top. make sure it will be visible only for admin NOT for  employee
http://niwe.schoolmanagementsoftware.pk/LoginHistory/Index/

branch name is empty remove this column or display branch name
![image](https://user-images.githubusercontent.com/19146254/62422620-e69bd000-b6ce-11e9-896c-d16a4cdf2fc8.png)

[2019-08-04 10:50] serviceproviderpk commented on #131
2)  in all places where we are showing programss in dropddown make sure
we must display active Programs ONLY
![image](https://user-images.githubusercontent.com/19146254/62422637-472b0d00-b6cf-11e9-8f6f-7dd61728472c.png)

[2019-08-04 11:29] serviceproviderpk opened #132 "NiwWe Mid Priorty task"
-

[2019-08-04 13:09] serviceproviderpk commented on #131
3) I imported student from excel file, it was imported successfully,  then i click on "Manage students"
and tried to edit that student which was imported.

Screen was hanged/block. maybe some data was not imported. (in short on imported student)
Edit button not working.
![image](https://user-images.githubusercontent.com/19146254/62424063-ff15e580-b6e2-11e9-86e6-a27e3a976938.png)

[2019-08-04 13:11] serviceproviderpk commented on #132
a ) set hight of both text boxes same please
![image](https://user-images.githubusercontent.com/19146254/62424082-48fecb80-b6e3-11e9-842f-41e898259481.png)

[2019-08-04 13:21] serviceproviderpk commented on #131
4) i created new branch and logged in as student
i see below error
![image](https://user-images.githubusercontent.com/19146254/62424174-9596d680-b6e4-11e9-9e7e-a5aaf577df92.png)

[2019-08-04 13:25] serviceproviderpk commented on #131
5) on manage document section, i tried to upload exe it was uploaded
![image](https://user-images.githubusercontent.com/19146254/62424197-1229b500-b6e5-11e9-9b01-7d9139b5c83a.png)

i requeested you, YOU yourself work on this task...........

as i said many time.

we will add max length check on all fileupload control
only will allow discussed extensions ONLY

![image](https://user-images.githubuse

[2019-08-04 13:32] serviceproviderpk commented on #131
6)  Enrollment contract
Unit is empty
![image](https://user-images.githubusercontent.com/19146254/62424274-14404380-b6e6-11e9-8a48-7ce9675fbe65.png)

[2019-08-04 13:49] serviceproviderpk commented on #131
7) remove from menu activiity log as  its not displaying activity
![image](https://user-images.githubusercontent.com/19146254/62424299-739e5380-b6e6-11e9-8f4f-8850e46ac6d0.png)

8) check spelling plz
![image](https://user-images.githubusercontent.com/19146254/62424489-68e4be00-b6e8-11e9-879a-78a53691f08e.png)

[2019-08-04 16:18] SajjadAhmad111 opened #133 "Search"
In Terminate and Stuck off Searching is not working

[2019-08-04 16:24] SajjadAhmad111 opened #134 "Manage Student"
In Manage student there should be a search option where we can search student.
![Issue1](https://user-images.githubusercontent.com/50301383/62426424-2c23c180-b6fe-11e9-9c4f-83854f02ca92.PNG)

[2019-08-04 17:03] serviceproviderpk commented on #131
9)  Student/Inquiry/Employee you have added in Front end for duplicate email.
also check from backend check.

we will not allow duplicate emails in the system, as this issue is raisded by Umer.

[2019-08-04 17:08] SajjadAhmad111 opened #135 "Struck off and terminated Close button"
In Struck off and terminated Close button is not working
![Issue](https://user-images.githubusercontent.com/50301383/62426895-52e4f680-b704-11e9-8729-46d36c0180e4.PNG)

[2019-08-04 17:24] serviceproviderpk commented on #131
10)
![image](https://user-images.githubusercontent.com/19146254/62427055-7e68e080-b706-11e9-9148-bbe101620180.png)
a) Flat discount amount must not be greater than actual amount
b) Discount % must  not be greater than 100%

[2019-08-04 17:28] SajjadAhmad111 opened #136 "Student Leave"
In student leave when we edit any student from the Grid of leave student.Then in Student Name drop down the complete list of manage student Should be show but in this Case only the present student is being Shown.While the list of Student consist of three student
![LeaveStudenteditdropdown](https://user-images.githubusercontent.com/50301383/62427096-12d34300-b707-11e9-96ad-b96ffb676722.PNG)

[2019-08-04 17:51] serviceproviderpk commented on #131
11) on edit leave, if we click on right side. drop down must be expanded.
![image](https://user-images.githubusercontent.com/19146254/62427293-6f842d00-b70a-11e9-8c05-e42740b58d67.png)

a) on edit leave show all students OR hide drop down just display student name+id+email as label

[2019-08-04 17:53] serviceproviderpk commented on #136
This is default behaviour of the features

[2019-08-04 17:55] serviceproviderpk commented on #136
we must hide drop down in edit leave.

[2019-08-04 18:03] serviceproviderpk commented on #131
12) Manage students grid "remove registeration" form
![image](https://user-images.githubusercontent.com/19146254/62427380-b32b6680-b70b-11e9-9142-269b75bc2251.png)

[2019-08-04 18:05] serviceproviderpk commented on #135
Good finding, thanks

[2019-08-04 18:05] #135 closed, assigned to nobody

[2019-08-04 18:05] serviceproviderpk commented on #134
we will add this later on. right now user can search from grids filter. i can explain you if required.

[2019-08-04 18:05] #134 closed, assigned to nobody

[2019-08-04 18:06] serviceproviderpk commented on #131
13) on manage studdents > Terminated students>
a) if we restore a student on prompt screen close button not working.
In Struck off and terminated Close button is not working
![Issue](https://user-images.githubusercontent.com/50301383/62426895-52e4f680-b704-11e9-8729-46d36c0180e4.PNG)

b) also remove  auto complete search form Terminated and struck of tabs

![image](https://user-images.githubuserco

[2019-08-04 18:07] SajjadAhmad111 opened #137 "Employee Document"
In Employee Document we have Text field Upload Files.But in Grid of Employee document we have image instead of Uploads file.I think there should be a file
![EmployeeDocument](https://user-images.githubusercontent.com/50301383/62427459-9e030780-b70c-11e9-8cba-b96051001f05.PNG)
 instead of image

[2019-08-04 18:09] serviceproviderpk commented on #133
Great finding(Y)

[2019-08-04 18:09] #133 closed, assigned to nobody

[2019-08-04 18:17] #127 closed, assigned to adilshehbaz, TahirHussai

[2019-08-04 18:21] serviceproviderpk commented on #131
14)From manage employe grid remove  add document  (reason time is short )

![image](https://user-images.githubusercontent.com/19146254/62427597-bd029900-b70e-11e9-84fc-6a4fa50d58ab.png)

[2019-08-05 05:42] serviceproviderpk commented on #131
remove delete button and  x-employee

[2019-08-05 11:45] TahirHussai commented on #131
![FeeAmountIssues](https://user-images.githubusercontent.com/46710856/62462186-439e9100-b776-11e9-84d4-52fbdf44a26d.PNG)
When create Class user add fee packages of that class fee package limit is 2 lakh but i am entering value 200001 no validation is occur

[2019-08-05 11:49] SajjadAhmad111 opened #138 "Issue in FeeDiscount"
Add a Program and give Total Fee amount 1400.When i Add student i give discount 90.It show an error that discount fee must be less or equal to total amount.
![Fee Issue1](https://user-images.githubusercontent.com/50301383/62462501-069bc400-b7a1-11e9-9660-56fc34570421.PNG)

[2019-08-05 12:37] SajjadAhmad111 opened #139 "Basic Salery"
In Employee Create Basic employ should be only number but it accept all numbers and text also

[2019-08-06 19:58] serviceproviderpk opened #140 "Feedback Aug 7"
1) add this menu "Manage Group Rights" in  "System Settings"
2) From Email must be same from that email id, we are sending email.
3) on live verify forgget email is working

[2019-08-07 19:23] SajjadAhmad111 opened #141 "Progress in percentage how much file have been upload"
At-least according to modern systems we must show how much progress in percentage have done it will help customer for big files.

[2019-08-07 19:46] SajjadAhmad111 opened #142 "CNIC to ID"
Convert CNIC to ID
![CNIC](https://user-images.githubusercontent.com/50301383/62652968-fc7eee80-b975-11e9-9c57-a41ee679cc67.PNG)

[2019-08-07 19:47] TahirHussai opened #143 "Issues raised On live during Testing"
I have Applied 50% Discount on student But i Received The Following Error
![DiscountInPercentage](https://user-images.githubusercontent.com/46710856/62653006-11f41880-b976-11e9-98b8-2e82f686280b.PNG)

[2019-08-07 19:52] SajjadAhmad111 opened #144 "User Can not select date of birth below 1990"
User cannot select value below 1990 which is a
![Less then1990](https://user-images.githubusercontent.com/50301383/62653337-cd1cb180-b976-11e9-9c37-62d7e613cca1.PNG)
 bug.

[2019-08-08 06:25] adilshehbaz opened #145 "Sprint-2"

[2019-08-08 06:25] adilshehbaz commented on #145
On Transcript Show student data on select student from dropdown

[2019-08-08 06:26] adilshehbaz commented on #145
Student Aid Form

[2019-08-17 01:13] serviceproviderpk opened #146 "SMSPK"
0) Due date is always same??

![image](https://user-images.githubusercontent.com/19146254/63205344-86d4fa00-c0bc-11e9-9113-5a939648baf3.png)

also error on other screen

![image](https://user-images.githubusercontent.com/19146254/63205369-ca2f6880-c0bc-11e9-9c9b-1d87266320ed.png)

1) http://login.schoolmanagementsoftware.pk/SystemSettings/ManageSystemRight/Index

add Delet button with check box (y

[2019-08-17 01:23] serviceproviderpk commented on #146
2) check employee attandace functiaonl and reprts
3) check other reports specaily leaving character certficate

take print of all from book center and show me plz

[2019-08-17 01:24] serviceproviderpk commented on #146
@TahirHussai  check above task please

[2019-08-19 06:03] SajjadAhmad111 opened #147 "User Can not select date of birth below 1990"
User Can not select date of birth below 1990
![Less then1990](https://user-images.githubusercontent.com/50301383/63242462-e8d66080-c270-11e9-8fdb-080b10c957d4.PNG)

[2019-08-20 01:09] #146 closed, assigned to TahirHussai

[2019-08-21 06:08] SajjadAhmad111 opened #148 "Issue in Sign in in Character Certificate Report"
![CharacterCertificate](https://user-images.githubusercontent.com/50301383/63406632-f2440200-c403-11e9-9eeb-41a5195870cb.PNG)

[2019-08-21 06:18] SajjadAhmad111 opened #149 "Student Defaulter List has issue in Front end"
![StudentDefaulterStudent](https://user-images.githubusercontent.com/50301383/63407206-5a471800-c405-11e9-91b2-2b7cbc024fb9.PNG)

[2019-08-21 06:28] SajjadAhmad111 opened #150 "In Fee Generate Spelling Mistake of Generated in Pop Up"
![Generated Spelling Mistake](https://user-images.githubusercontent.com/50301383/63407781-d9891b80-c406-11e9-9878-4c9303632303.PNG)

[2019-08-21 06:46] serviceproviderpk opened #151 "Feedback Aug 21"
1)  On add /edit Program Duration must be greater or equal to 1 hour atleast.
![image](https://user-images.githubusercontent.com/19146254/63408736-279f1e80-c409-11e9-9675-1cf146ccbaa6.png)

[2019-08-21 06:55] SajjadAhmad111 opened #152 "Spelling Mistake of Attendance in Mark Attendance"
![SpellingMistake in Attendance Sheet](https://user-images.githubusercontent.com/50301383/63409385-8022eb80-c40a-11e9-9acc-a11076aa0cf0.PNG)

[2019-08-21 06:58] serviceproviderpk commented on #151
2) show amount in 2 decimal places

![image](https://user-images.githubusercontent.com/19146254/63409599-e90a6380-c40a-11e9-9ee0-f2ef56a442e8.png)

[2019-08-21 09:32] TahirHussai opened #153 "On Create StudentIncidentReport Time and date are not in correct format"
![IncidentReport](https://user-images.githubusercontent.com/46710856/63420561-5674bf00-c420-11e9-814e-6c3a4d1dd690.PNG)

[2019-08-21 09:54] SajjadAhmad111 opened #154 "Successfully spelling mistake in Terminated Student and Struck off Student Pop Up"
In terminated student Successfully Spelling is incorrect also when we Restore Terminate student to Manage Student.
![Successfully](https://user-images.githubusercontent.com/50301383/63422327-94271700-c423-11e9-9e4d-20ce60e8bfa1.PNG)

[2019-08-21 09:59] SajjadAhmad111 opened #155 "Struck off Spelling is incorrect"
Spelling of Struck off is incorrect
![Struck Off](https://user-images.githubusercontent.com/50301383/63422634-32b37800-c424-11e9-9ea8-68debc53d686.PNG)

[2019-08-21 10:17] SajjadAhmad111 opened #156 "In Struck off student Search is not working"
In Struck off Student Search is not working Properly
![Search disturb](https://user-images.githubusercontent.com/50301383/63423958-cede7e80-c426-11e9-8db5-9d9f1e34427d.PNG)

[2019-08-21 10:40] SajjadAhmad111 opened #157 "Spelling mistake of Successfully in Mark Attendance"
Successfully Spelling is incorrect in Mark Attendence
![MarkAttendence](https://user-images.githubusercontent.com/50301383/63425428-f125cb80-c429-11e9-9573-af6ab1707cd1.PNG)
 ###################Issue Fixed

[2019-08-21 11:19] TahirHussai commented on #151
After Save Attendance Verify present and absent is not working
![Capture2](https://user-images.githubusercontent.com/46710856/63436571-5be30100-c442-11e9-9f89-680426393748.PNG)

[2019-08-21 11:32] SajjadAhmad111 opened #158 "Drop down of Deposit Account is not working"
In fee Collect Drop
![Deposit Account](https://user-images.githubusercontent.com/50301383/63428590-50d3a500-c431-11e9-8268-56b237c4c55a.PNG)
down of Deposit Account is not Working

[2019-08-21 11:35] TahirHussai commented on #151
Attendance Detail History is not displaying data proper i have marked one student in nail technology as leave  only .but history is displaying present,absent and leave all one
![Capture1](https://user-images.githubusercontent.com/46710856/63428653-7f518000-c431-11e9-9cdc-e9fc596c9a14.PNG)

[2019-08-21 11:45] SajjadAhmad111 opened #159 "Issue in Birthday Message"
When i Send Birthday message it does not display any output against this event
![SMS Event](https://user-images.githubusercontent.com/50301383/63429295-13701700-c433-11e9-8795-290287fb1273.PNG)

[2019-08-21 13:28] TahirHussai commented on #155
Spelling of Struck off is incorrect
 ##############################Issue Fixed####################

[2019-08-21 13:29] TahirHussai commented on #154
In terminated student Successfully Spelling is incorrect also when we Restore Terminate student to Manage Student.
##############################Issue Fixed####################

[2019-08-21 13:32] TahirHussai commented on #152
Spelling Mistake of Attendance in Mark Attendance
######################################Fixed###################

[2019-08-22 00:30] serviceproviderpk opened #160 "Feedback Sprint 2&3"

[2019-08-22 00:49] serviceproviderpk commented on #160
1- admin must be enable/disable the  employee and student, as both account will be disabled they will be not able to use system.

as they will be enabled/disabled email will be send to them with status

sprint 1 refrence:
![image](https://user-images.githubusercontent.com/19146254/63477830-8cf21e80-c4a0-11e9-8c69-edc7f7f993de.png)

[2019-08-22 00:52] serviceproviderpk commented on #160
2) when admin/student/employee change his password send him email

Dear first name,

Your password is updated.

Your new Password: XnXcF

Regards,
Calgary Academy

[2019-08-22 00:53] serviceproviderpk commented on #160
3) when Birthday notifcation is sent screen is hanged.
![image](https://user-images.githubusercontent.com/19146254/63477952-14d82880-c4a1-11e9-868a-96e7415d604f.png)

[2019-08-22 00:57] serviceproviderpk commented on #160
4) in  System Default settings add notification setting section

Email,SMS and both, None

None= no email and sms will be send via system.
Both= email and sms will be send to both user and admin

and similarly  for  sms and emails.

according to the above settings system will send sms and emails

[2019-08-22 01:02] serviceproviderpk commented on #160
5) use diffrent icon for menu
![image](https://user-images.githubusercontent.com/19146254/63478223-6634e780-c4a2-11e9-8653-ea6d5f3ce440.png)

[2019-08-22 01:10] serviceproviderpk commented on #160
6) Incident Form

a) Display time in   AM and PM format please
b) Default date must be Today Date instead  of "01/01/0001"
c) Add download option for template (look and feel please follow below)

on top add Niwe Logo plz

![incident report](https://user-images.githubusercontent.com/19146254/63478501-739ea180-c4a3-11e9-9422-15ec66e609be.jpg)

[2019-08-22 01:18] serviceproviderpk commented on #160
7) Attendance

Verify absent & Present must not be until attendance is done. do it please as we discussed!!!!

a) In front of Duration write (Hours)
e.g   Duration (Hours)
Duration box will be only active when status is  "Present"

b) Load, Reset and Cancel button sh'd be  right side of the  "Section"
mean in one Line text boxes and buttons.

c)  if i mark attandance of same day 2 time
second time

[2019-08-22 01:34] serviceproviderpk commented on #160
8) on Fee

a) Auto search not working  (remove it auto search section)
![image](https://user-images.githubusercontent.com/19146254/63479055-e446bd80-c4a5-11e9-941e-93654bd29001.png)

b) this section shd be hidden until any program is selected.
![image](https://user-images.githubusercontent.com/19146254/63479148-6636e680-c4a6-11e9-88a3-9d2599c4f020.png)

c) add button to add "Deposit Account"
brach

[2019-08-22 01:42] serviceproviderpk commented on #160
9) Fee receipt use SGS please

![image](https://user-images.githubusercontent.com/19146254/63479408-ab0f4d00-c4a7-11e9-918e-c84610df9e72.png)

[2019-08-22 01:43] serviceproviderpk commented on #160
10) in student section there was a menu "Student Profile"

Please re-add it now.

show student fee, Attendance detail, student leaves. on that page.

[2019-08-22 01:46] serviceproviderpk commented on #160
11)  in student transscript create screen
show all fields those are in provided template.
will be auto filled on selecting student

[2019-08-22 01:49] serviceproviderpk commented on #160
@adilshehbaz  as all issues fixed  ,Please assign to me write YOUR ) commnets as

1) Fixed
2) Fixed

and so on.....

[2019-08-22 04:40] TahirHussai opened #161 "I have logedIn as Staff But i have see the Manage Groups Rights Menu"
![Rights](https://user-images.githubusercontent.com/46710856/63486379-b3c04d00-c4c0-11e9-87a1-5a4c0aae5c58.PNG)

[2019-08-22 06:25] adilshehbaz commented on #160
3. Fixed

[2019-08-22 06:43] SajjadAhmad111 opened #162 "The field Date_of_Birth must be a date."
The field Date_of_Birth must be a date.Also start date and End date.
![Student Birth Date](https://user-images.githubusercontent.com/50301383/63492065-19690500-c4d2-11e9-9750-24d7e8f96656.PNG)

[2019-08-22 07:31] SajjadAhmad111 opened #163 "Struck off student is not working"
From manage student when i struck off the student it has not being struck off.But tomorrow everything is working properly.So when You fix any error You should check the functionality of other thing related to this error please.So that we save some time From again and again testing the same things.
![Struckoff](https://user-images.githubusercontent.com/50301383/63495209-d199ac00-c4d8-11e9-83ed-48db

[2019-08-22 07:34] #163 closed, assigned to nobody

[2019-08-22 07:59] SajjadAhmad111 opened #164 "Enrollment Spelling Mistake"
In student Enrollment Enrollment Spelling is incorrect.
![Enrollment](https://user-images.githubusercontent.com/50301383/63497098-926d5a00-c4dc-11e9-80fd-98c6138faf49.PNG)

[2019-08-23 08:09] SajjadAhmad111 opened #165 "In Section List Program Name which is appear two time should be separate by date"
in Section List Program Name which is appear two time should be separate by date
![Sections](https://user-images.githubusercontent.com/50301383/63577152-3b808700-c5a7-11e9-854f-aa15672bf1d3.PNG)

[2019-08-24 06:38] SajjadAhmad111 opened #166 "In Manage incident Report Email field Should Accept the Proper Email format"
In Manage incident Report Email field Should Accept the Proper Email format.
![EmailScenario](https://user-images.githubusercontent.com/50301383/63633548-a394a300-c663-11e9-84c3-c25eca506d99.PNG)

[2019-08-24 09:41] adilshehbaz opened #167 "Customer Feedback"

[2019-08-24 09:42] adilshehbaz commented on #167
1) Sprint 1: Customer Feedback : Students

Students
- Inquire student should be like a crm where we can track leads, also formally like hubspot or link to all our email inbox to gather new leads, this will allow us to track all our leads in one place instead of taking the time to add a inquiry one at a time
- Remove the **** from the fields so they are not required, we are generally not given all

[2019-08-24 09:43] adilshehbaz commented on #167
2) Sprint 1: Customer Feedback: Attendance

Attendance
- Student login – is there a clock in and out system? Where they can only clock in and out at the college.
- Drop down menu of sick, excused, and unexcused absence
- Add hours tab where the students can check there hours and has a timeline till they graduate
- Reminder of how many hours till graduation plus reminders at 80% students are always

[2019-08-24 09:43] adilshehbaz commented on #167
3) Sprint 1: Customer Feedback: Communication

Communication
- Be able to send mass email to all students **RFR**
- Be able to communicate to all events to all students **RFR**
Student Transfer
- Date of transfer
- End date of previous program and start date of new program.
Fees -> Payments
- Student tuition balance, be able to send warnings to students **RFR**

[2019-08-24 09:43] adilshehbaz commented on #167
4) Sprint 1: Customer Feedback: Reports

Reports – Please have a reports and be able to generate a report for the following;
-	Student payments
-	Individuals attendance
-	Drop out rate and successful graduates
-	Master list of all students exportable
-	Marks and report cards
Calendar – Please add to CRM
-	Start dates for all programs
-	Notification of changes from the calendar to all staff
Differe

[2019-08-24 13:09] adilshehbaz commented on #167
Questions:
Student:
1) Inquire student should be like a crm where we can track leads, also formally like hubspot or link to all our email inbox to gather new leads, this will allow us to track all our leads in one place instead of taking the time to add a inquiry one at a time

Attendance:
2) Drop down menu of sick, excused, and unexcused absence?

3) Reminder of how many hours till graduation plu

[2019-08-26 01:14] serviceproviderpk commented on #160
12) Manage students
![image](https://user-images.githubusercontent.com/19146254/63659029-74e40d00-c7c8-11e9-9417-f8277597f860.png)

How student can be move to "Graduated" ,  Leave of Absense and struck of ?

what is diffrence in terminated and struck off?
b) if there is no data in grid

Only add button must be selectable

[2019-08-26 01:20] serviceproviderpk commented on #160
12) Attendance

a) I mark attendance but this is not visible in hisotry
again i tried to re-mark attedance data was not selected

but nothing is saved related to attendance.

[2019-08-26 01:23] serviceproviderpk commented on #160
13) in all places where we are using "+"  add  link with text as well

like

"Add new student"
Add  inquiry
"Collect fee"
"Add  new program"
"Add new section"

and so on...

[2019-08-26 01:26] serviceproviderpk commented on #160
14) Fee receipt screen must be 100% same as used in SGS Please
data must be displayed for each section.
![image](https://user-images.githubusercontent.com/19146254/63659617-c3df7180-c7cb-11e9-9061-0efdb1ec8c34.png)

receipt must display correct value of fee collections.
15) if double click on "Fee collection" list it is displaying empty form

[2019-08-26 01:33] serviceproviderpk commented on #160
Student Transfer  be categorized properly

Show data in field set

Transfer From Programs

Transfer To Programs

as transferred  change status of existing assigned programs.

in edit student there must be some status that will display active course
completed, transfered or graudated etc.

![image](https://user-images.githubusercontent.com/19146254/63659884-4a488300-c7cd-11e9-81fd-9ff0d0c6089c.png)

[2019-08-26 01:48] serviceproviderpk commented on #160
16) in Quick access add  "Reports" menu
and display their requested reports

and also add this link left menu as last menu  with name
"Reports" with no sub menu.

[2019-08-26 01:57] serviceproviderpk commented on #160
Reprot is not same as i given.

use logo proper section and border as welll so it give same look

6) Incident Form

a) Display time in   AM and PM format please
b) Default date must be Today Date instead  of "01/01/0001"
c) Add download option for template (look and feel please follow below)

on top add Niwe Logo plz

![incident report](https://user-images.githubusercontent.com/19146254/63478501-7

[2019-08-26 02:02] serviceproviderpk commented on #160
i see report as
![image](https://user-images.githubusercontent.com/19146254/63660335-69481480-c7cf-11e9-8c0d-fa7bcd70ba2b.png)

[2019-08-27 06:30] #142 closed, assigned to nobody

[2019-08-27 06:30] #140 closed, assigned to TahirHussai

[2019-08-27 06:31] serviceproviderpk opened #168 "QA Feedback"

[2019-08-27 06:32] serviceproviderpk commented on #168
RFA

[2019-08-27 07:39] #143 closed, assigned to nobody

[2019-08-27 07:41] #139 closed, assigned to nobody

[2019-08-27 07:42] #138 closed, assigned to nobody

[2019-08-27 07:46] #137 closed, assigned to nobody

[2019-08-27 07:48] #136 closed, assigned to nobody

[2019-08-27 07:56] #144 closed, assigned to nobody

[2019-08-27 07:59] #145 closed, assigned to nawabanjum, serviceproviderpk, adilshehbaz, TahirHussai

[2019-08-27 07:59] #147 closed, assigned to nobody

[2019-08-27 08:01] #148 closed, assigned to nobody

[2019-08-27 08:14] #165 closed, assigned to nobody

[2019-08-27 08:15] #164 closed, assigned to nobody

[2019-08-27 08:19] SajjadAhmad111 commented on #162
@adilshehbaz

[2019-08-27 08:30] #159 closed, assigned to nobody

[2019-08-27 08:35] SajjadAhmad111 commented on #158
@adilshehbaz

[2019-08-28 13:20] adilshehbaz commented on #160
1. Fixed
2. Fixed
3. Fixed
4. Fixed
5. Fixed
6. Format Changed
7. Fixed (If we mark attendance again, this update existing attendance, bcz user can update any time.)
8. Fixed
9. Fixed
10. Fixed
11. Fixed
12. Fixed moving from operations.. grid procedure remaining
13. Fixed
14. Fixed
15. Fixed
16. Fixed

[2019-08-29 01:24] serviceproviderpk commented on #160
@adilshehbaz  Thanks,

Please update status on google drive on productback log.

[2019-08-29 05:38] serviceproviderpk opened #169 "Feedback Aug 29"
1)  use some heading

Questions                               Answers

you can use field set for both or some heading whatever look good option.

![image](https://user-images.githubusercontent.com/19146254/63913274-05c91b80-ca49-11e9-9e4a-0b059b6abc50.png)

[2019-08-29 05:50] serviceproviderpk commented on #169
2) when user submit an enquiyy choose program must be optional.

[2019-08-29 06:08] serviceproviderpk commented on #169
3)  Student Transfer

a)  move remarks section below the  radio button sections.
![image](https://user-images.githubusercontent.com/19146254/63914494-d1575e80-ca4c-11e9-889f-03dc306050f9.png)

b) Use some validation
Student can not be transfer from same program to same program.

[2019-08-29 06:12] serviceproviderpk commented on #169
4)  Fee collection screen is displaying course  2 times.

reason i transfer student from Program A to "Program B"
on fee collection it is displaying 2 courses.

[2019-08-29 06:14] serviceproviderpk commented on #169
5) add space  between "+" and label
![image](https://user-images.githubusercontent.com/19146254/63914950-3069a300-ca4e-11e9-8646-fec2e9cbfc11.png)

[2019-08-29 06:23] serviceproviderpk commented on #169
6) Attendance not saving on live.

[2019-08-29 06:23] serviceproviderpk commented on #169
7) in communcatin add link those are requested by client like

a) Send message to alll staff
b) send message to all students  etc

[2019-08-29 06:29] serviceproviderpk commented on #169
8) Manage Student First Aid (on add/edit)

use * which fileds are compulsory

[2019-08-29 06:35] serviceproviderpk commented on #169
9) in all screen where we have added "+" and label

Please add some space between  + and label text

[2019-08-29 06:48] serviceproviderpk commented on #169
10) after uploading code on live. Please test all features on live.

[2019-08-29 06:54] serviceproviderpk commented on #169
@adilshehbaz

[2019-08-30 07:42] SajjadAhmad111 opened #170 "Issue in Branch Create"
![image](https://user-images.githubusercontent.com/50301383/64002475-91af7600-cb23-11e9-9076-bebf70acada1.png)

[2019-08-30 14:09] SajjadAhmad111 opened #171 "Convert Struck to leave And Struck of date is empty"
![image](https://user-images.githubusercontent.com/50301383/64027188-a0b11b00-cb59-11e9-96cf-b6113bf0d9a9.png)

[2019-08-30 14:18] SajjadAhmad111 opened #172 "In Graduated Successfully spelling is incorrect also convert pass out to Graduated"
![image](https://user-images.githubusercontent.com/50301383/64027819-f1754380-cb5a-11e9-973f-1ec4fb6367e4.png)

[2019-08-30 14:22] SajjadAhmad111 opened #173 "Active student is not being transferred to Graduated student"
![image](https://user-images.githubusercontent.com/50301383/64028099-76605d00-cb5b-11e9-8c47-8f8d28eaf0f3.png)

[2019-08-31 05:02] #130 closed, assigned to TahirHussai

[2019-08-31 05:21] SajjadAhmad111 commented on #131
Issue is still remaining

[2019-08-31 05:39] SajjadAhmad111 opened #174 "In Manage Document Save button is not working"
![image](https://user-images.githubusercontent.com/50301383/64059737-8f105780-cbdb-11e9-8377-c8abb1a629a3.png)

[2019-08-31 06:33] SajjadAhmad111 commented on #132
Issue is rmaining still

[2019-08-31 07:11] SajjadAhmad111 opened #175 "In fee Charges remove max limit"
![image](https://user-images.githubusercontent.com/50301383/64060478-69d51680-cbe6-11e9-8812-2e7d1f26a42d.png)

In fee Charges remove max limit which is 200000 and convert it to minimum which is Zero or greater then zero

[2019-08-31 07:16] SajjadAhmad111 opened #176 "Add the student in"

[2019-08-31 07:16] #176 closed, assigned to nobody

[2019-08-31 07:18] SajjadAhmad111 opened #177 "Inquiry student is not being transfered to register student"
I have Create inquiry student and i want to convert it into Active student but it is not converting to register or active student

[2019-08-31 07:25] adilshehbaz commented on #177
**RFR**

[2019-08-31 07:28] adilshehbaz commented on #175
**RFR**

[2019-08-31 07:44] adilshehbaz commented on #174
**RFR**

[2019-08-31 07:46] #141 closed, assigned to nobody

[2019-08-31 07:46] serviceproviderpk opened #178 "QA Feedback Aug 312019"

[2019-08-31 07:58] serviceproviderpk opened #179 "Management Feedback"
0) in User manual use flow of "Manage Group Rights"

[2019-08-31 07:59] adilshehbaz commented on #172
**RFR**

[2019-08-31 08:00] adilshehbaz commented on #171
**RFR**

[2019-08-31 08:10] serviceproviderpk commented on #179
2) Edit  Employee / Student  use bellow icon  on tool tip set as

"Only active student  can login"
"Only active employee can login"

![image](https://user-images.githubusercontent.com/19146254/64061209-bd4c6200-cbf0-11e9-9521-5091cb0ad803.png)

i assume it will be avaiable in fa fa icon.

[2019-08-31 08:13] SajjadAhmad111 commented on #178
![image](https://user-images.githubusercontent.com/50301383/64061230-0d2b2900-cbf1-11e9-85bb-cd3467121f25.png)

1) add the question mark for active or not active student

[2019-08-31 08:22] serviceproviderpk commented on #179
3)  when i click  on "Graduate" student heanding must be change instead of "Passout"
![image](https://user-images.githubusercontent.com/19146254/64061278-1072e480-cbf2-11e9-8e79-36f9e53b95bc.png)

[2019-08-31 08:24] serviceproviderpk commented on #179
4) on Edit section   > IN prograams

display following columsn as

ID(Program Id) , Status, Name and so on....

[2019-08-31 08:26] SajjadAhmad111 commented on #178
Student Section->In student leave
Student Leave view detail section hit the back button re-directly to manage student section.

[2019-08-31 08:52] adilshehbaz commented on #173
**RFR**

[2019-08-31 08:58] adilshehbaz commented on #178
**1. RFR**

[2019-08-31 09:00] SajjadAhmad111 commented on #178
3) issue in transfer Program

[2019-08-31 09:17] serviceproviderpk commented on #179
5) on student leave show student drop down in one line.
reason right side of drop down not clickable.
![image](https://user-images.githubusercontent.com/19146254/64061903-03f28a00-cbfa-11e9-8c4e-3d9106ca1086.png)

[2019-08-31 09:28] adilshehbaz commented on #179
**1,2,3,4 RFR**

[2019-08-31 09:42] adilshehbaz commented on #179
**5 RFR**

[2019-08-31 09:45] adilshehbaz commented on #169
**1,2,3,4,6,7 RFR**

[2019-08-31 09:51] serviceproviderpk commented on #179
6) add space between Label and  icon Please on all pages where you have added this label
![image](https://user-images.githubusercontent.com/19146254/64062363-d9570000-cbfe-11e9-92b5-b5d915caae6f.png)

[2019-08-31 10:23] serviceproviderpk commented on #179
6) in edit student set Gender Default value  as "Not specified"

[2019-08-31 10:36] SajjadAhmad111 commented on #178
4.Attendance section
mark the attendance of the student 'Present' but Verify in list student is not display
issue same for present and absent.

[2019-08-31 10:36] SajjadAhmad111 commented on #178
5.unable to view attendance list

[2019-08-31 10:42] adilshehbaz commented on #179
**6 RFR**

[2019-08-31 10:42] serviceproviderpk commented on #179
7) in student grid display  "Telephone" instead of  Mobile
as have used validation on  "Telephone" field
![image](https://user-images.githubusercontent.com/19146254/64062881-f6430180-cc05-11e9-9e77-ed8e9e7db42c.png)

[2019-08-31 10:48] SajjadAhmad111 commented on #178
![image](https://user-images.githubusercontent.com/50301383/64062912-841eec80-cc06-11e9-8211-44a2b944d361.png

collect accounts have show duplicate

[2019-08-31 10:53] serviceproviderpk commented on #179
8) Show Attedance menu after "Students" menu

[2019-08-31 10:56] serviceproviderpk commented on #179
9) on re-mark attedance , not displaying already marked attednace.

[2019-08-31 10:58] SajjadAhmad111 commented on #178
![image](https://user-images.githubusercontent.com/50301383/64063007-dca2b980-cc07-11e9-8d82-7851a5657169.png)

increase the box size.series number has show in one line.change the table sequence

[2019-08-31 11:01] serviceproviderpk commented on #179
10)  Attendance History not displaying marked attendance.

use proper heading and breadcrumb label for this page
![image](https://user-images.githubusercontent.com/19146254/64063061-8d10bd80-cc08-11e9-8777-6c778f78154b.png)

[2019-08-31 11:03] serviceproviderpk commented on #179
11) Print voucher not looking good, Please improve it.
![image](https://user-images.githubusercontent.com/19146254/64063082-ef69be00-cc08-11e9-98d3-f399cb117450.png)

[2019-08-31 11:06] serviceproviderpk commented on #179
12) Communcation

not displaying
a) send message to All staff
b) Send message to All students
c) Send message to Programm wise

[2019-08-31 11:07] serviceproviderpk commented on #179
13) on Brithday email we are sending email not sms
so use label of email instead of sms

[2019-08-31 11:12] serviceproviderpk commented on #179
14)
![image](https://user-images.githubusercontent.com/19146254/64063152-0bba2a80-cc0a-11e9-88b1-39b67aa8dbc3.png)
use validation for above section.

[2019-08-31 11:19] serviceproviderpk commented on #179
15) incident
show logo on incident report please
![image](https://user-images.githubusercontent.com/19146254/64063240-0f01e600-cc0b-11e9-97c2-16d999fbba2a.png)

[2019-08-31 20:24] serviceproviderpk commented on #179
16) use 2 decimal places please
![image](https://user-images.githubusercontent.com/19146254/64068838-46967f80-cc57-11e9-9657-da41886a88cd.png)

[2019-08-31 20:26] serviceproviderpk commented on #179
17) please left align data in columns

![image](https://user-images.githubusercontent.com/19146254/64068847-852c3a00-cc57-11e9-8cce-aed26592cd5c.png)

[2019-08-31 20:27] #150 closed, assigned to nobody

[2019-09-02 05:20] SajjadAhmad111 opened #180 "Issue on login to Niwe Academy"
![image](https://user-images.githubusercontent.com/50301383/64091756-2a840280-cd6b-11e9-811a-b899bf134304.png)

[2019-09-02 06:13] serviceproviderpk commented on #179
18) REports

a) rename   "Sr #  " with "SN"
b) remove preview column

[2019-09-02 06:35] serviceproviderpk commented on #179
19) Dashboard must display correct Data

![image](https://user-images.githubusercontent.com/19146254/64093816-29ef6a00-cd73-11e9-8a41-fed47172ea03.png)

[2019-09-02 06:46] serviceproviderpk commented on #179
20) in all emails  send Only first name  instead of full name like

Dear  Ali,

instead of

Dear Ali usman ahmed,

[2019-09-02 06:46] serviceproviderpk commented on #179
21) in fee collection email i am getting incorrect amount.

[2019-09-02 06:47] #180 closed, assigned to nobody

[2019-09-02 12:45] SajjadAhmad111 opened #181 "When i add student i have not received Mail of student registration"
When i add student i have not received Mail of student registration

[2019-09-02 12:58] SajjadAhmad111 opened #182 "I have add Four Student but when i marked their Attendance their Show only three student"
I have register four student but when i marked their attendance their show only three student.

[2019-09-02 13:10] SajjadAhmad111 opened #183 "Attendence Module has error in its every functionality"
![image](https://user-images.githubusercontent.com/50301383/64116728-8a4ecd80-cdac-11e9-83fa-0db24b4fd841.png)

I have three student
Marked one student as absent one as present and one as leave when i verify total absent and present student it show total student zero

[2019-09-02 13:26] SajjadAhmad111 opened #184 "Issue on fee collect"
![image](https://user-images.githubusercontent.com/50301383/64117653-27ab0100-cdaf-11e9-9e1d-17ade3c47c5f.png)

[2019-09-03 00:51] serviceproviderpk opened #185 "Feedback Sep 032019"
1) i created an Inquiry on on branch "Your school name"
i tried to download pdf i see empty pdf
![image](https://user-images.githubusercontent.com/19146254/64137005-cc106000-ce0e-11e9-9862-40dfa7f2ced4.png)

[2019-09-03 01:06] serviceproviderpk commented on #185
2) in all PDF document use same spacing and margin that have provided PDF

[2019-09-03 01:18] serviceproviderpk commented on #185
3) mark attendance not working i checked in diffrent browser and incoginato window as welll
https://www.loom.com/share/59e4533101ab44c0925cac16a51f2496

[2019-09-03 01:25] serviceproviderpk commented on #185
4) on Fee receipt

![image](https://user-images.githubusercontent.com/19146254/64137675-257a8e00-ce13-11e9-8230-b31045ca3f92.png)

a) show amount 2 decimal places
b)

[2019-09-03 01:25] serviceproviderpk commented on #185
5) i dont see client requested  menu in  "Communction" menu
![image](https://user-images.githubusercontent.com/19146254/64137783-a0dc3f80-ce13-11e9-8e72-0654433d95ca.png)
and i write this point several times.

[2019-09-03 01:30] serviceproviderpk commented on #185
6) in incident report use "*"  which are required fields.

yar ye koy batanay wala point hay????

![image](https://user-images.githubusercontent.com/19146254/64137978-5909e800-ce14-11e9-8f41-ef955e03e42f.png)

[2019-09-03 01:34] serviceproviderpk commented on #185
7) if i click on any submenu, this menu must remain expand. test it for all sub menu please and fix it.

[2019-09-03 01:41] serviceproviderpk commented on #185
8) Student Login

a) when i was logged in as student, i am unable to see "Transscript" write some  backend logic as any branch is created, auto add "Student Handbook for that branch"
b) when student is  login make sure, in Reports section, he must be able to his data ONLY
c) rename "Manage reports" with "Reports"

[2019-09-03 01:43] serviceproviderpk commented on #185
9) in Email notification with amount use currency symbol please
![image](https://user-images.githubusercontent.com/19146254/64138355-2b25a300-ce16-11e9-8b97-157f5225df86.png)

[2019-09-03 01:46] serviceproviderpk commented on #179
@adilshehbaz

my above feedback all task NOT done, few task are still missing

re-verify above all

[2019-09-03 01:47] serviceproviderpk commented on #185
10) as my previous feedback i said.

a) in terimated,grauddate,leave of absence, show remarks as last coumn.
b) for eacch grid column use required width ONLY. instead of zig zag width.

[2019-09-03 01:48] serviceproviderpk commented on #185
11) verify this feedback https://github.com/serviceproviderpk/sp.pk/issues/179
12) i see 53 points, if all issues fixed, ask sajjad to close them.

[2019-09-03 02:02] serviceproviderpk commented on #185
13) Fee collection report not diplsaying any data i collecet diffret fee for differnt students
![image](https://user-images.githubusercontent.com/19146254/64138985-c6b81300-ce18-11e9-8784-f154922fb421.png)

[2019-09-03 02:06] serviceproviderpk commented on #185
14) this report is missing
![image](https://user-images.githubusercontent.com/19146254/64139129-4ba32c80-ce19-11e9-8583-adc8c31b2509.png)

several time i said, Please compare product back log

Please take responsibility, you just only focus my feedback. take ownership of this project.

[2019-09-03 02:13] serviceproviderpk commented on #185
15) when program is choose show his  hours that was marked in his attednace for selected program.
if no attednace set it as 0
![image](https://user-images.githubusercontent.com/19146254/64139424-41356280-ce1a-11e9-8264-7bfee798b873.png)

[2019-09-04 00:44] serviceproviderpk commented on #185
@adilshehbaz  please verify above task assign to me.

[2019-09-04 06:28] serviceproviderpk opened #186 "Sajjad Task"
1) create new layoutage

memberaccess.layout

2) MemberLogin controller
	- Login
	-Forget Passowrd
	-TryFreeDemo
	- Help

3) Thanks pge

[2019-09-04 06:28] serviceproviderpk commented on #186
niwe testing will all data flow

[2019-09-04 07:36] SajjadAhmad111 opened #187 "Sajjad Feedback"
Successfully spelling is incorrect in notification when we restore student from graduated to active student

![image](https://user-images.githubusercontent.com/50301383/64234633-31984580-cf10-11e9-8d46-a16a247e1297.png)

[2019-09-04 08:05] SajjadAhmad111 commented on #187
I have total Student four.When i marked their attendance first  time they are showing four and when i marked attendance next time  these four student become 8.Mean they become double every time

![image](https://user-images.githubusercontent.com/50301383/64236676-568eb780-cf14-11e9-9069-1343696202b2.png)

[2019-09-04 08:08] SajjadAhmad111 commented on #187
Validation message should be show below the text field of date of birth

![image](https://user-images.githubusercontent.com/50301383/64237078-14b24100-cf15-11e9-89e6-b4204d85ec8c.png)

[2019-09-04 08:14] SajjadAhmad111 commented on #187
When i Create a staff i have to face this error many time.
![image](https://user-images.githubusercontent.com/50301383/64237486-e1bc7d00-cf15-11e9-8452-286ff3fb0051.png)

[2019-09-04 09:42] SajjadAhmad111 commented on #187
when i collect fee of any student i have to face this error.

![image](https://user-images.githubusercontent.com/50301383/64244187-074f8380-cf22-11e9-9bb7-2d67d98f1e93.png)

[2019-09-04 10:01] SajjadAhmad111 commented on #187
In fee collect searching is not working

![image](https://user-images.githubusercontent.com/50301383/64245687-d1f86500-cf24-11e9-802a-00e456afc609.png)

[2019-09-04 11:10] SajjadAhmad111 commented on #187
In student First aid save button is not working

![image](https://user-images.githubusercontent.com/50301383/64250021-7fbc4180-cf2e-11e9-87d3-e542d9d4e830.png)

[2019-09-04 13:02] adilshehbaz commented on #187
**All Issues Fixed**

[2019-09-04 13:03] adilshehbaz commented on #185
All issues fixed,... No 2 Remaining

[2019-09-04 15:23] adilshehbaz opened #188 "Feedback 4 9 2019"

[2019-09-04 15:45] adilshehbaz commented on #188
1) Download First Contact Form issue on Inquiry while not selecting class

[2019-09-04 15:47] adilshehbaz commented on #188
2) Fee Receipt Download Amount Decimal issue

[2019-09-04 15:59] adilshehbaz commented on #188
3- Attendance History Menu not active on click

[2019-09-04 16:01] adilshehbaz commented on #188
4- Send SMS to Send Email on General Emails

[2019-09-04 16:06] adilshehbaz commented on #188
5- Incident Report not looking Good

[2019-09-04 16:21] adilshehbaz commented on #188
1,2,3,4,5 Fixed

[2019-09-05 06:08] serviceproviderpk commented on #179
22)  in  system i have 3 students as attendance marked 3 time grid showing 9 students.

![image](https://user-images.githubusercontent.com/19146254/64316147-6dddab80-cfcd-11e9-90cc-a4b58839b295.png)

sajjad also getting this issue.

[2019-09-05 06:32] SajjadAhmad111 commented on #187
I have Create an inquiry when i download it then i have face this error instead of download this file
![image](https://user-images.githubusercontent.com/50301383/64315913-cfe9e100-cfcc-11e9-9c99-a326828e41d1.png)

[2019-09-05 06:35] SajjadAhmad111 commented on #187
![image](https://user-images.githubusercontent.com/50301383/64317336-d2e6d080-cfd0-11e9-9fb4-f9779fbd53e0.png)

[2019-09-05 06:35] #187 closed, assigned to serviceproviderpk, adilshehbaz

[2019-09-05 06:39] SajjadAhmad111 commented on #187
in Manage import student there should be maximum limit on province
![image](https://user-images.githubusercontent.com/50301383/64317489-4852a100-cfd1-11e9-8013-09e1a39770c4.png)

[2019-09-05 06:42] serviceproviderpk commented on #179
23) add max length in  fields in all system.

[2019-09-05 06:57] SajjadAhmad111 commented on #187
Studdent incident report is no looking well
![image](https://user-images.githubusercontent.com/50301383/64318768-4b02c580-cfd4-11e9-9aff-c8284ddeeec6.png)

[2019-09-05 11:00] SajjadAhmad111 opened #189 "5 september"

[2019-09-05 11:02] SajjadAhmad111 commented on #189
Show the breadcrumb on Section Screen

[2019-09-05 11:04] SajjadAhmad111 commented on #189
On Dashboard and Communication system icon has been disappear when when we expand any module

[2019-09-05 11:06] SajjadAhmad111 commented on #189
In Secession Screen give space between icon and add secession

![image](https://user-images.githubusercontent.com/50301383/64336644-ec9b0e80-cff6-11e9-9e25-3c7478b7e5ea.png)

[2019-09-05 11:08] SajjadAhmad111 commented on #189
In Manage Question Screen also give space between icon and add question

![image](https://user-images.githubusercontent.com/50301383/64336780-3d126c00-cff7-11e9-832d-b01ed2e44733.png)

[2019-09-05 11:35] SajjadAhmad111 commented on #189
Add space between icon and add Reminder on Reminder Screen

![image](https://user-images.githubusercontent.com/50301383/64338429-28d06e00-cffb-11e9-94e2-e4f17f113fd1.png)

[2019-09-05 11:40] SajjadAhmad111 commented on #189
In Send Birth Day Message  Screen there Should be notification instead of message

![image](https://user-images.githubusercontent.com/50301383/64338653-bf9d2a80-cffb-11e9-8f55-0f063bdc5164.png)

[2019-09-05 12:07] adilshehbaz commented on #189
**RFR**

[2019-09-05 18:08] serviceproviderpk commented on #179
24) on employee email use "," after name

![image](https://user-images.githubusercontent.com/19146254/64367697-1e7d9680-d032-11e9-9a2a-2cf2b1a7640d.png)

[2019-09-05 18:15] serviceproviderpk commented on #179
25) in manage student set default discount as "percent"

[2019-09-05 18:18] serviceproviderpk commented on #179
26) ON manage documents as document is upload re-set control values.

[2019-09-05 18:28] serviceproviderpk commented on #179
27 ) Manage attednace (Program, student and section must be optional)

![image](https://user-images.githubusercontent.com/19146254/64368995-d613a800-d034-11e9-9275-748af7131d03.png)

[2019-09-05 18:29] serviceproviderpk commented on #179
28) monthly brday reports (add new reprt)

[2019-09-05 18:35] serviceproviderpk commented on #179
29) reduce width of  action column use some good icon with label
![image](https://user-images.githubusercontent.com/19146254/64369174-34d92180-d035-11e9-8321-a538d497e1ee.png)

[2019-09-05 18:38] serviceproviderpk commented on #179
30) in User manual use flow of "Manage Group Rights"

[2019-09-05 18:45] serviceproviderpk commented on #179
31)  in fee recceipt email, i am getting  "10.5" instead of "10.50"
![image](https://user-images.githubusercontent.com/19146254/64370142-44596a00-d037-11e9-9304-5e8974c01f10.png)

[2019-09-06 01:20] serviceproviderpk commented on #179
31) show all details of Program
![image](https://user-images.githubusercontent.com/19146254/64394208-75a15c80-d06e-11e9-9feb-347dd5f5bafb.png)

Name , start date, end date, duration, same way we are showing in student register screen

[2019-09-06 01:26] serviceproviderpk opened #190 "Misc Task"
----------------------------------

1) when document is removed, also remove from  Folder
2) keep width of grid column according to desired text

[2019-09-06 01:28] serviceproviderpk commented on #190
3) in all grids of students first column will be "ID,CreatedDate,ActionDate and so on....
![image](https://user-images.githubusercontent.com/19146254/64394403-74bcfa80-d06f-11e9-8e47-4369fa141b55.png)

[2019-09-06 01:30] serviceproviderpk commented on #179
5) on student leave show student drop down in one line.
reason right side of drop down not clickable.
![image](https://user-images.githubusercontent.com/19146254/64061903-03f28a00-cbfa-11e9-8c4e-3d9106ca1086.png)

[2019-09-06 01:33] serviceproviderpk commented on #179
6) Move down "Staff" menu below the "Fee" menu

[2019-09-06 01:35] serviceproviderpk commented on #179
7) Add  "+" and Mark Attendance button in list page
![image](https://user-images.githubusercontent.com/19146254/64394634-8226b480-d070-11e9-8a7c-9f484d34286f.png)

[2019-09-06 01:42] serviceproviderpk commented on #179
8) I tried to send message to a class
![image](https://user-images.githubusercontent.com/19146254/64394800-49d3a600-d071-11e9-9345-3fdf937cbbce.png)

that have already few students. but when i click on "submit" i see no record msg

![image](https://user-images.githubusercontent.com/19146254/64394824-640d8400-d071-11e9-9643-e81b919b3e37.png)

Please try send email with all options and confirm it.

[2019-09-06 01:44] serviceproviderpk commented on #179
9) rename word "Class" with Program
![image](https://user-images.githubusercontent.com/19146254/64394899-be0e4980-d071-11e9-9d4d-b892c303f593.png)

[2019-09-06 01:47] serviceproviderpk commented on #179
10) SHOW ALL details OF STUDENT  like name, id, email (as we have stanard functions)
![image](https://user-images.githubusercontent.com/19146254/64395032-3b39be80-d072-11e9-8e63-07be23501505.png)

[2019-09-06 01:49] serviceproviderpk commented on #190
3) use generic message for required filed
example "This field is required."

[2019-09-06 01:52] serviceproviderpk commented on #190
4) in all pdf use logo as water mark with light gray dim color. it will give some good look

[2019-09-06 01:54] serviceproviderpk commented on #179
11) on edit incident report "Time" is always null on edit screen
![image](https://user-images.githubusercontent.com/19146254/64395302-31fd2180-d073-11e9-9990-cb548681df1c.png)

[2019-09-06 01:59] serviceproviderpk commented on #179
12) in fee collection  2.99
![image](https://user-images.githubusercontent.com/19146254/64395420-a89a1f00-d073-11e9-8d9f-87a3c506e974.png)
instead of 2.99 showing "3"
![image](https://user-images.githubusercontent.com/19146254/64395462-cff0ec00-d073-11e9-9001-197b77e53860.png)

[2019-09-06 02:02] serviceproviderpk commented on #179
13)   Amount column and row text must be right alighn, and Particular header and row text must be left align.
![image](https://user-images.githubusercontent.com/19146254/64395605-44c42600-d074-11e9-8bf5-2b7049acc501.png)

[2019-09-06 02:06] serviceproviderpk commented on #179
14) show fee in 2 decimal places
![image](https://user-images.githubusercontent.com/19146254/64395747-bb612380-d074-11e9-9f0d-7009d98bbc85.png)

[2019-09-06 02:10] serviceproviderpk commented on #179
15) fee must be in 2 decimal places in email
![image](https://user-images.githubusercontent.com/19146254/64395938-68d43700-d075-11e9-81b5-32eddb72b492.png)

[2019-09-06 02:16] serviceproviderpk commented on #179
16) rename  to "Import Students"
![image](https://user-images.githubusercontent.com/19146254/64396150-2e1ece80-d076-11e9-95d3-0a24f3421717.png)

[2019-09-06 02:34] serviceproviderpk commented on #179
17) Forgot Password Email not Received.

change email sending function and test, it must send email.

[2019-09-06 02:34] serviceproviderpk commented on #179
18) Create a gmail id, niweca@gmail.com
use this email id for sending email.

i can share its code with you. if required.

[2019-09-06 02:35] serviceproviderpk commented on #190
5) Forgot Password Email not Received.

[2019-09-06 02:36] serviceproviderpk commented on #179
19) in all reports left alighn row and heading text
![image](https://user-images.githubusercontent.com/19146254/64396993-1137ca80-d079-11e9-9e26-1b17a39a0698.png)

[2019-09-06 02:52] serviceproviderpk commented on #179
-

[2019-09-06 02:55] serviceproviderpk commented on #179
21) what is name of menu that we are using for " Loan registration form"

[2019-09-06 03:01] serviceproviderpk commented on #179
22) Loan Installments - Alberta Student Aid will provide loan to student and payment  would be issued in installments as well.

which menu is used to manage loan that will be given to student?

[2019-09-06 03:03] serviceproviderpk commented on #179
23)
![image](https://user-images.githubusercontent.com/19146254/64398040-d5066900-d07c-11e9-9d13-b33f1c2a01b4.png)

increase width of the program dropdown

[2019-09-06 03:05] serviceproviderpk commented on #179
24)   caculate percetange  on the basis of

"Total hours of program and attedenace hours " and set value in textbox
![image](https://user-images.githubusercontent.com/19146254/64398107-11d26000-d07d-11e9-899f-b73aa597455d.png)

[2019-09-06 03:08] serviceproviderpk commented on #179
25)

REGISTRATION   & LOAN CHECKLIST
--
STUDENT AID PAPER APPLICATION

which menu will be use for above 2 section
write your comments plz

[2019-09-06 03:10] serviceproviderpk commented on #179
26) Trasscript Report is missing in report section

[2019-09-06 03:13] serviceproviderpk commented on #179
27) Create an API that will save  Inquiry, data will be as
below

![image](https://user-images.githubusercontent.com/19146254/64398396-1cd9c000-d07e-11e9-9d2d-bcb9a5fec1d6.png)

[2019-09-06 06:43] serviceproviderpk commented on #179
28) in User manuall document please use some headin glike

1) Manage Students
  1.1 Inquiry
1.2  Import Student
etc and so on...

[2019-09-06 07:30] SajjadAhmad111 opened #191 "6/9/19"

[2019-09-06 07:34] SajjadAhmad111 commented on #191
In student transfer Screen if we don't select the value of any field  then there should be validation that this field cannot be empty.

![image](https://user-images.githubusercontent.com/50301383/64409542-8d92d380-d0a2-11e9-8285-0e23b0daff81.png)

[2019-09-06 07:41] SajjadAhmad111 commented on #191
when i import student from excel file and save this file.Then i see a notification in which each statement is written two times.

![image](https://user-images.githubusercontent.com/50301383/64410067-a9e34000-d0a3-11e9-8740-67ec146e1cfb.png)

[2019-09-06 13:13] adilshehbaz commented on #179
21. Loan Registration Form
22. Need to create

[2019-09-06 13:13] adilshehbaz commented on #179
26. Transcript Report Mean??

[2019-09-06 13:15] adilshehbaz commented on #179
27. Where to create API in web project or in webAPI project

[2019-09-06 13:16] adilshehbaz commented on #179
All other issues are fixed.

[2019-09-07 01:05] serviceproviderpk commented on #179
1) Open PDF document in new tab instead of show downloading.

[2019-09-07 01:09] serviceproviderpk commented on #179
-

[2019-09-07 01:18] serviceproviderpk commented on #190
6) All PDF must be same 100% as provided by them , i compared there is huge diffrence.
they provided all samples

[2019-09-07 01:26] serviceproviderpk commented on #190
7) Date format me same in all places accordding to Canda date format
i assume that is  "YYYY - MM - DD"

[2019-09-07 01:30] serviceproviderpk commented on #179
3) Change color of this button, Please use some css, it must effect on all places.
i re-produced this issue  in Incoginato windows
![image](https://user-images.githubusercontent.com/19146254/64468038-ead96400-d138-11e9-9813-44a4bc4e2b0c.png)

[2019-09-07 01:32] serviceproviderpk commented on #190
8) Grid font size must be same on row selected and un-selected

[2019-09-07 01:33] serviceproviderpk commented on #179
4) Default value must be "Select"

[2019-09-07 01:36] serviceproviderpk commented on #179
5) show hours column
![image](https://user-images.githubusercontent.com/19146254/64468101-e06b9a00-d139-11e9-88d2-503a16795bbe.png)

[2019-09-07 01:40] serviceproviderpk commented on #179
6) in student drop down show standard data like (first middle name last name, id, and email etc)

[2019-09-07 01:48] serviceproviderpk commented on #179
7) on fee collection i given Receipt Discount as  "14.75" but it was displayed  as
"$ 15" in PDF report

and in email display value of  "Receipt Discount "

![image](https://user-images.githubusercontent.com/19146254/64468233-7fdd5c80-d13b-11e9-9bc4-4588603cc4cb.png)

[2019-09-07 01:52] serviceproviderpk commented on #179
8) on student leave show student drop down in one line.
reason right side of drop down not clickable.
![image](https://user-images.githubusercontent.com/19146254/64061903-03f28a00-cbfa-11e9-8c4e-3d9106ca1086.png)

[2019-09-07 01:56] serviceproviderpk commented on #179
9)
![image](https://user-images.githubusercontent.com/19146254/64468288-583ac400-d13c-11e9-80df-27f85a54e9f1.png)

a) change message "Your request is send to sms gateway."
to "Your request is successfully processed."

b) show email log please

[2019-09-07 02:01] serviceproviderpk commented on #179
10) change color according to theme
![image](https://user-images.githubusercontent.com/19146254/64468329-f7f85200-d13c-11e9-87be-9979bb7e6c2b.png)

[2019-09-07 02:01] serviceproviderpk commented on #179
11) on edit incident report "Time" is always null on edit screen
![image](https://user-images.githubusercontent.com/19146254/64395302-31fd2180-d073-11e9-9990-cb548681df1c.png)

[2019-09-07 02:02] serviceproviderpk commented on #179
12) in fee collection  2.99
![image](https://user-images.githubusercontent.com/19146254/64395420-a89a1f00-d073-11e9-8d9f-87a3c506e974.png)
instead of 2.99 showing "3"
![image](https://user-images.githubusercontent.com/19146254/64395462-cff0ec00-d073-11e9-9001-197b77e53860.png)

[2019-09-07 02:04] serviceproviderpk commented on #179
13)  must display 2 decimal places
![image](https://user-images.githubusercontent.com/19146254/64468383-b025fa80-d13d-11e9-8c1a-86ee82c00a8f.png)

[2019-09-07 02:06] serviceproviderpk commented on #179
14) Forget Password not sending email

[2019-09-07 02:07] serviceproviderpk commented on #179
15) Create a gmail id, niweca@gmail.com
use this email id for sending email.

i can share its code with you. if required.

[2019-09-07 02:14] serviceproviderpk commented on #179
16) When student and employee account is created create random password as number.
instead of random string.
in BusinessManager we have 2 different function for it.

[2019-09-07 05:26] SajjadAhmad111 opened #192 "7/9/19 issue by sajjad"

[2019-09-07 05:27] SajjadAhmad111 commented on #192
Downloading  of Inquiry has been disturbed again.When i download it  then i have to face this error.

![image](https://user-images.githubusercontent.com/50301383/64470261-cd68c200-d159-11e9-82ee-a73daf77fdbb.png)

[2019-09-07 05:34] SajjadAhmad111 commented on #191
Still Remaining

[2019-09-07 05:55] SajjadAhmad111 commented on #189
Has been fixed

[2019-09-07 06:52] SajjadAhmad111 commented on #192
In Inquiry Screen when we add text in Date of birth field then validation is show which is going outside the screen
![image](https://user-images.githubusercontent.com/50301383/64471064-d95a8100-d165-11e9-99f4-2509a4f6c8a5.png)

[2019-09-07 07:45] SajjadAhmad111 commented on #192
In Inquiry student section edit the inquiry and transfer to Manager student but he not to transfer.

[2019-09-07 09:35] serviceproviderpk commented on #179
17)
a) ![image](https://user-images.githubusercontent.com/19146254/64472745-85a76200-d17c-11e9-91cc-cfced46670c7.png)
show 2 decimal places
b)
![image](https://user-images.githubusercontent.com/19146254/64472759-b4bdd380-d17c-11e9-9563-4283703817cd.png)

[2019-09-07 10:45] serviceproviderpk opened #193 "Feedback All Sprints"
0)  Student: When a student registers an account the first thing they should be able to view is the student  handbook. They should read and accept then be able to go through their orientation package and carry on with their other functions as required.

Solution:

in student table add new filed "AgreeTermsAndCondition" as bit.

when student login to portal first time.
he will click on check box. o

[2019-09-07 10:50] serviceproviderpk commented on #193
2) in all reports  for Program and course use Generic drop down please.

that we are using

[2019-09-07 10:56] serviceproviderpk commented on #193
3) fee collection issue if we add 1.11 in all fields and in last one .99
grid dont dipslay any data

[2019-09-07 11:10] SajjadAhmad111 commented on #118
From active student when i move to Terminated student data is moving to terminated list but this is not showing the data of Gender

[2019-09-07 11:12] #118 closed, assigned to nobody

[2019-09-07 11:13] #122 closed, assigned to nobody

[2019-09-07 11:14] #120 closed, assigned to serviceproviderpk

[2019-09-07 11:20] serviceproviderpk commented on #193
4)  make this template simple as for other  emails
![image](https://user-images.githubusercontent.com/19146254/64474207-63691080-d18b-11e9-82b5-7ebe47727da3.png)

[2019-09-07 11:25] #123 closed, assigned to nobody

[2019-09-07 11:27] #125 closed, assigned to nobody

[2019-09-07 11:28] #149 closed, assigned to nobody

[2019-09-07 11:29] #152 closed, assigned to adilshehbaz, TahirHussai, SajjadAhmad111

[2019-09-07 11:31] #154 closed, assigned to adilshehbaz, TahirHussai, SajjadAhmad111

[2019-09-07 11:31] #155 closed, assigned to adilshehbaz, TahirHussai, SajjadAhmad111

[2019-09-07 11:32] serviceproviderpk commented on #190
9)  if user click on Any button like "Edit" and there is no record in the grid, Application is always show loading icon.
please do it for all grids. this is very important issue
![image](https://user-images.githubusercontent.com/19146254/64467816-19a20b00-d136-11e9-9433-67024c425794.png)

[2019-09-07 11:32] #156 closed, assigned to nobody

[2019-09-07 11:32] #158 closed, assigned to nobody

[2019-09-07 11:34] #171 closed, assigned to serviceproviderpk, SajjadAhmad111

[2019-09-07 11:34] #172 closed, assigned to serviceproviderpk, SajjadAhmad111

[2019-09-07 11:40] serviceproviderpk commented on #193
5) Fee collection list
![image](https://user-images.githubusercontent.com/19146254/64474420-3cf8a480-d18e-11e9-86a0-be726cae6da0.png)

[2019-09-07 11:41] serviceproviderpk commented on #193
6) ) on student leave show student drop down in one line.
reason right side of drop down not clickable.
![image](https://user-images.githubusercontent.com/19146254/64061903-03f28a00-cbfa-11e9-8c4e-3d9106ca1086.png)

[2019-09-07 12:21] #183 closed, assigned to nobody

[2019-09-07 12:34] SajjadAhmad111 commented on #184
fixed

[2019-09-07 12:34] #184 closed, assigned to nobody

[2019-09-07 12:35] #181 closed, assigned to nobody

[2019-09-07 12:36] #175 closed, assigned to serviceproviderpk, SajjadAhmad111

[2019-09-07 12:36] #174 closed, assigned to serviceproviderpk, SajjadAhmad111

[2019-09-07 12:36] #173 closed, assigned to serviceproviderpk, SajjadAhmad111

[2019-09-07 12:37] #170 closed, assigned to serviceproviderpk, SajjadAhmad111

[2019-09-07 13:20] serviceproviderpk commented on #193
7) I transfer student from  one program to anohter. that sutdent was disappered from student list

[2019-09-07 13:26] serviceproviderpk commented on #179
17)

[2019-09-07 13:26] #179 closed, assigned to adilshehbaz

[2019-09-07 14:20] serviceproviderpk commented on #193
8)  Fee Report – How much a student has paid and how much is pending

[2019-09-07 14:25] serviceproviderpk commented on #193
9) Enquiry API (you can do it later on)

[2019-09-07 15:42] serviceproviderpk commented on #193
10)  in add program, i am unable to set start date  12/12/2020

[2019-09-07 16:11] serviceproviderpk commented on #193
11)  as email not working  in  create/edit student and employee display passowrd box.
on get set its default passowrd.

[2019-09-10 07:24] serviceproviderpk opened #194 "Umer Feedback"

[2019-09-10 07:26] serviceproviderpk commented on #194
1) Edit Students - Program Deleted

IF fee of a program has been paid and other formalities, i deleted program from students by editing it, it did deleted that program.

now again i try to update that program or change program in student edit
it does not allow me to do that and all sections,program are empty see screenshot.

all the documents i uploaded are also gone. (is this right?)
let me give

[2019-09-10 07:27] serviceproviderpk commented on #194
2) Change CNIC to "ID Number"

In student profile: Change CNIC to "ID Number"
because in Canada there is no concept of cnic but ID number is used for this purpose.

[2019-09-10 07:28] #194 closed, assigned to nobody

[2019-09-10 07:28] #126 closed, assigned to serviceproviderpk, adilshehbaz

[2019-09-10 07:28] #129 closed, assigned to nobody

[2019-09-10 07:28] #131 closed, assigned to adilshehbaz

[2019-09-10 07:28] #132 closed, assigned to adilshehbaz

[2019-09-10 07:28] #151 closed, assigned to adilshehbaz, TahirHussai, SajjadAhmad111

[2019-09-10 07:28] #153 closed, assigned to adilshehbaz, TahirHussai, SajjadAhmad111

[2019-09-10 07:28] #157 closed, assigned to adilshehbaz, TahirHussai, SajjadAhmad111

[2019-09-10 07:28] #160 closed, assigned to adilshehbaz

[2019-09-10 07:28] #161 closed, assigned to adilshehbaz, TahirHussai, SajjadAhmad111

[2019-09-10 07:28] #162 closed, assigned to nobody

[2019-09-10 07:28] #166 closed, assigned to nobody

[2019-09-10 07:28] #167 closed, assigned to nawabanjum, serviceproviderpk, adilshehbaz, TahirHussai

[2019-09-10 07:28] #168 closed, assigned to nobody

[2019-09-10 07:28] #169 closed, assigned to adilshehbaz

[2019-09-10 07:28] #177 closed, assigned to serviceproviderpk, SajjadAhmad111

[2019-09-10 07:28] #178 closed, assigned to nobody

[2019-09-10 07:28] #182 closed, assigned to nobody

[2019-09-10 07:28] #185 closed, assigned to nobody

[2019-09-10 07:28] #186 closed, assigned to SajjadAhmad111

[2019-09-10 07:28] #188 closed, assigned to serviceproviderpk, SajjadAhmad111

[2019-09-10 07:28] #189 closed, assigned to serviceproviderpk, adilshehbaz

[2019-09-10 07:28] #191 closed, assigned to serviceproviderpk, adilshehbaz

[2019-09-10 07:28] #192 closed, assigned to adilshehbaz

[2019-09-10 07:28] #193 closed, assigned to nobody

[2019-09-12 01:21] serviceproviderpk opened #195 "omer feedback"
-

[2019-09-12 01:41] serviceproviderpk commented on #195
1) Edit student on download button  as "Mouse hover" show hand icon(cursor)
![image](https://user-images.githubusercontent.com/19146254/64747248-e392cb80-d527-11e9-8e7b-935e51f383da.png)

[2019-09-12 01:41] serviceproviderpk commented on #195
2) in create inquuiry download button not working also use handicon on mouse hover

[2019-09-12 01:45] serviceproviderpk commented on #195
3)  in Edit Inquiry download document button not working aslo handicon on mouse hover please

[2019-09-12 01:51] serviceproviderpk commented on #195
4) i want to create a "Program" from November  2019 to December  2019
Start date can no be choosed as november.

if you are getting issue in client side, you can use backend this check.

this is very confusion, user must increase end date to increase the start date.

by default you can set start date and end date null if it is usefull for you.

[2019-09-12 06:13] serviceproviderpk commented on #195
5) when we create / edit student we have diffrent fileds for first name, middle name and last name.

![image](https://user-images.githubusercontent.com/19146254/64758514-32535c00-d54e-11e9-87d1-5e77a0bc8411.png)

but when student login we are showing only one field

show diffrent fields for it.

![image](https://user-images.githubusercontent.com/19146254/64758551-4dbe6700-d54e-11e9-91f2-19d3921a22

[2019-09-12 06:24] serviceproviderpk commented on #195
6 ) when  admin edit student profile

send email to student same as we we on new student creation

like

Dear Ali,

Your account details is

Email: your@afsds.com
Password: sadfasdf

Thanks,

7) when admin edit staff also send email to staff

[2019-09-12 06:33] serviceproviderpk commented on #195
8) Student leave
![image](https://user-images.githubusercontent.com/19146254/64759490-aee73a00-d550-11e9-8c41-0446ccdf3191.png)

a) When admin/staff "Add Student leave"
firt we will choose student
then  we will select Program of student
Then FromDate will be today date and  To date will be end date of the Program.

b) When student will apply for  leave he will chooose his  program and so on....

[2019-09-12 06:39] serviceproviderpk commented on #195
9) "Send Genral Email" Spellings are wrong.
- Generatel notifications -> not all programs and sections being loading.

try to send email using all options.

[2019-09-12 06:47] serviceproviderpk commented on #195
10) Delete student then test below

IF fee of a program has been paid and other formalities, i deleted program from students by editing it, it did deleted that program.

now again i try to update that program or change program in student edit
it does not allow me to do that and all sections,program are empty see screenshot.

all the documents i uploaded are also gone. (is this right?)
let me give

[2019-09-12 06:57] serviceproviderpk commented on #195
11) Edit Student > Program

![image](https://user-images.githubusercontent.com/19146254/64760975-66ca1680-d554-11e9-9f3c-e91637be0c19.png)

[2019-09-12 07:00] serviceproviderpk commented on #195
after fixing above issues, Please test all system features.  by entering data.

we wish to deliver Quality of work!!!!!

[2019-09-12 08:02] #119 closed, assigned to nobody

[2019-09-13 06:59] #108 closed, assigned to serviceproviderpk, adilshehbaz

[2019-09-13 07:14] serviceproviderpk commented on #195
14) branch that we have shared with Umer

change session to  "Winter 2019" and "Summer 2019"

[2019-09-13 07:36] serviceproviderpk commented on #195
15)  on Daily Attendance >  attedance add min date check

mininum date must me today.

[2019-09-13 07:36] SajjadAhmad111 commented on #121
Still Remaining

[2019-09-13 07:43] serviceproviderpk commented on #195
16) in student profile > Attendace secion show Hours column
and  in footer show number of hours he completed
![image](https://user-images.githubusercontent.com/19146254/64845619-1621ee80-d624-11e9-858f-8ea4349b365d.png)

[2019-09-13 07:49] serviceproviderpk commented on #195
17) back button sh;d not reload page
![image](https://user-images.githubusercontent.com/19146254/64846014-f8a15480-d624-11e9-8002-425df1ed2e53.png)

[2019-09-13 07:55] serviceproviderpk commented on #195
18) on fee collection, if i choose "Select"  instead of program it is giving exception.
![image](https://user-images.githubusercontent.com/19146254/64846265-ae6ca300-d625-11e9-9492-6aabb3b78098.png)

[2019-09-13 08:07] serviceproviderpk commented on #195
19) if there is no delete buton show Transfer button
with some good icon

![image](https://user-images.githubusercontent.com/19146254/64846993-62baf900-d627-11e9-8293-6225e4076b4a.png)

[2019-09-13 10:42] serviceproviderpk commented on #195
20) @TahirHussai  explain below issue to adil

Test at Niwe on live
I have open Inquiry grid i have no record
 i have select download and edit cursor move i think we need to display message
I have Regiger one student and collect fee after fee collection i have in active that class in which class student is registered
then i have collect fee In Active class is available in fee collection, same Enro

[2019-09-13 12:27] SajjadAhmad111 commented on #121
Still Remaining

[2019-09-13 12:33] SajjadAhmad111 commented on #114
Has been Fixed

[2019-09-14 01:58] serviceproviderpk commented on #195
@adilshehbaz  verify on live, and write fix infront of each task

[2019-09-14 02:09] serviceproviderpk commented on #195
[nathan03666228.docx](https://github.com/serviceproviderpk/sp.pk/files/3612265/nathan03666228.docx)

client feedback with comments

[2019-09-14 07:42] serviceproviderpk opened #196 "Client Feedback"

[2019-09-14 07:45] serviceproviderpk commented on #196
1) Student: Inquire student should be like a crm where we can track leads, also formally like hubspot or link to all our email inbox to gather new leads, this will allow us to track all our leads in one place instead of taking the time to add a inquiry one at a time

Solution:
a) API will save data in inquiry.  (API that will display active programs,  api that will save inquiry
b) also add one ent

[2019-09-14 07:57] serviceproviderpk commented on #196
2) Reminder of how many hours till graduation plus reminders at 80% students are always concerned by their hours.
- no reply email congralutions you are almost completed your graduations and send how many hours they are left with.

[2019-09-14 08:09] serviceproviderpk commented on #196
Notification of changes from the calendar to all staff
Solution:
Show system activities. (draw and show)

[2019-09-14 12:57] serviceproviderpk commented on #196
3) Sample Email

Once student hits 60% of their tuition:

Hi %Name%
This is a friendly reminder that you should have paid 100 % of your tuition by now.

If you have any questions or concerns please contact accounting@niwe.ca.

[2019-09-15 07:57] serviceproviderpk commented on #195
1) Forget Password showing old logo
http://niwe.schoolmanagementsoftware.pk/Account/ForgetPassword

![image](https://user-images.githubusercontent.com/19146254/64918500-692caa80-d7b8-11e9-8db1-235b837f14ca.png)

[2019-09-15 09:02] serviceproviderpk commented on #195
2) i changed the sesssion students always remaing same in student list

[2019-09-15 09:14] serviceproviderpk commented on #195
3) Staff profile also display password in email
![image](https://user-images.githubusercontent.com/19146254/64919341-1c020600-d7c3-11e9-8a7b-cf21be16a04f.png)

[2019-09-15 09:22] serviceproviderpk commented on #195
4- Communiction > on all staff emails
![image](https://user-images.githubusercontent.com/19146254/64919452-47392500-d7c4-11e9-9c59-b2cdf279c602.png)

[2019-09-15 09:33] serviceproviderpk commented on #195
5) mark attendace , delete button must be disable.

[2019-09-16 01:32] serviceproviderpk commented on #195
1)  Attednace can be mark with in duration of the Program
we need change sequence of  controls
Program,section,Datepicker ( date can be only selected with duration of the program)

[2019-09-16 01:33] serviceproviderpk commented on #195
2) Save button font color must be white in students inquiry section right now its black, before it was white, which is more visible. its everywhere "add","save" buttons font color must be white not black. (NOT FIXED)

[2019-09-16 01:34] serviceproviderpk commented on #195
3) programs: I can select start date and end data in past months which is
wrong, it must be selected from today or future dates. (NOT FIXED:please restrict
to date to be selected before from date)

[2019-09-16 01:48] serviceproviderpk commented on #195
4) same dates issue with sections. (NOT FIXED:please restrict
to date to be selected before from date)

[2019-09-16 01:52] serviceproviderpk commented on #195
5) Program, how to edit a fee now i dont see any option?
we need to implement it. as it was shown to umer, now it doesnot make sense, we are hidding.
and will say umer, fee is not editable of a program.

[2019-09-16 01:54] serviceproviderpk commented on #195
6) Leave > Email format content is ok now but still mistake:

dear admin, (i am not admin) (if email goes to admin, then this title should be same otherwise

Dear [name]

You have applied for leave.

Status: Pending

also move status:pending to next line.

[2019-09-16 01:56] serviceproviderpk commented on #195
7) Edit student
Scenario: I changed student profile from admin account + logging into student portal (both times emails on edit profile not generated)

[2019-09-16 01:57] serviceproviderpk commented on #195
8) in add/edit student add this field

"ID Number" and in inquiry  it will be optional

[2019-09-16 01:58] serviceproviderpk commented on #195
9)  auto complete for Country, city and provnice, table i provided.

[2019-09-16 02:02] serviceproviderpk commented on #195
10- please double check Omer feedback in trello

[2019-09-16 06:40] adilshehbaz commented on #195
6) Please Provide Format of Leave for Email

[2019-09-16 18:18] serviceproviderpk commented on #195
7) Clear attendance date by default.

[2019-09-16 18:40] serviceproviderpk commented on #195
8) as leave is approved, remove  "Hide" or disabled "Save" button

[2019-09-16 18:42] serviceproviderpk commented on #195
9) ID Number Field in Student Inquiry Form

[2019-09-16 18:51] serviceproviderpk commented on #195
10) cache for country,provnice,city, it will save time to db again and again.

[2019-09-16 19:59] serviceproviderpk commented on #196
@adilshehbaz  below is feedback. feel free to discuss.
[Feedback_confirmations.docx](https://github.com/serviceproviderpk/sp.pk/files/3617982/Feedback_confirmations.docx)

[2019-09-17 06:15] serviceproviderpk commented on #196
Confirmation about Feedback

1) Attendance: Drop down menu of sick, excused, and unexcused absence?
- List of student names, put reason with dropdown.
Under attendance there will be a drop down menu with the following (Sick, Excused, absent, and unexcused absence with the option to attach a doctor’s note to their file)
Comments:
We are using below screen to mark attendance (at a same time we can m

[2019-09-17 06:16] serviceproviderpk commented on #196
2) Calendar – Please add to CRM
- One for the staff and (program start dates, module start dates)
- for students (test days, exam days)

Comments:
We will create a page with following fields (title, description, start date and end date, start time, end time)
this section will be visible for all students and staff as well just for updates.

[2019-09-18 22:38] adilshehbaz commented on #196
All issues fixed..

Image issue on attendance.

Send Reminder Button issue just

[2019-09-19 06:34] serviceproviderpk commented on #196
1-
![image](https://user-images.githubusercontent.com/19146254/65219156-722bbd80-dad1-11e9-99e4-1ad9943c9bc6.png)
show reason and button to download doctor perception.

[2019-09-19 06:38] serviceproviderpk commented on #196
2) Set default value for "Reason" drop down our use word "Select"
increase width of file upload control
use some reasonable width for each column of table
![image](https://user-images.githubusercontent.com/19146254/65219339-ccc51980-dad1-11e9-8e03-5b5adf00c0d2.png)

[2019-09-19 06:38] serviceproviderpk commented on #196
3 ) Add colmun of  reason and file downloand

![image](https://user-images.githubusercontent.com/19146254/65219482-14e43c00-dad2-11e9-8477-a390511fa21f.png)

4) in all all project

Can we also Please make a change from "Calgary Academy to NIWE Academy

[2019-09-19 06:42] serviceproviderpk commented on #196
4) Please read all feedback and re-test carefully, not request to some resource, do yourslef please.

[2019-09-20 05:00] serviceproviderpk commented on #196
5- Please fix Umer feedback that he shared. that is possible what he said.
we need to fix it. if something is difficult. send message me on group. i will assist you.

[2019-09-20 17:37] #24 closed, assigned to nobody

[2019-09-20 17:37] #104 closed, assigned to serviceproviderpk

[2019-09-20 17:37] #105 closed, assigned to serviceproviderpk

[2019-09-20 17:37] #106 closed, assigned to adilshehbaz

[2019-09-20 17:37] #109 closed, assigned to TahirHussai

[2019-09-20 17:37] #110 closed, assigned to adilshehbaz

[2019-09-20 17:37] #111 closed, assigned to nobody

[2019-09-20 17:37] #112 closed, assigned to TahirHussai

[2019-09-20 17:37] #113 closed, assigned to nobody

[2019-09-20 17:37] #114 closed, assigned to serviceproviderpk

[2019-09-20 17:37] #117 closed, assigned to adilshehbaz

[2019-09-20 17:37] #121 closed, assigned to serviceproviderpk, adilshehbaz

[2019-09-20 17:44] serviceproviderpk opened #197 "Feedback Sep 202019"

[2019-09-20 18:11] serviceproviderpk commented on #197
2) Program start and end date must be, between session start and end date.

[2019-09-21 09:48] serviceproviderpk commented on #197
3) use drop down same as used in their website
![image](https://user-images.githubusercontent.com/19146254/65371489-6d0b7180-dc7d-11e9-8088-3ac6bbd2fe27.png)

[2019-09-21 09:49] serviceproviderpk commented on #197
4) auto complete not fixed?? i checked but still see.

[2019-09-22 01:19] serviceproviderpk commented on #197
5) increase width of dropdown
![image](https://user-images.githubusercontent.com/19146254/65380987-d385a380-dd00-11e9-8025-6734780c5905.png)
6)

[2019-09-22 01:20] serviceproviderpk commented on #197
7) if user has uploaded any file,give option of download that file
![image](https://user-images.githubusercontent.com/19146254/65380999-1ba4c600-dd01-11e9-8a0e-7654abeeaf9c.png)

[2019-09-22 01:21] serviceproviderpk commented on #197
8) for table's each column give meaningfull width please
![image](https://user-images.githubusercontent.com/19146254/65381017-3d05b200-dd01-11e9-9069-aa3a68117a67.png)

[2019-09-22 01:27] serviceproviderpk commented on #197
7) if user upload an file "file" is not visible in fileupload control
increase width of column  of  "fileupload"

[2019-09-22 01:28] serviceproviderpk commented on #197
8) Please give   width of column as required for that section. with this type of formatting we shared with client. will show our level of development.
![image](https://user-images.githubusercontent.com/19146254/65381060-37f53280-dd02-11e9-8128-1c648671792f.png)

[2019-09-22 01:32] serviceproviderpk commented on #197
8) i see student is present buy "excuse " file is attached.
![image](https://user-images.githubusercontent.com/19146254/65381090-b356e400-dd02-11e9-8be8-32f6b45aa7d5.png)

make sure, if user is present then remove his existing file, if user attached.

[2019-09-22 01:38] serviceproviderpk commented on #197
9) change position of  "error message"
![image](https://user-images.githubusercontent.com/19146254/65381097-f87b1600-dd02-11e9-848d-abd17d31afb1.png)

[2019-09-22 01:50] serviceproviderpk commented on #197
10) on edit attendnace reason must be auto selected
![image](https://user-images.githubusercontent.com/19146254/65381170-3b3ded80-dd05-11e9-98aa-bd98ea4b2a84.png)

[2019-09-22 01:55] serviceproviderpk commented on #197
11) Student Profile

a) rename  "Manage Student" to "Student Profile"
b) rename "Add, Update and Search" to "Search and view student profile"

![image](https://user-images.githubusercontent.com/19146254/65381185-953eb300-dd05-11e9-8ccb-5695d2940c1e.png)

[2019-09-22 13:22] adilshehbaz commented on #197
2. There is no drop down in website. there is an input box for this.

[2019-09-22 13:23] adilshehbaz commented on #197
1- will done this tomorrow, time taken

[2019-09-22 13:23] adilshehbaz commented on #197
All remaining issues fixed

[2019-09-23 17:10] serviceproviderpk opened #198 "- admin/student dashboard"
@adilshehbaz  share the two things

1) what we can display in student dashboard, as student will login
2) what we can display in  staff dasbhoard.

[2019-09-26 01:08] serviceproviderpk opened #199 "Feedback Sep 262019"
0) API as requested in voice msg

[2019-09-26 01:12] serviceproviderpk commented on #199
1) Update up coming events look and feel as sample given

Please insert calendar where all the start dates can be listed and events will also be on it. please see example attached from my condo CRM

![event](https://user-images.githubusercontent.com/19146254/65650440-4efa9400-e024-11e9-9d2f-bb0b9b80025c.jpg)

[2019-09-26 01:14] serviceproviderpk commented on #199
2) When a service is required at the academy or something is broken they must submit a service request so our maintenance team can address it accordingly.

Then for Ordering, there is a lot of ordering that has to be done, we want to ensure to avoid unnecessary costs we have all staff submit an order from for more products new equipment ect. We can have a check mark beside it that says urgent or n

[2019-09-27 02:08] serviceproviderpk opened #200 "Client Feedback 27 2019"
ref: https://demos.telerik.com/aspnet-mvc/scheduler

[2019-09-27 19:03] adilshehbaz commented on #200
[Fixed_CRM_Updated_Changes_Sept_27th_2019.docx](https://github.com/serviceproviderpk/sp.pk/files/3664200/Fixed_CRM_Updated_Changes_Sept_27th_2019.docx)

[2019-09-28 01:35] serviceproviderpk commented on #200
@adilshehbaz  some details from client about pending questions
[Question_about_feedback_Sep__28_2019.docx](https://github.com/serviceproviderpk/sp.pk/files/3664972/Question_about_feedback_Sep__28_2019.docx)

[2019-09-28 01:36] serviceproviderpk commented on #200
in Manage document section we will add a dropdown "For Staff,For Students, Both"

so document will be visible accoredingly.

[2019-09-28 02:04] serviceproviderpk commented on #200
1) i dont see any grid to edit existing events
2)  when any event is click show detail of events in alert box or in some div etc

[2019-09-28 02:09] serviceproviderpk commented on #200
3) please not forget to update date time on login page
© Copyright 2019 NIWE Academy **(Updated on 19/09/2019 06:25 PM).** All Right Reserved.

[2019-09-28 02:17] serviceproviderpk commented on #200
4) School Management  Software key words from all over the project and meta tags of login/forget/and dashobard page

[2019-09-28 02:18] serviceproviderpk commented on #200
@adilshehbaz  let me know as all feedback verified on server. http://niwebeta.schoolmanagementsoftware.pk/
so that i can test it.

[2019-09-28 09:43] #199 closed, assigned to nobody

[2019-09-28 09:57] serviceproviderpk commented on #200
5) in Student Inquiry

rename  "Maling Address-Api #" Address 1
and  "Street" Address 2

[2019-09-28 10:02] serviceproviderpk commented on #200
6) 3.	Student Enrollment
a.	Unit Number (remove validation from this field, it will be optional)

[2019-09-28 10:08] serviceproviderpk commented on #200
7) in Apply  leave  (From date must be less than today)

[2019-09-28 11:14] serviceproviderpk commented on #200
8) in Manage documents , display SNO as first column of the grid. we have already this field in this table.

[2019-09-28 11:18] serviceproviderpk commented on #200
9.	Communication System
a.	 be able to send notification to all staff or all students (add this option.) please

[2019-09-28 11:24] serviceproviderpk commented on #200
10) Transcript
a.	Remove Russell Langley off the template and write school official.

![image](https://user-images.githubusercontent.com/19146254/65815688-511f4700-e20c-11e9-891c-3336bc37c490.png)

[2019-09-28 11:25] serviceproviderpk commented on #200
11) 	Request Order

Please  add "Rights" in both domains,  or give me script, i will addd it.

[2019-09-28 11:27] serviceproviderpk commented on #200
12) i was logged in as student and click on "Attendance" i see below error
![image](https://user-images.githubusercontent.com/19146254/65815741-e4f11300-e20c-11e9-9336-59825395ec22.png)

[2019-09-28 11:30] serviceproviderpk commented on #200
13) Events ,when user click on events, Please show detail of event in alert as below
![image](https://user-images.githubusercontent.com/19146254/65815778-38636100-e20d-11e9-84a1-b82ca2594325.png)

[2019-09-28 11:34] serviceproviderpk commented on #200
14) in student dashboard show "Documents" menu.  and display  document which are  created for students.

[2019-09-28 11:36] serviceproviderpk commented on #200
15)
-	Notification Bar or icon

(when fee is collected, or leave is approved, or birthday notifcaiton send, we can dipslay here.)

![image](https://user-images.githubusercontent.com/19146254/65815861-069eca00-e20e-11e9-8758-a164f6807e8b.png)

[2019-09-28 19:03] serviceproviderpk commented on #200
Student "Middle" name must be optional. in add/edit student and Inquiry page.

[2019-09-29 11:18] adilshehbaz commented on #200
1 Fixed
3 Done
4 Done
5 Done
6 Done
7 Done
8 Done
9 Done
10 Done
11 Done
14 Done

[2019-09-29 11:19] adilshehbaz commented on #200
15. This is reminder to creater any reminder for yourself from date to date etc..

[2019-09-29 14:23] adilshehbaz commented on #200
[Fixed_CRM_Updated_Changes_Sept_29.docx](https://github.com/serviceproviderpk/sp.pk/files/3667436/Fixed_CRM_Updated_Changes_Sept_29.docx)

[2019-09-30 06:13] serviceproviderpk opened #201 "Designer Task"
1) ![image](https://user-images.githubusercontent.com/19146254/65853675-b6da1300-e373-11e9-93d9-5655d998dbf1.png)

2)
![SMS1](https://user-images.githubusercontent.com/19146254/65937248-beafbb00-e438-11e9-897b-3034768c91c8.jpg)

3)
![sw2](https://user-images.githubusercontent.com/19146254/65937279-d8e99900-e438-11e9-9254-6a6e0b5f23b6.jpg)

[2019-09-30 06:21] SarmadTehami commented on #201
1)
![software school](https://user-images.githubusercontent.com/55796705/65853997-b2622a00-e374-11e9-9ffc-1c504fa9c34e.jpg)

[2019-09-30 06:25] SarmadTehami commented on #201
2)
![NCS2](https://user-images.githubusercontent.com/55796705/65854069-f9501f80-e374-11e9-8b5c-62e6cbb86c70.jpg)

[2019-09-30 06:25] SarmadTehami commented on #201
3)
![education 2](https://user-images.githubusercontent.com/55796705/65854088-0c62ef80-e375-11e9-8a36-e6498256375b.jpg)

[2019-09-30 06:26] SarmadTehami commented on #201
4)
![education banner 3](https://user-images.githubusercontent.com/55796705/65854123-2270b000-e375-11e9-874f-0bf4cb44adcc.jpg)

[2019-09-30 06:27] SarmadTehami commented on #201
5)
![web sale](https://user-images.githubusercontent.com/55796705/65854158-4207d880-e375-11e9-9d13-9e3da484f5d3.jpg)

[2019-09-30 06:28] SarmadTehami commented on #201
6)
![web sale jpg](https://user-images.githubusercontent.com/55796705/65854186-5b108980-e375-11e9-8073-f91c8cde32a8.jpg)

[2019-09-30 06:28] serviceproviderpk commented on #200
20- from this page  http://niwebeta.schoolmanagementsoftware.pk/ManageUpcomingEvents/EventsCalender

a) rename "Manage Upcoming Events" to " Events"
b)  rename "Add, Update and Search" to "Browse and search events"
c) if click on any event show details of events in alert box as explined
d) in System setttings add new  menu "Manage Events"

[2019-09-30 06:28] SarmadTehami commented on #201
7)
![aaa](https://user-images.githubusercontent.com/55796705/65854219-754a6780-e375-11e9-92ce-7240da3896e9.jpg)

[2019-09-30 06:29] SarmadTehami commented on #201
8)
![sunday](https://user-images.githubusercontent.com/55796705/65854258-9317cc80-e375-11e9-83fb-88b1832b6fe6.jpg)

[2019-09-30 06:30] SarmadTehami commented on #201
9)
![School managment 3](https://user-images.githubusercontent.com/55796705/65854306-bb9fc680-e375-11e9-9439-159eab0c2afe.jpg)
![School managment 1](https://user-images.githubusercontent.com/55796705/65854307-bb9fc680-e375-11e9-8dc0-4e00e51efdf2.jpg)
![School managment 2](https://user-images.githubusercontent.com/55796705/65854308-bc385d00-e375-11e9-9350-f0539ea3f90d.jpg)

[2019-09-30 06:31] serviceproviderpk commented on #200
21) on servcie request i am getting error

![image](https://user-images.githubusercontent.com/19146254/65854335-d07c5a00-e375-11e9-9cc9-469cdd7b6b74.png)

[2019-09-30 06:35] serviceproviderpk commented on #200
22) send sql script  to add "Available system rights" for events and service requests

[2019-09-30 19:13] serviceproviderpk commented on #200
23)  in  submit reqeust  below section is missing. Please make  sure give it same look and use same label names

![image](https://user-images.githubusercontent.com/19146254/65908625-3e5d6b80-e3e0-11e9-8ad8-cfcabb62bb4d.png)

[2019-09-30 19:19] serviceproviderpk commented on #200
24) use validation on "create /edit  Events"
todate must be greater than from date.

[2019-09-30 19:31] serviceproviderpk commented on #200
25) ASN will be text box  just kind of NIC,,  and add this on right side of "ID"Number
![image](https://user-images.githubusercontent.com/19146254/65909670-8bdad800-e3e2-11e9-9293-a84cb19dc694.png)

[2019-09-30 19:39] serviceproviderpk commented on #200
26) in search event screen give this type of look
in drop down use  (Active Events,Past Events)
Active Events=Future events
Past Events=Events which are password
![image](https://user-images.githubusercontent.com/19146254/65910187-a9f50800-e3e3-11e9-8925-c36508db5038.png)

[2019-09-30 19:47] serviceproviderpk commented on #200
27 )  Add /Edit program

a) rename "Duration (Hours) "  to	"# of hours total per course"
b) rename "Hours Per Day (Hours)" to  "#Hours per day"

[2019-09-30 19:58] serviceproviderpk commented on #200
28) if student  login

![image](https://user-images.githubusercontent.com/19146254/65911792-95fed580-e3e6-11e9-9e78-31e23c14076c.png)

if user click on "View" open in new tab.

[2019-09-30 20:01] serviceproviderpk commented on #200
30) missing
![image](https://user-images.githubusercontent.com/19146254/65912023-f68e1280-e3e6-11e9-928d-dcf98f4bafa7.png)

[2019-10-01 00:57] serviceproviderpk commented on #200
31) change "School Management Software" to "Niwe Academy"

![image](https://user-images.githubusercontent.com/19146254/65926752-41705000-e410-11e9-9bc4-80fbc17e4155.png)

[2019-10-01 01:00] serviceproviderpk commented on #200
32) "Manage Enrollment Contract" =>  remove * and validation from both

![image](https://user-images.githubusercontent.com/19146254/65926860-b2176c80-e410-11e9-8c41-002a3f16483a.png)

[2019-10-01 01:03] serviceproviderpk commented on #200
33) Manage documents  -> Also display version number after "SNO"

[2019-10-01 01:08] serviceproviderpk commented on #200
34)  Transcript
a.	Remove "Russell Langley"  on other section will remain as it is. (you have removed all section)

![image](https://user-images.githubusercontent.com/19146254/65815688-511f4700-e20c-11e9-891c-3336bc37c490.png)

[2019-10-01 01:10] serviceproviderpk commented on #200
35)  in Student Dashobard  "use some diffrent "fa fa icon.
![image](https://user-images.githubusercontent.com/19146254/65927210-30284300-e412-11e9-9ae0-d45f2469bc4e.png)

[2019-10-01 01:24] serviceproviderpk commented on #200
36) as we have already discussed and approved by client. if course is 60% or 80% completed.
we will send fee deposit reminder to all students.

where is the page that will send that notification??

in "Fee" menu we can add new menu "Fee Reminder" or whatever is your suggestion comments here plz

[2019-10-01 01:30] #195 closed, assigned to adilshehbaz

[2019-10-01 09:17] SarmadTehami commented on #201
10)
![10](https://user-images.githubusercontent.com/55796705/65949753-39d39a00-e456-11e9-8bdd-88d7e8f73c97.jpg)

[2019-10-01 12:35] SarmadTehami commented on #201
11)
![11](https://user-images.githubusercontent.com/55796705/65962321-d3f50b80-e471-11e9-98a0-b2846a512b2c.jpg)

[2019-10-01 19:44] adilshehbaz commented on #200
c) also show "Timeline"view and other view option
**already shoing month week and day timeline**
![image](https://user-images.githubusercontent.com/28675602/65994851-b6459780-e4ad-11e9-96da-02b8a90e80ee.png)

[2019-10-01 19:44] adilshehbaz commented on #200
15. Reminder notification

**Need Discussion**

[2019-10-01 19:45] adilshehbaz commented on #200
**All other task fixed**

[2019-10-02 02:09] serviceproviderpk commented on #200
16)
![image](https://user-images.githubusercontent.com/19146254/66013154-8f09bd00-e4e3-11e9-82da-9e10fbe84b6f.png)

[2019-10-02 02:16] serviceproviderpk commented on #200
17) Please download latest database from this link
and see why newly added user rights not working for existing branches, although i have assigned  them.
https://transfernow.net/57cii947e541

[2019-10-02 02:22] serviceproviderpk commented on #200
18)  when student login, in his dashobard  add 	Notification Bar or icon

(when fee is collected, or leave is approved, or birthday notifcaiton send, we can dipslay here.)

![image](https://user-images.githubusercontent.com/19146254/65815861-069eca00-e20e-11e9-8758-a164f6807e8b.png)

[2019-10-02 02:23] serviceproviderpk commented on #200
NOT Fixed

19)  in  submit reqeust  below section is missing. Please make  sure give it same look and use same label names

![image](https://user-images.githubusercontent.com/19146254/65908625-3e5d6b80-e3e0-11e9-8ad8-cfcabb62bb4d.png)

[2019-10-02 07:34] serviceproviderpk commented on #200
20) give some good look to notifications.

also add delete option in notificaitns.

admin, staff and student both must able abel to delete their own notifications.

[2019-10-02 07:39] serviceproviderpk commented on #200
21) modify it, as i explained.
![image](https://user-images.githubusercontent.com/19146254/66026165-9f389100-e511-11e9-8968-41d6528a3dd3.png)

[2019-10-02 11:53] SarmadTehami commented on #201
12)
![12](https://user-images.githubusercontent.com/55796705/66042160-2a774e00-e535-11e9-8404-d1f793d08716.jpg)

[2019-10-02 19:50] serviceproviderpk commented on #200
1) i created event as below , if click on "Events"

Please remove word "Select " from drop down.

![image](https://user-images.githubusercontent.com/19146254/66076579-924e8880-e577-11e9-9391-64bb79b10585.png)
if click on  "Events" to see event in calender,  screen was hanged as below

![image](https://user-images.githubusercontent.com/19146254/66076662-bf02a000-e577-11e9-87da-ef41a323ffa0.png)

[2019-10-02 19:59] serviceproviderpk commented on #200
2) Student Login >

a) SNO is same for all
![image](https://user-images.githubusercontent.com/19146254/66077227-fcb3f880-e578-11e9-9ba4-705ab7fe1015.png)
b ) student is registerd in 2 programs, attednace was marked for 2 program.
but data is displayed for only 1 program.

[2019-10-02 20:09] serviceproviderpk commented on #200
3) Manage document, if i save version as "1.1" it was not saved. i suggest make it string instead of number.

[2019-10-02 20:11] serviceproviderpk commented on #200
4)  Transcript
a.	Remove "Russell Langley"  on other section will remain as it is. (you have removed all section)

![image](https://user-images.githubusercontent.com/19146254/65815688-511f4700-e20c-11e9-891c-3336bc37c490.png)

[2019-10-02 20:14] serviceproviderpk commented on #200
5) Sample Email  ( you are sending  some other email, student completed 62%" but notification was not send to that student)

Once student hits 60% of their tuition:

Hi %Name%,

This is a friendly reminder that you should have paid 100 % of your tuition by now.

If you have any questions or concerns please contact accounting@niwe.ca.

Thanks,
Niwe Academy

[2019-10-02 20:19] serviceproviderpk commented on #200
6) need to test api

[2019-10-02 21:38] adilshehbaz commented on #200
All issues fixed

[2019-10-02 21:39] adilshehbaz commented on #200
I am stuck in this issue, when we click on send email, not found error,,
i tried every thing  but fail, can you please take a look at this?
![image](https://user-images.githubusercontent.com/28675602/66083952-eca31580-e586-11e9-90b2-8f9bb902abea.png)

[2019-10-03 01:23] serviceproviderpk commented on #200
1)  Event Calender is still hanged. login email service@serviceprovider.pk
passowrd admin123
click on "Events" screen is hanged.

![image](https://user-images.githubusercontent.com/19146254/66092682-4f57d980-e5a6-11e9-80ee-bec723c5a6cb.png)

[2019-10-03 01:37] serviceproviderpk commented on #200
2) Save Fee reminder alert in "Student" notifications
![image](https://user-images.githubusercontent.com/19146254/66093085-30f2dd80-e5a8-11e9-803a-1acc65721f08.png)

[2019-10-03 01:39] serviceproviderpk commented on #200
3)  Rename  "Send Reminder" to "Fee Reminder"

![image](https://user-images.githubusercontent.com/19146254/66093139-6d263e00-e5a8-11e9-96ef-5a723e78aef3.png)

[2019-10-03 02:18] serviceproviderpk commented on #200
4)  Please show/ hide this menu from user rights. if already what is name and rights id of this?
 i want to hide it admin rights, we will give this menu to super admin.

![image](https://user-images.githubusercontent.com/19146254/66094584-ee340400-e5ad-11e9-9d92-3e27e5040b56.png)

[2019-10-03 09:23] adilshehbaz commented on #200
1. Its working fine Event Screen i check many times,
please refresh cache

![image](https://user-images.githubusercontent.com/28675602/66114994-610ea080-e5e9-11e9-9ab8-43aab0710625.png)

[2019-10-03 09:29] adilshehbaz commented on #200
3. We can't change general to fee
because we are sendgin reminders for attendance and fee both , their is reminder type

[2019-10-03 09:30] adilshehbaz commented on #200
4. We are showing manage rights to only branch, so that's why no need to add in user rights

[2019-10-03 14:23] adilshehbaz commented on #200
Manage Group Rights Menu user rights Detail

ID=92
Name: GROUPRIGHTS

[2019-10-03 19:08] #200 closed, assigned to adilshehbaz

[2019-10-03 19:09] serviceproviderpk opened #202 "Feedback Internal"
1)
NOTE! NOT upload any thing on server , i have sent email to client.

a-as Inquiry submitted by API lot of fields are empty, please set some defualt value for created by and registeration date.
b-in  API add First Name and Last Name Please

Please check in code and and full DB.

[2019-10-04 01:24] serviceproviderpk opened #203 "Client Feedback October 4 2019"
1) Hi Nathan, Please have a look at dashboard features we have available in system,please confirm so that we proceed with its integration. if anything else you need in dashboard please do let me know, we will use similar box type design as you suggest earlier.

1) Dashboard Admin

-Active/Graduated/Terminated Students
-New Admissions
-Fee Collection Summary
-Attendance summary

2) Staff Dashboard

[2019-10-04 01:26] serviceproviderpk commented on #203
2)
![request](https://user-images.githubusercontent.com/19146254/66174720-e50b6b80-e66f-11e9-89cb-0d33491d0d09.png)

As the Screenshot I added can we remove the text at the top and just change it too "this form is for any NON - EMERGENCY Requests, for any emergency requests please call 403-615-1015" you ca get rid of the rest

[2019-10-04 09:33] adilshehbaz commented on #202
Fixed

[2019-10-04 09:33] adilshehbaz commented on #203
2. Fixed

[2019-10-04 12:38] adilshehbaz commented on #203
1. Fixed
Please review dashboard and check

[2019-10-05 09:05] serviceproviderpk commented on #203
2) Get latest code from TFS and add this link in all emails that we are sending to the staff/admin/students

[2019-10-06 07:46] serviceproviderpk commented on #203
3) Send Email button not working.
![image](https://user-images.githubusercontent.com/19146254/66265897-2437e900-e837-11e9-9525-3a9b76d6a806.png)

[2019-10-06 07:48] serviceproviderpk commented on #203
4) 60% Fee Reminder = This is a friendly reminder that you should have paid 100 % of your tuition by now.
If you have any questions or concerns please contact accounting@niwe.ca.

if student attendance is 60% or greater than 60% and he didnot paid his full fee.

then reminder shd send all students.

forexample, one student attdenace is 97% and  second stuent atteance is 69%

and reminder screen sh

[2019-10-06 07:57] serviceproviderpk commented on #203
5) Graduation reminder not displaying the data , one student has completed 97% of his course.

![image](https://user-images.githubusercontent.com/19146254/66266028-c4424200-e838-11e9-9d60-8bf014fda227.png)

in next screen grid, Please show  a column with "Completion Hours"

[2019-10-06 08:05] serviceproviderpk commented on #203
6) Student Dashobard
![image](https://user-images.githubusercontent.com/19146254/66266065-28650600-e839-11e9-8a0b-2284649b8177.png)

Display data in html table as.

Program, Session, Total Duration(hours) , Completion Hours, Total Fee, Paid Fee, Remaining Fee.
HTML,     Morning , 100 Hours ,                 50 Hours,                $1000,    $60,          $40
HTML,     Morning , 100 Hours ,

[2019-10-06 08:17] serviceproviderpk commented on #203
Dashboard
a) when admin and super admin will be login dasbhaord name will be

b) For staff dashobard name  "StaffDasbhoard"
c) for Student  "StudentDashobard

Please separate actions

[2019-10-08 19:38] adilshehbaz commented on #203
In case of different dashboard,

we need to change on every screen dashboard link that's why i am holding this for now

[2019-10-08 19:38] adilshehbaz commented on #203
2. Fixed

[2019-10-08 19:39] adilshehbaz commented on #203
5. Fixed

[2019-10-08 19:42] adilshehbaz commented on #203
4. I tried a lot but unable to find why send buton not working i change every idd and class

can you please check this??

task # 4 is not related to button submit it is related to display data in grid.

[2019-10-09 01:31] serviceproviderpk commented on #203
2)
![image](https://user-images.githubusercontent.com/19146254/66444882-6000c780-ea5e-11e9-9516-bfa4eb4ca64c.png)

[2019-10-09 19:36] adilshehbaz commented on #203
We are sending simple text in email not html.

[2019-10-10 17:53] adilshehbaz commented on #203
6. Fixed

[2019-10-11 07:44] serviceproviderpk commented on #203
@adilshehbaz  3,4
when you get chance, Please visit office and take help from Nawab.

Thanks,

[2019-10-11 08:03] serviceproviderpk commented on #203
In case of different dashboard,

we need to change on every screen dashboard link that's why i am holding this for now

@adilshehbaz
**use same dashobard and show hide section according to the user profle.**

[2019-10-12 12:38] #203 closed, assigned to adilshehbaz

[2019-10-12 12:38] #202 closed, assigned to serviceproviderpk

[2019-10-16 19:08] serviceproviderpk opened #204 "Khalid Task"
0) 3 splash pics as WD and then  header  logo+search
1)  logo+search icon in all pages   (remove menu icon from top)
2)  remove extra space form top+right+left side of  menu icon+logo+search icon
3) show header in all pages
6) novel list page ,remove left space from the title , title, and image must be click able. add som space in footer of the row.
7) on novel detail page, show other detail of no

[2019-10-16 19:09] serviceproviderpk commented on #204
1) Fixed

[2019-10-17 01:27] serviceproviderpk commented on #204
@Muhammadkhalid66  as joined office discuss "0" point plz

[2019-10-17 06:48] serviceproviderpk commented on #204
0) MapController
a) Welcome1  show logo in center and in footer copy right text
b) Welcome2 Logo on top and will have fllowing boxex
  1) Novel
2) Interviews
3) Poetry
4) Books
5) Submit your contents,  Share and Earn Money
c) Welcome3

How you can earn!!!
a) Earnings per share
b) Earnings per post
c) Earning per  views & review

on click "Index" of "MapController"

[2019-10-17 06:52] serviceproviderpk commented on #204
map index

a) logo in first row on right side search icon
b) inner pages  "Back button" logo"+search

[2019-10-18 18:17] Muhammadkhalid66 commented on #204
a) logo in first row on right side search icon        fixed
b) inner pages "Back button" logo"+search         fixed
@serviceproviderpk

[2019-10-18 18:18] Muhammadkhalid66 commented on #204
welcome 1 fixed
welcome 2 fixed
welcome 3 fixed

[2019-10-18 18:18] Muhammadkhalid66 commented on #204
welcome 1 fixed
welcome 2 fixed
welcome 3 fixed
on click "Index" of "MapController"  fixed

@serviceproviderpk

[2019-10-18 18:20] Muhammadkhalid66 commented on #204
3 splash pics as WD and then header logo+search  fixed
logo+search icon in all pages (remove menu icon from top) fixed
remove extra space form top+right+left side of menu icon+logo+search icon  fixed
show header in all pages fixed

@serviceproviderpk

[2019-10-18 18:26] Muhammadkhalid66 commented on #204
novel list page ,remove left space from the title , title, and image must be click able. add som space in footer of the row.  Fixed
@serviceproviderpk

[2019-10-25 06:20] serviceproviderpk opened #205 "NiweTask"
1-

[2019-10-25 06:26] serviceproviderpk commented on #205
2) Can we please change the name of "Inquiry Student" to "Inquiries"
a)
![image](https://user-images.githubusercontent.com/19146254/67547969-ffd67a80-f719-11e9-8400-92935372c2e8.png)
b)
![image](https://user-images.githubusercontent.com/19146254/67547997-15e43b00-f71a-11e9-9e92-7d2d619f9321.png)
c)
![image](https://user-images.githubusercontent.com/19146254/67548057-44621600-f71a-11e9-8bbc-bba8e93

[2019-10-25 06:29] serviceproviderpk commented on #205
3) Create order request form, and its link below the service request
a)
b) when order and request is submitted send email to below email address
Please ensure both these forms go to ramesh@niwe.ca and cc service@servicepro..pk

[2019-10-27 07:10] serviceproviderpk commented on #205
4)
![events](https://user-images.githubusercontent.com/19146254/67631028-93db4a00-f8b2-11e9-8f88-11ecbc3d08ed.png)

a)  Please change  text "Events" to Calendar
b) Can we make an "ad event" button to the calendar.
c) Basically what i want to do is have 2 calender's one for the program and course start dates and another for any miscellaneous events. essentially a drop down menu to switch calendar.

[2019-10-27 07:13] serviceproviderpk commented on #205
4) Grid right click option=> Please adjust this method of highlighting from only clicking to hovering over, this will allow the user to find the link easier without error for miss clicking.

[2019-10-29 08:06] Muhammadkhalid66 opened #206 "newEraMag"
1-remove copy right
2-improve counter section
3-1urdu novels 2 urdu poetry 3bookmark pages 4 contact us 5 about us 6 werites
4-footer nav writers replace with login/Register
5-create login page -> mydashborad
6-mydashboard -> my poetry, my novels, my earning , my profile, change password,
7-home click to redirect -> dashboard
8-mypoety click to redired my created poetry as same in novels
9-create

[2019-10-29 10:45] Muhammadkhalid66 commented on #206
1-remove copy right fixed
2-improve counter section fixed
3-1urdu novels 2 urdu poetry 3bookmark pages 4 contact us 5 about us 6 werites fixed
4-footer nav writers replace with login/Register fixed

@serviceproviderpk

[2019-10-29 19:08] Muhammadkhalid66 commented on #206
5-create login page -> mydashborad fixed
@serviceproviderpk

[2019-10-30 04:06] serviceproviderpk commented on #205
6) I request that the font be easier on the eyes and be consistent with the body of the CRM, the left side panel has a different font and is harder on the eyes.

for left menu item and sub item => Please change to Segoe UI Semilight

[2019-10-30 19:24] Muhammadkhalid66 commented on #206
6-mydashboard -> my poetry, my novels, my earning , my profile, change password,
7-home click to redirect -> dashboard
8-mypoety click to redired my created poetry as same in novels
9-create table in dB my customer feedback + contact Fixed
10-feed + Contact us save info in FeedBack table fixed

[2019-10-30 19:24] Muhammadkhalid66 commented on #206
6-mydashboard -> my poetry, my novels, my earning , my profile, change password,
7-home click to redirect -> dashboard
8-mypoety click to redired my created poetry as same in novels
9-create table in dB my customer feedback + contact Fixed
10-feed + Contact us save info in FeedBack table fixed

@serviceproviderpk

[2019-10-31 01:25] serviceproviderpk commented on #205
7)
When i click the report "Student Status Report" the attached error screen shot came up.
![image](https://user-images.githubusercontent.com/19146254/67911099-0dbb4e00-fba7-11e9-908e-c1d492f9a1cc.png)

when i click i see error
![image](https://user-images.githubusercontent.com/19146254/67911136-3cd1bf80-fba7-11e9-9257-89f344ca9d11.png)

[2019-10-31 01:35] serviceproviderpk commented on #205
8)When changing a students status it should be more automatic vs manual. On the Prospect tab, it gives you an option to change the status to Registered but then when you see the next tab on Student it isn’t transferred there, even though it prompts you with a question in line with, “ This student will now be changed to Registered student”. But it actually does not show that. In addition, the drop

[2019-11-02 02:41] serviceproviderpk opened #207 "Mobile App"
For NewEraMag

1- logo  180*180 and 160*160 => transpatent
2- Welcome Screen with "red rose" Back ground color
in Center show logo as text "New Era Magzine"
3- Latest splash with new logo
4- logo for mobile app size
2- 9 photo of = 174px*300

1) Mobile App logo 2 size
2) Welcome Screen
3) Splash screen, remove round, use simple or box types
4) Logo+9 images

[2019-11-02 02:43] serviceproviderpk commented on #207
For  school management software.pk

for logo color scheem=> http://schoolmanagementsoftware.pk/

1) welcome  Screen logo in center
2) Splash screen with following features

1. Student Profile
2. Attendance History
3. Student Leaves
4. Apply for Leaves
5. Fee History
6. Holidays
7. Notifications
8. Test & Exam

foreexmaple
![image](https://user-images.githubusercontent.com/19146254/68065064-74766e0

[2019-11-02 09:00] #204 closed, assigned to Muhammadkhalid66

[2019-11-02 09:04] serviceproviderpk opened #208 "Khalid task"
1)

[2019-11-02 09:09] serviceproviderpk commented on #208
2) Novel list
a) Font  Normal: 13px;
b) Font  Smaller : 12px
c) page heading font family little readable
e)  margin 2px from left side of image

[2019-11-02 09:20] serviceproviderpk commented on #208
3) Novel details
zoom out of image, see what property is using

[2019-11-02 11:14] serviceproviderpk commented on #208
4)  Register page must have

Contact Name, Email, Password and Phone ONLy

[2019-11-02 11:49] serviceproviderpk commented on #208
5) Poetry
Create detail page of poetry

[2019-11-02 11:49] serviceproviderpk commented on #208
6) if user click on about us, show about us page
7) if user click on  "Contact us" page show contact page.

[2019-11-02 11:50] serviceproviderpk commented on #208
8) if user click on writers show writer list
if user click on any write show its novel

[2019-11-02 11:53] serviceproviderpk commented on #208
9) please test all links are working fine.

[2019-11-02 11:54] serviceproviderpk commented on #208
10) on  all pages, use section of heading in all pages.

[2019-11-02 12:46] serviceproviderpk commented on #208
11) if mobile website is open in windows browser. show max widht max width of mobile device

[2019-11-02 18:21] serviceproviderpk commented on #208
12- Logo used in mobile app, please request to Sarmad add space ike

New Era Magazine  instead of "neweramagazine"

[2019-11-03 01:37] serviceproviderpk commented on #208
13) User must able able to  delete his "boook mark" pages

[2019-11-03 01:39] serviceproviderpk commented on #208
14) user SessionExpire filter to all Actions, which are getting use id from "Section"

[2019-11-03 01:40] serviceproviderpk commented on #208
15) if user type is "admin" add menu
"member Feedback"

and show all feedback list. that was added by users

[2019-11-03 01:41] serviceproviderpk commented on #208
16) use page heading for following
a)
![image](https://user-images.githubusercontent.com/19146254/68079064-f37eab80-fe04-11e9-88f1-d52763a16e2e.png)

[2019-11-03 01:50] serviceproviderpk commented on #208
17)  "Member of the Week " Feature
a) Create new table "MemberOfTheWeek" (Id,CreatedBYuserID,CreatedDateTime,WinnerUserID,Description)
in menu show list of "Member of the Week"
when user click on any user show following details
Contact Name, CreatedDate,Description.

[2019-11-05 02:04] serviceproviderpk commented on #208
18) in Edit Profile page

a) use validation for first Name, Last Name, City, About my self.
b) Please space when you add in lable like" FirstName" must be "First Name"
c) Use Profile Photo in edit Profile

[2019-11-05 02:07] serviceproviderpk commented on #208
19) Logo is not center of the page
![image](https://user-images.githubusercontent.com/19146254/68172781-a46a7f00-ff9a-11e9-88bc-90cbc2356e48.png)

20)
![image](https://user-images.githubusercontent.com/19146254/68172820-c237e400-ff9a-11e9-9ca4-789cbce9e4fc.png)

remove following headings
"Total Poetry", Total Novels, Total Members,
Total Writers

[2019-11-05 02:09] serviceproviderpk commented on #208
21) Record not found must be in center of the page, Please make sure use standard font size
![image](https://user-images.githubusercontent.com/19146254/68172945-2c508900-ff9b-11e9-9bd0-b52012cf574d.png)

[2019-11-05 02:11] serviceproviderpk commented on #208
22) Text must me in centerd, for download plugin change its color to blue
![image](https://user-images.githubusercontent.com/19146254/68173014-628e0880-ff9b-11e9-8e75-62005553a462.png)

[2019-11-05 02:13] serviceproviderpk commented on #208
23) use full back ground for page heading
![image](https://user-images.githubusercontent.com/19146254/68173064-881b1200-ff9b-11e9-967e-01a02cc3ac37.png)

[2019-11-05 02:14] serviceproviderpk commented on #208
24) When user click on "BookMark"
![image](https://user-images.githubusercontent.com/19146254/68173158-e1834100-ff9b-11e9-9c81-40ac39059e3c.png)

a) show list of bookmark of the users.
b) Add delete button in Bookmark list page

[2019-11-05 02:17] serviceproviderpk commented on #208
25) Add new section or Link
"Member of the  Week" (UserID,Photo, Name, Address, City, Introduction)

a) when user click on it, show list of "Member of the week"
b) admin user can create and delete member of the week.
c) on click on any user show profile of that user.

[2019-11-05 02:17] serviceproviderpk commented on #208
26)also add menu "Member of the Week"

[2019-11-05 02:24] serviceproviderpk commented on #208
27) Correct spellings are  " New Era Magazine "

[2019-11-05 04:43] Muhammadkhalid66 commented on #208
1-use this font family to page headings.       Fix

a) Rename "Urdu Novels" to "Novels"     Fix
b) Urdu Poetry to "Poetry"     Fix
c) Rename "Bookmark pages" to "My Bookmarking"     Fix
when user click on "My Bookmarking" show user book marking list page     Fix
d) remove below section     Fix
e) Total Novels (9487)      Fix
Total Writers (948)      Fix

change to "

Total Poetry (2589) Total Nove

[2019-11-05 15:11] Muhammadkhalid66 commented on #208
if user type is "admin" add menu    Fix
"member Feedback"
use page heading for following     Fix
a) "Submit your Idea"     Fix
a) show Contact Name, Email, Phone and Description.     Fix
Member of the Week " Feature
a) Create new table "MemberOfTheWeek" (Id,CreatedBYuserID,CreatedDateTime,WinnerUserID,Description)     Fix
in menu show list of "Member of the Week"
when user click on any user show f

[2019-11-06 06:54] serviceproviderpk commented on #205
9) in add/edit student  add student photo option.

[2019-11-06 11:37] serviceproviderpk opened #209 "tahir task"
0) Create new controller with "DashboardV2"
a) Create index page with out any model
b) when user click on footer "© Copyright 2019 NIWE Academy. All Right Reserved."
show that page , show text coming soon.

[2019-11-06 11:43] serviceproviderpk commented on #205
10) In program list add new option in "Context menu"
"Duplicate"
here in this case we can give you an option to replicate program.

Procedure will be:
1) through right click or grid of programs will start showing "Duplicate" button infront of each record and once you press it, you just need to enter second start/end date to save the record and you are done.

[2019-11-06 12:33] serviceproviderpk commented on #209
2) order + service email on email id of our and cient that is

emaill be send on "AdminEmails"
![image](https://user-images.githubusercontent.com/19146254/68455701-ce7fa380-021d-11ea-81c0-f8343b56f980.png)

a) Email 1

Subject: Service Requests

Dear Niwe Team,

Below is service request
Request Type: asfasfasfas
Subject : asasdf
Urgent: Yes or NO
Description:

Regards,
CRM Team

b) Email 2 (Order)

[2019-11-08 07:14] serviceproviderpk commented on #209
) on error send emial

[2019-11-09 12:31] adilshehbaz commented on #205
10: Fixed

[2019-11-10 13:45] adilshehbaz commented on #205
9 Fixed

[2019-11-10 13:49] adilshehbaz commented on #205
8 Fixed

[2019-11-11 02:48] serviceproviderpk commented on #208
1) Add delete option, in "Book marking" list

[2019-11-11 12:30] serviceproviderpk commented on #209
3)  in add/edit Student add photo option, make sure image is uploading in "UploadesStuff" folder

[2019-11-11 12:52] serviceproviderpk commented on #209
4) Here is the final copy,

The one big change aside from the "NIWE Academy Official" is i noticed that the name was "Nathan . Sharma" can we please remove the period?

Also the transcript is named "Transcript-410c0c01-68c9-4c72-b4ea-a31b8bc96874"

Can we please have it named what the students name is?

For example: (Transcript_Nathan Sharma)

Transcript-410c0c01-68c9-4c72-b4ea-a31b8bc96874.pdf

[2019-11-11 13:02] serviceproviderpk commented on #209
5) Change Remarks to Comments, on all pages

6)  Inquiry reports
a) Admission Tracker Summary
a) Program Summary

[2019-11-11 13:06] serviceproviderpk commented on #205
@adilshehbaz  Please re-test above issues
i think you added no commnets about  # 6

[2019-11-11 13:09] serviceproviderpk commented on #205
10) Not fixed, as requested. i have explained on voice msg.

[2019-11-11 18:49] adilshehbaz commented on #205
2 Fixed

[2019-11-12 17:55] serviceproviderpk commented on #207
@Muhammadkhalid66

Home, Progress,  Attendance, Fee, More

more=>

Dashboard,
Progress,
Attendance,
Fee
Logout

Dashobard

![image](https://user-images.githubusercontent.com/19146254/68697122-0a10c980-05a0-11ea-8195-82ba342a916f.png)

[2019-11-12 18:21] serviceproviderpk commented on #205
@TahirHussai
in order email and serice reqeust email, please use simple template for sending email

that we are using  getting student create email.

1)  in order request email, if  Urgent: True use "Yes"  or not
2) 1)  in server request email, if  Urgent: True use "Yes"  or not

[2019-11-12 18:25] serviceproviderpk commented on #205
2) in  add/edit student show picutre preview same as we are doing in school software

[2019-11-13 15:19] TahirHussai commented on #205
1.in order email and serice reqeust email, please use simple template for sending email
2.in add/edit student show picture preview same as we are doing in school software.
3.ogram list > Right click on grid > Choose "Duplicate"
######################################RRF######################

[2019-11-13 15:21] TahirHussai commented on #209
1.Create new controller with "DashboardV2"
2.order + service email on email id of our and cient that is
4.Here is the final copy,
The one big change aside from the "NIWE Academy Official" is i noticed that the name was "Nathan . Sharma" can we please remove the period?
5.Change Remarks to Comments, on all pages
######################################RFR#################################

[2019-11-13 18:03] serviceproviderpk commented on #205
1) i make duplicate copy of a program, i changed program code and title it was not changed.

[2019-11-13 18:07] serviceproviderpk commented on #205
2) i removed the picture and save, it was not removed.

[2019-11-13 18:10] Muhammadkhalid66 commented on #207
Home, Progress, Attendance, Fee, More

more=>

Dashboard,
Progress,
Attendance,
Fee
Logout

Dashobard

image
![image](https://user-images.githubusercontent.com/41336284/68791272-c2a33f80-066a-11ea-82b7-311cf4f50ec8.png)

@serviceproviderpk

[2019-11-13 18:15] serviceproviderpk commented on #205
3) not getting email on  email id that was added in system defualt settings

[2019-11-13 18:17] serviceproviderpk commented on #205
4) file:///C:/Users/asifj/Downloads/Transcript_Nathan%20%20%20Sharma132181425704240922.pdf

there must be no space between file names

[2019-11-13 18:18] Muhammadkhalid66 commented on #207
For school management software.pk
welcome Screen logo in center Fixed
Splash screen with following features Fixed
Student Profile  Fixed
![image](https://user-images.githubusercontent.com/41336284/68791717-b23f9480-066b-11ea-9050-2ff77ebe8934.png)

Attendance History Fixed
Student Leaves Fixed
Apply for Leaves  Fixed
Fee History Fixed
Holidays Fixed
Notifications Fixed
Test & Exam Fixed
![image](h

[2019-11-14 20:08] serviceproviderpk commented on #205
@TahirHussai why you disabled program title and code?

[2019-11-15 12:00] serviceproviderpk opened #210 "Sarmad task"
Poetry, Jokes, Qoutation, Relegious, Technlogoy,HandiCrafts, Receipies, Picture of the week

	Membrer of the week

[2019-11-15 12:01] serviceproviderpk commented on #210
sp.pk gray
http://www.serviceprovider.pk/
fun2fresh.com

[2019-11-15 16:26] serviceproviderpk commented on #205
1) in Order request and service request

Please add a "completed" and "Delete" feature
![image](https://user-images.githubusercontent.com/19146254/68958658-59e4d000-07ee-11ea-9545-f50a93fbba84.png)

Suggestion:
add RequestStatus =Active, Deleted,Completed.
in list we will show only "Active" status

[2019-11-15 16:28] serviceproviderpk commented on #205
2) in left menu use this font "Segoe® UI Symbol"
https://fonts.google.com/?query=Segoe%C2%AE+UI+Symbol
![image](https://user-images.githubusercontent.com/19146254/68958920-e3949d80-07ee-11ea-8931-d1954817a092.png)

[2019-11-17 01:30] #206 closed, assigned to nobody

[2019-11-17 01:33] serviceproviderpk opened #211 "Fun2Fresh"
1) Book Readings
2)  To do list
3) My Meetings
4) My Expenses
5) Golden words
6) Handicraft
7) Poetry

[2019-11-19 06:32] serviceproviderpk commented on #205
@adilshehbaz

2) use # 1 font for left menu and sub menu

http://niwe.schoolmanagementsoftware.pk/font-index.html

[2019-11-19 17:34] adilshehbaz commented on #205
2 Fixed

[2019-11-20 07:33] serviceproviderpk commented on #205
3) admission tracker
4) merge in one menu "order requests and service requests"

[2019-11-25 19:19] #207 closed, assigned to SarmadTehami

[2019-11-25 19:19] serviceproviderpk opened #212 "MAPFeedback"
1) on login page,
a) remove "Evelop"icon
b) change text "CNIC" to " Enter your NIC "
c) Change error message to " Your provided NIC didnot find in the system, please contact your school"
d) remove pleace holder
2) in round logo , show student picture
 a) in student dropd show  First Name Last  - Father Name
3)in left menu show all links
4) Student Profile, show class name, section, registeration d

[2019-11-25 19:24] serviceproviderpk commented on #212
8) remove whatsapp icon
![image](https://user-images.githubusercontent.com/19146254/69571069-0a1eb980-0fe3-11ea-96b6-f0ad487c3a7f.png)

[2019-11-25 19:26] serviceproviderpk commented on #212
9) in menu add new menu item "Contact us"
![image](https://user-images.githubusercontent.com/19146254/69571177-46eab080-0fe3-11ea-9904-cc80db0813b7.png)

Show following information
Brnach logo
School Name
Email
Phone
Address

[2019-11-25 19:27] serviceproviderpk commented on #212
10) show student photo
![image](https://user-images.githubusercontent.com/19146254/69571287-903b0000-0fe3-11ea-9866-051f39f2b709.png)

[2019-11-25 19:36] serviceproviderpk commented on #212
11) Split header in 3 sections
![image](https://user-images.githubusercontent.com/19146254/69571764-91b8f800-0fe4-11ea-9c9b-4555630b25cc.png)

![image](https://user-images.githubusercontent.com/19146254/69572205-75698b00-0fe5-11ea-8e59-9e7b694dcb9f.png)

a) Back button
b) Logo or text in center
c)  Notification icon with count

[2019-11-25 19:37] serviceproviderpk commented on #212
12) news section
show news from database tables. that we have already created.

[2019-11-26 13:48] Muhammadkhalid66 commented on #212
on login page,
a) remove "Evelop"icon Fix
b) change text "CNIC" to " Enter your NIC " Fix
c) Change error message to " Your provided NIC didnot find in the system, please contact your school" Fix
d) remove pleace holder  not Fixed(because script running inside)

in round logo , show student picture Fix
a) in student dropd show First Name Last - Father Name Fix
3)in left menu show all links Fix

St

[2019-11-26 14:38] Muhammadkhalid66 commented on #212
Student Attendacy, text boxs, must have some spces Fix
@serviceproviderpk

[2019-11-26 15:17] Muhammadkhalid66 commented on #212
3)in left menu show all links icons Fix
@serviceproviderpk

[2019-11-26 16:17] Muhammadkhalid66 commented on #212
Split header in 3 sections Fix
a) Back button Fix
b) Logo or text in center Fix
c) Notification icon with count Fix

@serviceproviderpk

[2019-11-26 17:20] serviceproviderpk commented on #212
1) Student profile improve label and text please
2) Attenddence history, imprfove button padding

use heading css and sub heading css in all pages.

[2019-11-26 17:23] serviceproviderpk commented on #212
3)  we have only on  menu or link  "Leaves"
will display list of all  leaves and pending  leave
on this page we will have a button of "Apply Leave".

[2019-11-26 17:24] serviceproviderpk commented on #212
4) on Fee, show amount  in 2 decimal places
RS 100.52

page heading and sub heading

[2019-11-26 17:26] serviceproviderpk commented on #212
5)  Holidays

Title,Description.CreatedDate,HolidayDate,BranchID

@Hammadshahid170   create this table in SCL and section create new page

to add/edit/delete holidays

[2019-11-26 19:22] #205 closed, assigned to serviceproviderpk, adilshehbaz, TahirHussai

[2019-11-26 19:23] serviceproviderpk opened #213 "Niwe Feedback"

[2019-11-26 19:24] serviceproviderpk commented on #213
1) in order and service request ,
a) give option of  pdf/excel/word document.
b) also give download option

[2019-11-26 19:46] serviceproviderpk commented on #213
2)
Please check final mark not showing up
![image](https://user-images.githubusercontent.com/19146254/69667055-15d7b200-10af-11ea-96d4-3c59266082d7.png)

![image](https://user-images.githubusercontent.com/19146254/69667205-5fc09800-10af-11ea-8f93-4f1466548326.png)

[2019-11-26 19:49] serviceproviderpk commented on #213
3)  Can you please change it from "is Active" to "Active" in all section like

a) add /edit programs
b) add/edit student
c)  Add/edit employee

[2019-11-26 20:04] serviceproviderpk commented on #213
4) Team in student documents section niwe needs to support one file format that is ".card" please implement it.

[2019-11-26 20:17] serviceproviderpk commented on #213
5) admission tracker report

[2019-11-27 07:05] Muhammadkhalid66 commented on #212
1-Student profile improve label and text please Fix
2-Attenddence history, imprfove button padding Fix
3-use heading css and sub heading css in all pages. Fix

@serviceproviderpk

[2019-11-27 07:10] Muhammadkhalid66 commented on #212
we have only on menu or link "Leaves" Fix
will display list of all leaves and pending leave  Fix
on this page we will have a button of "Apply Leave".  Fix

@serviceproviderpk

[2019-11-27 07:20] serviceproviderpk commented on #212
4) use back button
![image](https://user-images.githubusercontent.com/19146254/69702084-426fe600-1110-11ea-9c98-0a016b410b74.png)

[2019-11-27 07:21] serviceproviderpk commented on #212
5) show student photo
![image](https://user-images.githubusercontent.com/19146254/69702140-616e7800-1110-11ea-98ee-c126ffde96dd.png)

[2019-11-27 07:27] Muhammadkhalid66 commented on #212
Login Page Enter Your NIC Fix

@serviceproviderpk

[2019-11-27 07:29] Muhammadkhalid66 commented on #212
5-show student photo Fix
![image](https://user-images.githubusercontent.com/41336284/69702659-84e5f280-1111-11ea-8079-085c133fecb2.png)

[2019-11-27 08:07] Muhammadkhalid66 commented on #212
4-use back button

![image](https://user-image@serviceproviderpk .githubusercontent.com/41336284/69705216-e8265380-1116-11ea-8248-93a149d2d645.png)

@serviceproviderpk

[2019-11-27 10:16] Muhammadkhalid66 commented on #212
4-on Fee, show amount in 2 decimal places Fix
RS 100
page heading and sub heading Fix

@serviceproviderpk

[2019-11-27 13:37] Muhammadkhalid66 commented on #212
Contact us static Page show branch info Fix

@serviceproviderpk

[2019-12-02 19:22] #213 closed, assigned to nobody

[2019-12-02 19:27] serviceproviderpk opened #214 "Niwe Feedback"
-

[2019-12-02 19:34] serviceproviderpk commented on #214
2) in edit profile image is looking strechted
![Screenshot_20191201-132048_Chrome](https://user-images.githubusercontent.com/19146254/69988690-f257b000-1563-11ea-8ce6-4bf6dfc1f264.jpg)

[2019-12-02 19:35] serviceproviderpk commented on #214
3) just add courses field in the student inquiries as per discussion with customer if we dont have courses at the moment and in API as well.

[2019-12-05 02:22] serviceproviderpk commented on #214
1) Dashboard Admin

-Active/Graduated/Terminated Students
-New Admissions
-Fee Collection Summary
-Attendance summary

2) Staff Dashboard

-Upcoming Events
-Program Hours and Remaining Hours
-Attendance Summary
-Latest Inquiry

3) Student Dashboard

Attendance Summary
Upcoming events
Program Hours and Remaining Hours
Total Fee and Remaining Fee

![school-management-dashboard](https://user-images.g

[2019-12-06 18:05] serviceproviderpk commented on #214
1) Student status
 ACTIVE STUDENTS
1
GRADUATED STUDENTS
1
LEAVE OF ABSENSE STUDENTS
1
TERMINATED STUDENTS

[2019-12-06 18:07] serviceproviderpk commented on #214
2)  Inquiry / Enrollment
Active Programs list

[2019-12-06 18:09] serviceproviderpk commented on #214
3) Fee Collections

[2019-12-06 18:10] serviceproviderpk commented on #214
4) Attednace

of actiave progarms
Absent,leave,Present

[2019-12-06 18:11] serviceproviderpk commented on #214
5) Service  request / order request
status wise

[2019-12-06 18:13] serviceproviderpk commented on #214
6) Transcript top 10

Name  |  Completed Hours | Final Marks

[2019-12-13 03:14] serviceproviderpk commented on #214
@TahirHussai

7) Admission Tracker

[2019-12-13 03:49] serviceproviderpk commented on #214
8) delet relation of all tables

[2019-12-16 02:13] serviceproviderpk commented on #211
My Dashboard  and left menu must contains following  links ( data will be displayed of ONLY Logged in user)

My To do list
My Meetings
My Readings
My Contacts
My Expenses
My Golden words
My Handicraft
My Poetry
My SMS
Edit Profile
Change Password

Contact Us ( User must be able to send us message by entering his "Name,Email,Subject, Message")
on contact us show email adress info@fun2fresh.com and

[2019-12-16 02:17] serviceproviderpk commented on #211
2) on Home page display following features ( i suggest find icon from icon finder, instead of depending on designer)

Funny SMS
Poetry
Golden words
Handicraft
Phone Directory (show  contact whose IsPublic or showtoother is true)
Members (show member list with Joining Date, contact Name city name) latest on top
Picture of the week

[2019-12-16 02:23] serviceproviderpk commented on #211
3) on homage page remove "Back" button
![image](https://user-images.githubusercontent.com/19146254/70874591-a598be00-1fd4-11ea-937f-4be37bc7b167.png)

4) on login page/regiter/forgetpassword page add link "Go to home"
when user click on it redirect him to home page
![image](https://user-images.githubusercontent.com/19146254/70874655-e8f32c80-1fd4-11ea-8878-1bd22235384b.png)

[2019-12-16 02:24] serviceproviderpk commented on #211
5) when  home page "http://fun2fresh.com/map/index"
open in browser show it in center of the web page
back ground of center white and other light gray.

[2019-12-16 02:26] serviceproviderpk commented on #211
6) if user is not logged in change "Logout?" to "Login"
![image](https://user-images.githubusercontent.com/19146254/70874766-599a4900-1fd5-11ea-9866-bb588a379bae.png)

[2019-12-16 02:30] serviceproviderpk commented on #211
7) Please create a new user and test all menu properly then msg me  of testing.

[2019-12-16 02:32] serviceproviderpk commented on #211
8) user session filter which are displaying data of logged in user and use session filter on page in which user is adding data.

[2019-12-16 02:33] serviceproviderpk commented on #211
9) Created Date will be saved from backend.
![image](https://user-images.githubusercontent.com/19146254/70875001-505dac00-1fd6-11ea-8b4e-c422865f43c8.png)
b) by default show to other set as false

[2019-12-16 02:35] serviceproviderpk commented on #211
10) Change record not found to "There is not  record, to display."

[2019-12-16 02:37] serviceproviderpk commented on #211
11) when user is loged in change "Login/Register" to "My Dashboard"
![image](https://user-images.githubusercontent.com/19146254/70875183-e1348780-1fd6-11ea-8847-3767a022e69e.png)

[2019-12-25 11:55] #211 closed, assigned to nobody

[2019-12-25 11:56] serviceproviderpk opened #215 "Fun2Fresh App Feedback"
-

[2019-12-25 12:03] serviceproviderpk commented on #215
1) Menu Settings

1) "My Profile" menu will have following sub menu
- My  To do list
- My Meetings
- My Readings
- My Contacts
- My Expenses
2) My Interests
  show menu according to the User Interests
3) Pic of the Week

4)  My Settings will have following sub menu
- My Profile
- Edit Profile
- Change Password

in footer  of left menu bar show logout button

[2019-12-25 12:08] serviceproviderpk commented on #215
2)  From Login page,  remove extra space from top/bottom, user must not be scrool down to see login button.
b) on login and register page add new link "Back to home"
when user lick on it show home page of the app.

[2019-12-25 13:05] serviceproviderpk commented on #215
3) in top header reduce logo height   40% please. so that it give some good look

[2019-12-26 18:20] Muhammadkhalid66 commented on #215
Menu Settings

"My Profile" menu will have following sub menu

My To do list
My Meetings
My Readings
My Contacts
My Expenses
My Interests
show menu according to the User Interests

Pic of the Week

My Settings will have following sub menu

My Profile
Edit Profile
Change Password
in footer of left menu bar show logout button

@serviceproviderpk

[2019-12-26 18:22] Muhammadkhalid66 commented on #215
1-Menu Settings

2-"My Profile" menu will have following sub menu Fix

My To do list
My Meetings
My Readings
My Contacts
My Expenses
My Interests
3-show menu according to the User Interests Fix

Pic of the Week

My Settings will have following sub menu Fix

My Profile
Edit Profile
Change Password
in footer of left menu bar show logout button Fix

@serviceproviderpk

[2019-12-26 20:18] Muhammadkhalid66 commented on #215
From Login page, remove extra space from top/bottom, user must not be scrool down to see login button. Fix
b) on login and register page add new link "Back to home"  Fix
when user lick on it show home page of the app.

@serviceproviderpk

[2019-12-27 02:24] serviceproviderpk commented on #215
1) from header reduce height of the logo 20% more
2)  in  left bar, for sub menu display arrow,
![image](https://user-images.githubusercontent.com/19146254/71497400-d4871d80-2879-11ea-976d-769d6210dd34.png)

note! it was already available in the code when i shared with you first time.

[2019-12-27 02:25] serviceproviderpk commented on #215
3) Logged in not working. its really amazing, you did lot of effort and login page not working!!

[2019-12-27 02:29] serviceproviderpk commented on #215
4) Change position of both link
![image](https://user-images.githubusercontent.com/19146254/71497514-5e36eb00-287a-11ea-86bb-49888e243721.png)
a) Forget Password  (left side)
b) Create Account (right side)
c) Improve formatting of  forgot Password page. its looking different from the theme
d) use sub heading for all pages with proper formatting

use proper css for both link